<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'M d, yy'
        });

        $('#advanced-search-link').click(function (e) {
            e.preventDefault();
            $('#advanced-search').toggle();
        });
    });
</script>

<h1 class="title">{{#__}}Bookings Report{{/__}}</h1>
<p class="description">{{#__}}Use search form below to see booking reports.{{/__}}</p>
{{&notice}}
{{#filters.search}}<p><a href="#" id="advanced-search-link">{{#__}}New Search{{/__}}</a></p>{{/filters.search}}
<div id="advanced-search" {{#filters.search}}class="hidden"{{/filters.search}}>
     <form method="get" action="">
        <table class="form-table">
            <tr>
                <td>{{#__}}ID{{/__}}</td>
                <td><input type="text" size="6" name="id" value="{{filters.id}}" /></td>
            </tr>
            <tr>
                <td>{{#__}}Hotel{{/__}}</td>
                <td>
                    <select name="hotel_id">
                        <option value="0">{{#__}}All Hotels{{/__}}</option>
                        {{#hotels}}
                        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}} - {{city_name}}, {{country_name}}</option>
                        {{/hotels}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{#__}}Guest Name{{/__}}</td>
                <td><input type="text" name="guest_name" value="{{filters.guest_name}}" /></td>
            </tr>
            <tr>
                <td>{{#__}}User Email{{/__}}</td>
                <td><input type="text" name="user_email" value="{{filters.user_email}}" /></td>
            </tr>
            <tr>
                <td>{{#__}}Role of Users{{/__}}</td>
                <td>
                    <select name="roles">
                        {{#roles}}
                        <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                        {{/roles}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{#__}}Booking Date{{/__}}</td>
                <td>
                    <input type="text" size="12" class="date" name="booking_start_date" value="{{filters.booking_start_date}}" /> - <input type="text" size="12" class="date" name="booking_end_date" value="{{filters.booking_end_date}}" />
                    <p class="description">{{#__}}You can leave this value blank to search every booking date.{{/__}}</p>
                </td>
            </tr>
            <tr>
                <td>{{#__}}Check-in Date{{/__}}</td>
                <td>
                    <input type="text" size="12" class="date" name="check_in_start_date" value="{{filters.check_in_start_date}}" /> - <input type="text" size="12" class="date" name="check_in_end_date" value="{{filters.check_in_end_date}}" />
                    <p class="description">{{#__}}You can leave this value blank to search every check-in date.{{/__}}</p>
                </td>
            </tr>
            <tr>
                <td>{{#__}}Check-out Date{{/__}}</td>
                <td>
                    <input type="text" size="12" class="date" name="check_out_start_date" value="{{filters.check_out_start_date}}" /> - <input type="text" size="12" class="date" name="check_out_end_date" value="{{filters.check_out_end_date}}" />
                    <p class="description">{{#__}}You can leave this value blank to search every check-out date.{{/__}}</p>
                </td>
            </tr>
        </table>
        <hr class="separator" />
        <table class="form-table">
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
            </tr>
        </table>
    </form>
</div>
{{#filters.search}}

<div class="section">
    <h3 class="title">{{#__}}Search Result{{/__}}: {{total_bookings}} {{#__}}Bookings{{/__}}</h3>
    <form action="" method="post">
        <div id="booking-detail-toolbar">
            <ul>
                <li><input type="submit" name="download_csv" value="Report as CSV"></li>
                <li><input type="submit" name="production_summary" value="Hotel Summary as CSV"></li>
            </ul>
            <div class="clear"></div>
        </div>
    </form> 
</div>
<table class="list-table">
    <thead>
        <tr>
            <th>{{#__}}ID{{/__}}</th>
            <th>{{#__}}Hotel Name{{/__}}</th>
            <th>{{#__}}Room Name{{/__}}</th>
            <th>{{#__}}Guest Name{{/__}}</th>
            <th>{{#__}}Booking Date{{/__}}</th>
            <th>{{#__}}Check-in Date{{/__}}</th>
            <th>{{#__}}Check-out Date{{/__}}</th>
            <th>{{#__}}Number of Nights{{/__}}</th>
            <th>{{#__}}Number of Rooms{{/__}}</th>
            <th>{{#__}}Detail{{/__}}</th>
        </tr>
    </thead>
    <tbody>
        {{#bookings}}
        <tr>      
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{name_booking}}{{id}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{hotel_name}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{room_name}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{title}}. {{first_name}} {{last_name}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{booking_date}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_in_date}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_out_date}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{number_of_nights}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{number_of_rooms}}</td>
            <td class="{{#is_canceled}}red-bg{{/is_canceled}}"><a href="{{#url}}booking/see/{{id}}{{/url}}">{{#__}}Detail{{/__}}</a></td>
        </tr>
        {{/bookings}}
    </tbody>
</table>
<div class="section">
    <h3 class="title">Statistics</h3>
    <table class="form-table report">
        <tbody>
            <tr>
                <td>{{#__}}Total Bookings{{/__}}</td>
                <td>{{total_number_of_bookings}}</td>
            </tr>
            <tr>
                <td>{{#__}}Total Number of Rooms{{/__}}</td>
                <td>{{total_number_of_rooms}}</td>
            </tr>
            <!-- /// Booking report statistic -->
            <tr>
                <td>{{#__}}Total Number of Room Nights{{/__}}</td>
                <td>{{total_number_of_room_nights}}</td>
            </tr>
            <tr>
                <td>{{#__}}Total Number of Cancel booking{{/__}}</td>
                <td>{{booking_cancel}}</td>
            </tr>
            <tr>
                <td>{{#__}}Total Room Nights of Cancel{{/__}}</td>
                <td>{{booking_cancel_nights}}</td>
            </tr>
            <tr>
                <td>{{#__}}Total Number of Adults{{/__}}</td>
                <td>{{total_number_of_adults}}</td>
            </tr>
            <tr>
                <td>{{#__}}Total Number of Children{{/__}}</td>
                <td>{{total_number_of_children}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{/filters.search}}
