<script type="text/javascript">
	$(document).ready(function() {
    $('.confirm').click(function() {
      return window.confirm('Are you sure want to do this action?');
    });
    
		/**
		 * Flot
		 * http://flot.googlecode.com/svn/trunk/API.txt
		 */

		// Show our plot placeholder
		// We made it hidden by default to make degradeable when javascript is disabled
		$('#plot').show();

		var visits_per_day = jQuery.parseJSON('{{&visits_per_day}}');
		var bookings_per_day = jQuery.parseJSON('{{&bookings_per_day}}');
		
		var data = [
			{
				color: '#0576CB',
				data: visits_per_day, 
				label: '{{#__}}Number of Visits{{/__}}',
				lines : {
					show: true,
					fill: true,
					fillColor: 'rgba(129, 183, 197, 0.1)'
				}
			},
			{
				color: '#50B432',
				data: bookings_per_day, 
				label: '{{#__}}Number of Bookings{{/__}}',
				lines : {
					show: true,
					fill: true,
					fillColor: 'rgba(183, 246, 126, 0.2)'
				}
			}
		];

		/*
		 * Nice color that you can use
		 * #0576CB
		 * #EE7951
		 * 
		 * Nice fill color that you can use
		 * rgba(129, 183, 197, 0.1)
		 * rgba(238, 121, 81, 0.1)
		 */
		
		function showTooltip(x, y, contents) {
			$('<div id="plot-tooltip">' + contents + '</div>').css({
				position: 'absolute',
				display: 'none',
				top: y,
				left: x,
				border: '1px solid #848689',
				'box-shadow': '1px 1px 1px #B1B1B1',
				padding: '4px 8px',
				'background-color': '#FFF'
			}).appendTo("body");
			
			var tooltip = $('#plot-tooltip');
			
			var leftShift = parseInt(x + (tooltip.outerWidth() / 2) - $(window).width());
			var rightShift = parseInt(x - (tooltip.outerWidth() / 2) + $(window).scrollLeft());
			
			if (leftShift < 0) {
				leftShift = 0;
			} 

			if (rightShift > 0) {
				rightShift = 0;
			}
			
			tooltip.css('left', parseInt(x - (tooltip.outerWidth() / 2) - leftShift + rightShift));
			tooltip.css('top', parseInt(y + 10));
//      tooltip.css('top', parseInt(y - 50));
			
			tooltip.fadeIn(200);
    }
		
		$.plot($("#plot"), data, {
			xaxis: { mode: "time"},
			points: {
				show: true,
				fill: true,
				radius: 3
			},
			grid: { 
				color: '#888',
				hoverable: true,
				mouseActiveRadius: 20
			}
		});
		
		$("#plot").bind("plothover", function (event, pos, item) {
			if (item) {
				if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#plot-tooltip").remove();
						var timestamp = item.datapoint[0];
						var	count = item.datapoint[1];

						var date = new Date(timestamp);
						
						if (item.seriesIndex == 0) {
							seriesText = "{{#__}}Number of Visits{{/__}}";
						} else {
							seriesText = "{{#__}}Number of Bookings{{/__}}";
						}
						
						showTooltip(item.pageX, item.pageY, date.toLocaleDateString() + '<br/>' + seriesText + ': ' + '<strong>' + count + '</strong>');
				}
			}
			else {
				$("#plot-tooltip").remove();
				previousPoint = null;            
			}
    });
    
		/*
     * Hotel Active
     */
		$('#hotel_active').change(function(){
	    	$("#submit-active").attr('name', 'hotel-active');
	      $('form').submit();
		});
	});
</script>

<h1 class="title">{{#__}}Dashboard{{/__}}</h1>
<p class="description">{{#__}}You can see your hotel statistic here.{{/__}}</p>
{{&notice}}
<div class="section">
  <h3 class="title">{{#__}}Hotel Rank{{/__}}</h3>
  <p class="description">{{#__}}Hotel ranking determine where your hotel will be displayed when guest perform search. The higher ranking of your hotel, the more chance guests book on your hotel. To improve your ranking, you can change your commission rate below. The higher commission you give, the more chance your hotel get into the top of the list. Hotel Ranking is updated daily.{{/__}}</p>
  <div>
    <div class="float-left" style="width: 340px;">
      <p class="underline">{{#__}}Top 10 Hotels in {{selected_hotel_city.name}}{{/__}}</p>
      <ul class="none">
        {{#top_city_hotels}}
        <li {{#is_selected_hotel}}class="bold"{{/is_selected_hotel}}>{{number}}. {{name}} {{#show_up}}<img src="{{base}}media/images/chart-up-color.png" />{{/show_up}}{{#show_down}}<img src="{{base}}media/images/chart-down-color.png" />{{/show_down}}</li>
        {{/top_city_hotels}}
        {{#show_rank_position_in_cities}}
        <li class="bold">{{rank_position_in_cities}}. {{selected_hotel.name}}</li>
        {{/show_rank_position_in_cities}}
      </ul>
    </div>
    {{#selected_hotel.district_id}}
    <div class="float-left" style="width: 340px;">
      <p class="underline">{{#__}}Top 10 Hotels in {{selected_hotel_district.name}}{{/__}}</p>
      <ul class="none">
        {{#top_district_hotels}}
        <li {{#is_selected_hotel}}class="bold"{{/is_selected_hotel}}>{{number}}. {{name}} {{#show_up}}<img src="{{base}}media/images/chart-up-color.png" />{{/show_up}}{{#show_down}}<img src="{{base}}media/images/chart-down-color.png" />{{/show_down}}</li>
        {{/top_district_hotels}}
        {{#show_rank_position_in_districts}}
        <li class="bold">{{rank_position_in_districts}}. {{selected_hotel.name}}</li>
        {{/show_rank_position_in_districts}}
      </ul>
    </div>
    {{/selected_hotel.district_id}}
    <div class="clear"></div>
  </div>
  <hr class="separator" />
  <form method="post" action="">
  <table class="form-table">
    {{#hoterip}}
    <tr>
      <td>{{#__}}Hotel Active{{/__}}</td>
      <td>
        <label><input type="checkbox" name="hotel_active" id="hotel_active"  value="1" {{#selected_hotel.active}}checked="checked"{{/selected_hotel.active}}/> {{#__}}Yes{{/__}}</label>
        <p class="description">{{#__}}Check if hotel is active.{{/__}}</p>
        <input type="hidden" id="submit-active" class="confirm" value="{{#__}}Hotel_Active{{/__}}" />
      </td>
    </tr>
    {{/hoterip}}
    <tr>
      <td>{{#__}}Commission Rate{{/__}}</td>
      <td>
        <input type="text" size="4" name="commission_rate" value="{{selected_hotel.commission_rate}}" /> %
        <p class="description">{{#__}}Enter commission rate between {{selected_hotel.commission_rate_minimum}}% - {{setting.maximum_commission_rate}}%{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit-rate" class="confirm" value="{{#__}}Change Commission{{/__}}" /></td>
    </tr>
    {{#hoterip}}
    <tr>
      <td>{{#__}}Commission Rate Minimum{{/__}}</td>
      <td>
        <input type="text" size="4" name="commission_rate_minimum" value="{{selected_hotel.commission_rate_minimum}}" /> %
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit-minimum-rate" class="confirm" value="{{#__}}Change Minimum Commission{{/__}}" /></td>
    </tr>
    {{/hoterip}}
  </table>
  </form>
</div>
<div class="section">
  <h3 class="title">{{#__}}Bookings{{/__}}</h3>
  <p class="description">{{#__}}You can see your booking statistic here.{{/__}}</p>
  <table class="form-table">
    <tr>
      <td>{{#__}}Today Booking{{/__}}</td>
      <td>{{today_number_of_bookings}}</td>
    </tr>
    <tr>
      <td>{{#__}}Yesterday Bookings{{/__}}</td>
      <td>{{yesterday_number_of_bookings}}</td>
    </tr>
    <tr>
      <td>{{#__}}Last 7 Days Bookings{{/__}}</td>
      <td>{{last_7_days_number_of_bookings}}</td>
    </tr>
    <tr>
      <td>{{#__}}This Month Bookings{{/__}}</td>
      <td>{{this_month_number_of_bookings}}</td>
    </tr>
  </table>
</div>
<div class="section">
  <h3 class="title">{{#__}}Top Products{{/__}}</h3>
  <p class="description">{{#__}}You can see your most sold products in last 30 days statistic here.{{/__}}</p>
  <ul class="none">
    {{#campaigns}}
    <li>
      {{number}}. {{room_name}}. {{benefit}} ({{total_campaigns}} {{#__}}Bookings{{/__}})</li>
    {{/campaigns}}
  </ul>
</div>
<div class="section">
  <h3 class="title">{{#__}}Chart{{/__}}</h3>
	<div id="plot"></div>
</div>
