<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="section">
	{{&form_open}}
	<h3 class="title">{{text_country}}</h3>
	<table class="form-table">
		<tr>
			<td>{{text_country_name}}</td>
			<td>{{&form_country_id}}<p class="description">{{text_country_name_description}}</p></td>
		</tr>
	</table>
	<h3 class="title">{{text_information}}</h3>
	<table class="form-table">
		{{#state_texts}}
		<tr>
			<td>{{text_state_name}} <span class="red">*</span></td>
			<td>{{&form_state_text_name}} <img class="flag" alt="flag" src="{{url_base}}media/images/languages/{{state_text_language_code}}.png"> {{state_text_language_name}}<p class="description">{{text_state_name_description}}</p></td>
		</tr>
		{{/state_texts}}
	</table>
	
	<hr class="separator" />
	
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td>{{&form_submit}}</td>
		</tr>
	</table>
	
	{{&form_close}}
</div>