<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
{{&form_open}}
<div class="toolbar">
	<ul>
		<li><a href="{{state_add_link}}">{{text_add}}</a></li>
		<li>{{&form_delete_checked}}</li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox">{{&form_check_all}}</th>
			<th>{{text_state_name}}</th>
			<th>{{text_country_name}}</th>
			<th>{{text_total_hotels}}</th>
			<th>{{text_action}}</th>
		</tr>
	</thead>
	<tbody>
		{{#states}}
		<tr>
			<td class="checkbox">{{&form_state_id}}</td>
			<td>{{state_name}}</td>
			<td>{{state_country_name}}</td>
			<td>{{state_total_hotels}}</td>
			<td><a href="{{state_edit_link}}">{{text_edit}}</a> <a href="{{state_delete_link}}" class="delete">{{text_delete}}</a></td>
		</tr>
		{{/states}}
	</tbody>
</table>
{{&form_close}}