<h1 class="title">{{#__}}Setting{{/__}}</h1>
<p class="description">{{#__}}Edit System Setting{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
  <table class="form-table">
    <tr>
      <td>{{#__}}Notice Text{{/__}}</td>
      <td>
        <input type="text" name="settings[notice_text]" value="{{setting.notice_text}}" />
        <p class="description">{{#__}}Notice text will be displayed on the website. Useful to make an announcement to the website visitors.{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Minimum Commission Rate{{/__}}</td>
      <td>
        <input type="text" size="4" name="settings[minimum_commission_rate]" value="{{setting.minimum_commission_rate}}" /> %
        <p class="description">{{#__}}Enter minimum hotel commission rate.{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Maximum Commission Rate{{/__}}</td>
      <td>
        <input type="text" size="4" name="settings[maximum_commission_rate]" value="{{setting.maximum_commission_rate}}" /> %
        <p class="description">{{#__}}Enter maximum hotel commission rate.{{/__}}</p>
      </td>
    </tr>
  </table>
  <h3 class="title">{{#__}}Ranking Factor{{/__}}</h3>
  <table class="form-table">
    <tr>
      <td>{{#__}}Commission Rate Weight{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_commission_rate_weight]" value="{{setting.rank_commission_rate_weight}}" /></td>
    </tr>
    <tr>
      <td>{{#__}}Number of Bookings Weight{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_number_of_bookings_weight]" value="{{setting.rank_number_of_bookings_weight}}" /></td>
    </tr>
    <tr>
      <td>{{#__}}Number of Bookings Days{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_number_of_bookings_days]" value="{{setting.rank_number_of_bookings_days}}" /> {{#__}}Days{{/__}}</td>
    </tr>
    <tr>
      <td>{{#__}}Number of Accesses Weight{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_number_of_accesses_weight]" value="{{setting.rank_number_of_accesses_weight}}" /></td>
    </tr>
    <tr>
      <td>{{#__}}Number of Accesses Days{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_number_of_accesses_days]" value="{{setting.rank_number_of_accesses_days}}" /> {{#__}}Days{{/__}}</td>
    </tr>
    <tr>
      <td>{{#__}}Review Score Weight{{/__}}</td>
      <td><input type="text" size="4" name="settings[rank_review_score_weight]" value="{{setting.rank_review_score_weight}}" /></td>
    </tr>
  </table>
  <hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>