<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="section">
	{{&form_open}}
	<h3 class="title">{{text_information}}</h3>
	<table class="form-table">
		<tr>
			<td>{{text_hotel_name}}</td>
			<td>{{hotel_name}}</td>
		</tr>
		<tr>
			<td>{{text_room_name}}</td>
			<td>{{room_name}}</td>
		</tr>
		<tr>
			<td>{{text_username}}</td>
			<td>{{user_username}}</td>
		</tr>
		<tr>
			<td>{{text_review_title}}</td>
			<td>{{&form_title}}<p class="description">{{text_review_title_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_content}}</td>
			<td>{{&form_content}}<p class="description">{{text_content_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_value_for_money_score}} <span class="red">*</span></td>
			<td>{{&form_value_for_money_score}}<p class="description">{{text_value_for_money_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_select_area_score}} <span class="red">*</span></td>
			<td>{{&form_select_area_score}}<p class="description">{{text_select_area_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_staff_performance_score}} <span class="red">*</span></td>
			<td>{{&form_staff_performance_score}}<p class="description">{{text_staff_performance_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_hotel_condition_score}} <span class="red">*</span></td>
			<td>{{&form_hotel_condition_score}}<p class="description">{{text_hotel_condition_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_room_comfort_score}} <span class="red">*</span></td>
			<td>{{&form_room_comfort_score}}<p class="description">{{text_room_comfort_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_food_dining_score}} <span class="red">*</span></td>
			<td>{{&form_food_dining_score}}<p class="description">{{text_food_dining_score_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_language}} <span class="red">*</span></td>
			<td>{{&form_language_id}}<p class="description">{{text_language_description}}</p></td>
		</tr>
	</table>
	
	<hr class="separator" />
	
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td>{{&form_submit}}</td>
		</tr>
	</table>
	
	{{&form_close}}
</div>