<script type="text/javascript">
	$(document).ready(function() {
		$('.detail').each(function (index) {
			$(this).dexcellTip({
				content: $(this).next().html()
			});
		});
	});
</script>
<h1 class="title">{{#__}}Manage Reviews{{/__}}</h1>
<p class="description">{{#__}}Manage hotel reviews. Yellow bar means review is not approved yet.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
<!--		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>-->
		<li><input type="submit" name="approve" value="{{#__}}Approve{{/__}}" /></li>
		<li><input type="submit" name="disapprove" value="{{#__}}Disapprove{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Hotel Name{{/__}}</th>
			<th>{{#__}}Score{{/__}}</th>
			<th>{{#__}}Submit Date{{/__}}</th>
			<th>{{#__}}Detail{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#reviews}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td {{^is_approved}}class="yellow-bg"{{/is_approved}}>{{hotel_name}}</td>
			<td {{^is_approved}}class="yellow-bg"{{/is_approved}}>{{score}}</td>
			<td {{^is_approved}}class="yellow-bg"{{/is_approved}}>{{submit_date}}</td>
			<td {{^is_approved}}class="yellow-bg"{{/is_approved}}>
				<a href="#" class="detail">{{#__}}Detail{{/__}}</a>
				<div class="hidden">
					<table class="detail-table" style="width: 400px;">
						<tr>
							<td>{{#__}}Content{{/__}}</td>
							<td>{{&content}}</td>
						</tr>
            <tr>
							<td>{{#__}}Tip{{/__}}</td>
							<td>{{&tip}}</td>
						</tr>
					</table>
				</div>
			</td>
			<td {{^is_approved}}class="yellow-bg"{{/is_approved}}><a href="{{#url}}review/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/reviews}}
	</tbody>
</table>
</form>
{{&pagination}}