<h1 class="title">{{#__}}Add Benefit{{/__}}</h1>
<p class="description">{{#__}}Add new benefit.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
	<h3 class="title">{{#__}}Informaiton{{/__}}</h3>
	<table class="form-table">
		{{#benefit_texts}}
		<tr>
			<td>{{#__}}Promotion Benefit{{/__}} <span class="red">*</span></td>
			<td>
				<!-- /// Benefit name textarea-->
        <textarea rows="4" cols="50"name="names[{{language.id}}]">{{name}}</textarea> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter Benefit Name. Enter benefit name in capital letters on each first letter in the word. For example: Free Coffee.{{/__}}</p>
      </td>
		</tr>
		{{/benefit_texts}}

		{{#hoterip}}
		<tr>
			<td>{{#__}}Net price{{/__}}</td>
			<td>
				<!-- /// Hoterip Campaign -->
				<input type="text" name="additional_price" value="{{benefit.additional_price}}"/>

			<select name="currency">
      	{{#currencies_text}}
      		<option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{code}}</option>
      	{{/currencies_text}}
    	</select>
      </td>
		</tr>
		{{/hoterip}}
		
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>