<script type="text/javascript">
	$(document).ready(function() {

    $(".dialog-benefit-used").click(function (e)
    {
    	var id = $(this).attr('href');
    	console.log(id);
			var x;
			var r=confirm("The benefit is used by some promotion. Are you sure to change it?");
			if (r==true)
			  {
			  	window.location = id;
			  }
			else
			  {
			  	return false;;
			  }
    });
    $(".dialog-benefit-view").click(function (e)
    {
			$("a.dialog-benefit-view").colorbox({width:"30%", height:"40%"});
		});
  });
</script>
<h1 class="title">{{#__}}Manage Benefits{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete benefit.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}benefit/add{{/url}}">{{#__}}Add New Benefit{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Benefit Name{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#benefits}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{name}}</td>
			<td>
			<a class = "dialog-benefit{{#campaign_benefit}}-used{{/campaign_benefit}}" href="{{#url}}benefit/edit/{{id}}{{/url}}">
			{{#__}}Edit{{/__}}</a> 
			<a class = "dialog-benefit{{#campaign_benefit}}-used{{/campaign_benefit}}" href="{{#url}}benefit/delete/{{id}}{{/url}}">{{#__}}Delete{{/__}}</a>
			{{#campaign_benefit}}
				<a class = "dialog-benefit-view" href="{{#url}}benefit/ajax/{{{id}}{{/url}}">{{#__}}View{{/__}}</a>
			{{/campaign_benefit}}
			</td>
		</tr>
		{{/benefits}}
	</tbody>
</table>
</form>

<div style='display:none'>
	<div id='inline_content' style='padding:10px; background:#fff;'></div>
</div>