<h1 class="title">{{#__}}Add Banner{{/__}}</h1>
<p class="description">{{#__}}Add banner. Banner will be resized automatically.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="" enctype="multipart/form-data">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
			<td>{{#__}}Title{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="title" value="{{values.title}}" /><p class="description">{{#__}}Enter title using capital letter on first word.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}URL{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="url" value="{{values.url}}" /><p class="description">{{#__}}Enter destination URL when banner clicked. You must include http:// in the URL{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Language{{/__}} <span class="red">*</span></td>
			<td>
        <select name="language_id">
          {{#languages}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/languages}}
        </select>
        <p class="description">{{#__}}Select language page where this banner will appear.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Image{{/__}} <span class="red">*</span></td>
			<td><input type="file" name="image" /><p class="description">{{#__}}Select image to upload. Only .jpg allowed. Maximum size is 1 MB. If your image is very big, please resize it first before uploading.{{/__}}</p></td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>
