<script type="text/javascript">
	$(document).ready(function() {
		$('.photos').sortable({
      cursor: 'move',
      opacity: 0.6,
      update: function() {
        var order = $(this).sortable("serialize");
        $.post("{{#url}}banner/reorder{{/url}}", order, function (response) {
        });
      }
    });
	});
</script>
<h1 class="title">{{#__}}Manage Banners{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete banners. If you find banner images is not updated, please refresh your browser. You can set the order of the banner by dragging the banner below.{{/__}}</p>
{{&notice}}
<div class="section">
	<p class="description"><a href="{{#url}}banner/add{{/url}}">{{#__}}Add New Banner{{/__}}</a></p>
	<ul class="photos">
    {{#banners}}
    <li id="banner_ids_{{id}}">
      <img src="{{banner_url}}/{{id}}.jpg" alt="{{title}}" width="220" style="cursor: move;" />
      <div class="description">
      <p>
        {{title}}<br />
        <a href="{{base}}banner/edit/{{id}}">{{#__}}Edit{{/__}}</a> <a href="{{base}}banner/delete/{{id}}" class="delete">{{#__}}Delete{{/__}}</a>
      </p>
      <p class="description">
        <img src="{{base}}media/images/languages/{{language_code}}.png" /> {{language_name}}
      </p>
      </div>
    </li>
    {{/banners}}
	</ul>
	<div class="clear"></div>
</div>
