<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}Edit City{{/__}}</h1>
<p class="description">{{#__}}Edit city.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
			<td>{{#__}}Country{{/__}}</td>
			<td>
        <select name="country_id">
          {{#countries}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/countries}}
        </select>
        <p class="description">{{#__}}Select the country where the city is located. You can search quickly by typing the name of the country name when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
		{{#city_texts}}
		<tr>
			<td>{{#__}}City Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter City Name. Enter city name in capital letters on each first letter in the word. For example: Cape Town.{{/__}}</p>
      </td>
		</tr>
		{{/city_texts}}
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>