<h1 class="title">{{#__}}Manage Cities{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete city.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}city/add{{/url}}">{{#__}}Add New City{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}City Name{{/__}}</th>
			<th>{{#__}}Country Name{{/__}}</th>
			<th>{{#__}}Total Hotels{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#cities}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{name}}</td>
			<td>{{country_name}}</td>
			<td>{{total_hotels}}</td>
			<td><a href="{{#url}}city/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}city/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/cities}}
	</tbody>
</table>
</form>