<script type="text/javascript">
	$(document).ready(function() {
    $.fn.digits = function(){ 
      return this.each(function(){ 
          $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
      })
    }

		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		
		$('#fill-stock').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=stock][dow=' + dow + ']').val($('input[name=auto_stock]').val());
          $('input[name^=stock][dow=' + dow + ']').trigger('change');
				}
			}); 
		});
		
		$('#fill-net-price').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=net_price][dow=' + dow + ']').val($('input[name=auto_net_price]').val());
          $('input[name^=net_price][dow=' + dow + ']').trigger('change');
				}
			}); 
		});

		$('#fill-price').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=price][dow=' + dow + ']').val($('input[name=auto_price]').val());
          
          $('input[name^=price][dow=' + dow + ']').trigger('change');
				}
			}); 
		});
    
    $('#fill-minimum-night').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=minimum_night][dow=' + dow + ']').val($('input[name=auto_minimum_night]').val());
          
          $('input[name^=minimum_night][dow=' + dow + ']').trigger('change');
				}
			}); 
		});
    
    $('#fill-is-blackout').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=is_blackout][dow=' + dow + ']').attr('checked', $('input[name=auto_is_blackout]').is(':checked'));
				}
			}); 
		});
    
    $('#fill-is-campaign-blackout').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();
					$('input[name^=is_campaign_blackout][dow=' + dow + ']').attr('checked', $('input[name=auto_is_campaign_blackout]').is(':checked'));
				}
			}); 
		});
    
    $('#fill-additional-pax-price').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();

					$('input[name^=additional_pax_price][dow=' + dow + ']').val($('input[name=auto_additional_pax_price]').val());
          
          $('input[name^=additional_pax_price][dow=' + dow + ']').trigger('change');
				}
			}); 
		});

		$('#fill-extrabed-item-price').click(function(e) {
			e.preventDefault();
			$('.dow-checkbox').each(function() {
				if ($(this).is(':checked')) {
					var dow = $(this).val();

					$('input[name^=extrabed_item_price][dow=' + dow + ']').val($('input[name=auto_extrabed_item_price]').val());
          
          $('input[name^=extrabed_item_price][dow=' + dow + ']').trigger('change');
				}
			}); 
		});

    {{^room.hoterip_campaign}}
    $('input[name^=price]').bind('change keyup', function(e) {
      var extranetPrice = $(this).val();
      var hotelRevenue = extranetPrice - (extranetPrice * {{selected_hotel.commission_rate}} / 100);
      
      var placeholder = $(this).parent().prev();
      placeholder.text(Math.round(hotelRevenue * 100) / 100);
      placeholder.digits();
    });
    {{/room.hoterip_campaign}}

    $('input[name^=stock]').bind('change keyup', function(e) {
      var td = $(this).parent();
      if ($(this).val() > 0) {
        td.removeClass('yellow-bg');
        td.addClass('green-bg');
      } else {
        td.removeClass('green-bg');
        td.addClass('yellow-bg');
      }
    });
		
		$('input[name^=fill_all]').click(function (e) {
			e.preventDefault();
			
			$('#fill-stock').trigger('click');
			$('#fill-net-price').trigger('click');
			$('#fill-price').trigger('click');
			$('#fill-minimum-night').trigger('click');
      $('#fill-is-blackout').trigger('click');
      $('#fill-is-campaign-blackout').trigger('click');
      $('#fill-is-no-arrival').trigger('click');
      $('#fill-is-no-departure').trigger('click');
		});
		
		$('#fill-days-of-week').bubble({
			content: $('#days-of-week-bubble')
		});
    
    $('#revenue-help').dexcellTip({
			content: $('#revenue-help').next().html()
		});
    
    {{#logged_in_admin.is_use_auto_save}}
    var count = 180;
    var autoString = '{{#__}}Auto saving in :count seconds{{/__}}';
    
    countdown = setInterval(function(){
      $("p.countdown").html(autoString.replace(':count', count));
      
      if (count == 0) {
        $('input[name=submit]').trigger('click');
      }
      count--;
    }, 1000);
    {{/logged_in_admin.is_use_auto_save}}

    $("#room_id").change(function(){
        var room_id = $(this).val();

        $.getJSON("{{#url}}item/manage/{{/url}}",{id: room_id, ajax: 'true'}, function(j){
        
		      var options = '';
		      for (var i = 0; i < j.length; i++) {
		        options += '<option value="' + j[i].id + '">' + j[i].name + '</option>';
		      }
		      $("#campaign_id").html(options);
		    });                 
   });
	});
</script>

<div id="days-of-week-bubble" class="hidden">
	<div class="hint">{{#__}}Select days of week you want to fill{{/__}}</div>
	<ul class="none">
		<li><label><input type="checkbox" value="0" checked="checked" class="dow-checkbox" /> {{#__}}Sunday{{/__}}</label></li>
		<li><label><input type="checkbox" value="1" checked="checked" class="dow-checkbox" /> {{#__}}Monday{{/__}}</label></li>
		<li><label><input type="checkbox" value="2" checked="checked" class="dow-checkbox" /> {{#__}}Tuesday{{/__}}</label></li>
		<li><label><input type="checkbox" value="3" checked="checked" class="dow-checkbox" /> {{#__}}Wednesday{{/__}}</label></li>
		<li><label><input type="checkbox" value="4" checked="checked" class="dow-checkbox" /> {{#__}}Thursday{{/__}}</label></li>
		<li><label><input type="checkbox" value="5" checked="checked" class="dow-checkbox" /> {{#__}}Friday{{/__}}</label></li>
		<li><label><input type="checkbox" value="6" checked="checked" class="dow-checkbox" /> {{#__}}Saturday{{/__}}</label></li>
	</ul>
</div>

<h1 class="title">{{#__}}Manage Items{{/__}}</h1>
<p class="description">{{#__}}Manage room stock and price. Price is Tax and Service Charge inclusive and should be entered using {{currency.code}}.{{/__}}</p>
{{&notice}}
{{#logged_in_admin.is_use_auto_save}}
<p class="countdown green">{{#__}}Auto saving in 180 seconds{{/__}}</p>
{{/logged_in_admin.is_use_auto_save}}
<form method="post" action="">
<div class="toolbar">
	<ul>
    <li>
      {{#__}}Room Name{{/__}}
      <select name="room_id" id="room_id">
        {{#rooms}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/rooms}}
      </select>
    </li>
    <li>{{#__}}From{{/__}} <input type="text" name="start_date" size="10" class="date" value="{{start_date}}" /> {{#__}}To{{/__}} <input type="text" name="end_date" size="10" class="date" value="{{end_date}}" /></li>
    <li><label><input type="checkbox" name="is_no_stock" value="1" {{#values.is_no_stock}}checked="checked"{{/values.is_no_stock}}/> {{#__}}No Stock Only{{/__}}</label></li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<!-- /// Hoterip Campaign -->
	{{#room.hoterip_campaign}}<span class="tooltip-red" style="margin-left:30px;">{{#__}}The room is for Hoterip Campaign{{/__}}</span>{{/room.hoterip_campaign}}
	<div class="clear"></div>
</div>

<div class="toolbar">
	<ul>
    <li>
      {{#__}}Campaign Name{{/__}}
      <select name="campaign_id" id="campaign_id">
        {{#campaigns}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/campaigns}}
      </select>
    </li>
	</ul>
	<div class="clear"></div>
</div>

</form>
<form method="post" action="">
<input type="hidden" name="room_id" value="{{room_id}}" />
<input type="hidden" name="start_date" value="{{start_date}}" />
<input type="hidden" name="end_date" value="{{end_date}}" />
<table class="list-table">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th><a href="#" id="fill-days-of-week">{{#__}}Fill Days{{/__}}</a></th>
			<th><input type="text" name="auto_stock" size="4" value="{{values.auto_stock}}" /></th>

      {{#room.hoterip_campaign}}
      <th><input type="text" name="auto_net_price" size="6" value="{{values.auto_net_price}}" /></th>
      {{/room.hoterip_campaign}}
      {{^room.hoterip_campaign}}
      <th>&nbsp;</th>
      {{/room.hoterip_campaign}}

			<th><input type="text" name="auto_price" size="6" value="{{values.auto_price}}" /></th>

			{{#room.hoterip_campaign}}
      <th><input type="text" name="auto_additional_pax_price" size="6" value="{{values.auto_additional_pax_price}}" /></th>
      {{/room.hoterip_campaign}}

			<th>{{^is_update_campaign}}<input type="text" name="auto_extrabed_item_price" size="6" value="{{values.auto_extrabed_item_price}}" />{{/is_update_campaign}}</th>
			<th><input type="text" name="auto_minimum_night" size="4" value="{{values.auto_minimum_night}}" /></th>
      <th>&nbsp;</th>
      <th><input type="checkbox" name="auto_is_blackout" value="1" /></th>
      <th><input type="checkbox" name="auto_is_campaign_blackout" value="1" /></th>
		</tr>
		<tr>
			<th colspan="2">&nbsp;</th>
			<th><input type="button" name="fill_all" value="{{#__}}Fill All{{/__}}" /></th>
			<th><a href="#" id="fill-stock"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>

      {{#room.hoterip_campaign}}
      <th><a href="#" id="fill-net-price"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>
      {{/room.hoterip_campaign}}
      {{^room.hoterip_campaign}}
      <th>&nbsp;</th>
      {{/room.hoterip_campaign}}

			<th><a href="#" id="fill-price"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>

			{{#room.hoterip_campaign}}
      <th><a href="#" id="fill-additional-pax-price"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>
      {{/room.hoterip_campaign}}

			<th>&nbsp;{{^is_update_campaign}}<a href="#" id="fill-extrabed-item-price"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a>{{/is_update_campaign}}</th>
			<th><a href="#" id="fill-minimum-night"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>
			<th>&nbsp;</th>
      <th><a href="#" id="fill-is-blackout"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>
			<th><a href="#" id="fill-is-campaign-blackout"><img src="{{base}}media/images/arrow-270.png" class="fill" /></a></th>
		</tr>
		<tr>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Day{{/__}}</th>
			<th>{{#__}}Date{{/__}}</th>
			<th>{{#__}}Stock{{/__}}</th>

			{{#room.hoterip_campaign}}
      <th>
        {{#__}}Net{{/__}} <a href="#" id="net-help">?</a>
      </th>
      {{/room.hoterip_campaign}}
			
			{{^room.hoterip_campaign}}
      <th>
        {{#__}}Revenue{{/__}} <a href="#" id="revenue-help">?</a>
        <div class="hidden">
          <div style="width: 200px;">{{#__}}Amount of money received by hotel when guest book on this date.{{/__}}</div>
        </div>
      </th>
      {{/room.hoterip_campaign}}

			<th>{{#__}}Price{{/__}}</th>

			{{#room.hoterip_campaign}}
				<th>{{#__}}Additional Pax Price{{/__}}</th>
			{{/room.hoterip_campaign}}
			<th>{{#__}}Extrabed Item Price{{/__}}</th>
			<th>{{#__}}Min. Night{{/__}}</th>
			<th>{{#__}}Sold{{/__}}</th>
      <th>{{#__}}Stop Sell{{/__}}</th>
      <th>{{#__}}Stop Promotion{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr>
			<td>{{room.name}}</td>
			<td>{{day}}</td>
			<td><input type="hidden" name="dates[{{date}}]" value="{{date}}" />{{display_date}}</td>
			<td class="{{#stock}}green-bg{{/stock}}{{^stock}}yellow-bg{{/stock}}"><input type="text" size="4" name="stocks[{{date}}]" value="{{stock}}" dow="{{dow}}"
			{{#is_update_campaign}}disabled{{/is_update_campaign}} /></td>

      {{#room.hoterip_campaign}}

			{{#hoterip}}
      	<td><input type="text" size="6" name="net_price[{{date}}]" value="{{net_price}}" dow="{{dow}}"
      	{{#is_update_campaign}}disabled{{/is_update_campaign}} /> {{currency}}</td>
      	<td><input type="text" size="6" name="prices[{{date}}]" value="{{price}}" dow="{{dow}}"
      	{{#is_update_campaign}}disabled{{/is_update_campaign}} /> {{currency}}</td>
      {{/hoterip}}

      {{^hoterip}}
      	<td><input type="text" name="net_price[{{date}}]" value="{{net_price}}" disabled > {{currency}}</td>
      	<td><input type="text" size="6" name="prices[{{date}}]" value="{{price}}" dow="{{dow}}" disabled /> {{currency}}</td>
      {{/hoterip}}

      {{/room.hoterip_campaign}}

      {{^room.hoterip_campaign}}
      	<td>{{revenue}}</td>
      	<td><input type="text" size="6" name="prices[{{date}}]" value="{{price}}" dow="{{dow}}"
      	{{#is_update_campaign}}disabled{{/is_update_campaign}} /> {{currency}}</td>
      {{/room.hoterip_campaign}}
			
			{{#room.hoterip_campaign}}

			{{#hoterip}}
      	<td><input type="text" size="4" name="additional_pax_price[{{date}}]" value="{{additional_pax_price}}" dow="{{dow}}" 
      {{#is_update_campaign}}disabled{{/is_update_campaign}} /></td>
      {{/hoterip}}

      {{^hoterip}}
      	<td><input type="text" size="4" name="additional_pax_price[{{date}}]" value="{{additional_pax_price}}" dow="{{dow}}" disabled/></td>
      {{/hoterip}}

      {{/room.hoterip_campaign}}

      <td><input type="text" size="4" name="extrabed_item_price[{{date}}]" value="{{extrabed_item_price}}" dow="{{dow}}" 
      disabled/></td>
      <!-- <td><input type="text" size="4" value="{{extrabed_item_price}}" dow="{{dow}}" 
      disabled />
      <input type="hidden" name="extrabed_item_price[{{date}}]" value="{{extrabed_item_price}}" > </td> -->
      <td><input type="text" size="4" name="minimum_nights[{{date}}]" value="{{minimum_night}}" dow="{{dow}}" 
      {{#is_update_campaign}}disabled{{/is_update_campaign}} /></td>
      <td>{{sold}}</td>
      <td><input type="checkbox" name="is_blackouts[{{date}}]" value="1" dow="{{dow}}" {{#is_blackout}}checked="checked"{{/is_blackout}} 
      {{#is_update_campaign}}disabled{{/is_update_campaign}} /></td>
      <td><input type="checkbox" name="is_campaign_blackouts[{{date}}]" value="1" dow="{{dow}}" {{#is_campaign_blackout}}checked="checked"{{/is_campaign_blackout}}
      {{#is_update_campaign}}disabled{{/is_update_campaign}} /></td>
		</tr>
		{{/items}}
	</tbody>
</table>
<hr class="separator" />
<input type="submit" name="submit" value="{{#__}}Submit{{/__}}" />
</form>