<div id="header-nav">
	<ul>
		{{#is_api}}
    <li><a href="#" id="new-bookings-link" class="new-booking">{{#__}}New Bookings{{/__}} ({{total_new_bookings}})</a>{{#total_new_bookings}}<img src="{{base}}media/images/new.png" />{{/total_new_bookings}}</li>
    {{/is_api}}
		<li><img src="{{base}}media/images/languages/{{selected_language.code}}.png" alt="flag" class="flag" /><a id="selected-language" href="{{#url}}language/index{{/url}}">{{selected_language.name}}</a></li>
		<li><a href="{{url_account_profile}}" id="logged-in-user" class="user">{{logged_in_admin.name}}</a></li>
		{{#is_api}}
			<li><a href="#" id="selected-hotel" class="hotel">{{selected_hotel.name}}</a></li>
		{{/is_api}}
		
		<li><a href="{{url_logout}}" class="logout">{{#__}}Logout{{/__}}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div id="new-bookings-bubble" class="hidden">
  {{#total_new_bookings}}
	<ul class="list-items">
		{{#new_bookings}}
		<li>
      <div class="list-item-title">{{hotel_name}}</div>
      <div>
        #{{id}}<br/>
        {{#__}}Room Name{{/__}}: {{room_name}}<br/>
        {{#__}}Check-in Date{{/__}}: {{check_in_date}}<br/>
        {{#__}}Check-out Date{{/__}}: {{check_out_date}}
      </div>  
      <a href="{{#url}}booking/see/{{id}}{{/url}}">{{#__}}See Booking Details{{/__}}</a>
    </li>
		{{/new_bookings}}
	</ul>
  {{/total_new_bookings}}
  {{^total_new_bookings}}
  {{#__}}No new booking{{/__}}
  {{/total_new_bookings}}
</div>
<div id="languages-bubble" class="hidden">
	<ul>
		{{#languages}}
		<li><a href="{{#url}}language/change/{{id}}{{/url}}">{{name}}</a></li>
		{{/languages}}
	</ul>
</div>
<div id="user-bubble" class="hidden">
	<div>
    <ul>
      <li><a href="{{url_account_profile}}">{{#__}}Update Profile{{/__}}</a></li>
      <li><a href="{{url_account_change_password}}">{{#__}}Change Password{{/__}}</a></li>
    </ul>
	</div>
</div>
<div id="hotels-bubble" class="hidden">
	<div id="filter_hotels">
		{{#__}}Filter{{/__}}: <input type="text" class="filter" size="20" />
		<div id="hotel-bubble-inner">
			<ul>
				{{#hotels}}
				<li><a href="{{#url}}hotel/change/{{id}}{{/url}}">{{name}}</a></li>
				{{/hotels}}
			</ul>
		</div>	
	</div>
</div>