<div id="sidebar-shadow"></div>
<div id="logo-wrapper"><a href="{{#url}}home/dashboard{{/url}}"><img src="{{base}}media/images/logo.png" alt="logo" id="logo" /></a></div>
<div id="sidebar-slides">
    <div class="sidebar-slides-container">
        {{#hotelier_menu}}
        <div class="nav{{#hotelier_index}} index{{/hotelier_index}}">
            <h1 class="title">{{#__}}Hotelier{{/__}}</h1>
            <ul>
                {{#home_dashboard}}<li{{#home_dashboard_selected}} class="selected"{{/home_dashboard_selected}}><a href="{{#url}}home/dashboard{{/url}}" class="dashboard">{{#__}}Dashboard{{/__}}</a></li>{{/home_dashboard}}
                {{#booking_manage}}<li{{#booking_manage_selected}} class="selected"{{/booking_manage_selected}}><a href="{{#url}}booking/manage{{/url}}" class="manage-bookings">{{#__}}Manage Bookings{{/__}}</a><span class="unread">{{total_new_hotel_bookings}}</span></li>{{/booking_manage}}
                {{#hotel_edit}}<li{{#hotel_edit_selected}} class="selected"{{/hotel_edit_selected}}><a href="{{#url}}hotel/edit{{/url}}" class="hotel-edit">{{#__}}Hotel Edit{{/__}}</a></li>{{/hotel_edit}}
                {{#photo_manage}}<li{{#photo_manage_selected}} class="selected"{{/photo_manage_selected}}><a href="{{#url}}photo/manage{{/url}}" class="manage-photos">{{#__}}Manage Photos{{/__}}</a>{{#photo_less}}<a class="tooltip-red" href="#" title="{{#__}}upload at least 9 photos more{{/__}}"> !</a></li>{{/photo_less}}{{/photo_manage}}
                {{#room_manage}}<li{{#room_manage_selected}} class="selected"{{/room_manage_selected}}><a href="{{#url}}room/manage{{/url}}" class="manage-rooms">{{#__}}Manage Rooms{{/__}}</a>{{#room_less}}<a class="tooltip-red" href="#" title="{{#__}}add at least 1 room more{{/__}}"> !</a></li>{{/room_less}}</li>{{/room_manage}}
                {{#cancellation_manage}}<li{{#cancellation_manage_selected}} class="selected"{{/cancellation_manage_selected}}><a href="{{#url}}cancellation/manage{{/url}}" class="manage-cancellations">{{#__}}Manage Cancel Policies{{/__}}</a>{{#policies_less}}<a class="tooltip-red" href="#" title="{{#__}}add policies which available at least 10 months later{{/__}}"> !</a></li>{{/policies_less}}</li>{{/cancellation_manage}}
                {{#item_manage}}<li{{#item_manage_selected}} class="selected"{{/item_manage_selected}}><a href="{{#url}}item/manage{{/url}}" class="manage-items">{{#__}}Manage Prices & Stocks{{/__}}</a>{{#stock_less}}<a class="tooltip-red" href="#" title="{{#__}}add price and stocks for every room at least 10 months later{{/__}}"> !</a>{{/stock_less}}</li>{{/item_manage}}
                
                {{#itemb2b_manage}}<li{{#itemb2b_manage_selected}} class="selected"{{/itemb2b_manage_selected}}><a href="{{#url}}itemb2b/manage{{/url}}" class="manage-items">{{#__}}Agent Prices & Stocks{{/__}}</a>{{#b2b_stock_less}}<a class="tooltip-red" href="#" title="{{#__}}add price and stocks for every room at least 10 months later{{/__}}"> !</a>{{/b2b_stock_less}}</li>{{/itemb2b_manage}}

                {{#promotion_manage}}<li{{#promotion_manage_selected}} class="selected"{{/promotion_manage_selected}}><a href="{{#url}}promotion/manage{{/url}}" class="manage-promotions">{{#__}}Manage Promotions{{/__}}</a>{{#campaigns_less}}<a class="tooltip-red" href="#" title="{{#__}}Please add promotion for enhancing your property{{/__}}"> !</a></li>{{/campaigns_less}}</li>{{/promotion_manage}}
                
                {{#surcharge_manage}}<li{{#surcharge_manage_selected}} class="selected"{{/surcharge_manage_selected}}><a href="{{#url}}surcharge/manage{{/url}}" class="manage-surcharges">{{#__}}Manage Surcharges{{/__}}</a></li>{{/surcharge_manage}}
                {{#restriction_manage}}<li{{#restriction_manage_selected}} class="selected"{{/restriction_manage_selected}}><a href="{{#url}}restriction/manage{{/url}}" class="manage-restrictions">{{#__}}Manage Restrictions{{/__}}</a></li>{{/restriction_manage}}
                {{#announcement_manage}}<li{{#announcement_manage_selected}} class="selected"{{/announcement_manage_selected}}><a href="{{#url}}announcement/manage{{/url}}" class="manage-announcement">{{#__}}Manage Announcements{{/__}}</a></li>{{/announcement_manage}}
                {{#report_finance}}<li{{#report_finance_selected}} class="selected"{{/report_finance_selected}}><a href="{{#url}}report/finance{{/url}}" class="finance-report">{{#__}}Finance Report{{/__}}</a></li>{{/report_finance}}
                {{#report_csv}}<li{{#report_csv_selected}} class="selected"{{/report_csv_selected}}><a href="{{#url}}csv/manage{{/url}}" class="finance-report">{{#__}}CSV Report{{/__}}</a></li>{{/report_csv}}
                {{#log_hotel}}<li{{#log_hotel_selected}} class="selected"{{/log_hotel_selected}}><a href="{{#url}}log/hotel{{/url}}" class="log-hotel">{{#__}}Hotel Logs{{/__}}</a></li>{{/log_hotel}}
                {{#api_access}}{{^is_api}}<li{{#api_access_selected}} class="selected"{{/api_access_selected}}><a href="{{#url}}api/edit/{{admin_id}}{{/url}}" class="manage-pages">{{#__}}API Access{{/__}}</a></li>{{/is_api}}{{/api_access}}
            </ul>
        </div>
        {{/hotelier_menu}}
        {{#system_menu}}
        <div class="nav{{#system_index}} index{{/system_index}}">
            <h1 class="title">{{#__}}System{{/__}}</h1>
            <ul>
                {{#report_booking_all}}<li{{#report_booking_all_selected}} class="selected"{{/report_booking_all_selected}}><a href="{{#url}}report/booking_all{{/url}}" class="booking-report">{{#__}}Booking Report{{/__}}</a></li>{{/report_booking_all}}
                {{#report_finance_all}}<li{{#report_finance_all_selected}} class="selected"{{/report_finance_all_selected}}><a href="{{#url}}report/finance_all{{/url}}" class="finance-report">{{#__}}Finance Report{{/__}}</a></li>{{/report_finance_all}}
                {{#promotion_search}}<li{{#promotion_search_selected}} class="selected"{{/promotion_search_selected}}><a href="{{#url}}search/promotion{{/url}}" class="promotion-search">{{#__}}Search Promotion{{/__}}</a></li>{{/promotion_search}}
                {{#admin_manage}}<li{{#admin_manage_selected}} class="selected"{{/admin_manage_selected}}><a href="{{#url}}admin/manage{{/url}}" class="manage-admins">{{#__}}Manage Admins{{/__}}</a></li>{{/admin_manage}}
                {{#subscribe_manage}}<li{{#subscribe_manage_selected}} class="selected"{{/subscribe_manage_selected}}><a href="{{#url}}subscribe/manage{{/url}}" class="manage-subscribe">{{#__}}Manage Subscribe{{/__}}</a></li>{{/subscribe_manage}}
                {{#user_manage}}<li{{#user_manage_selected}} class="selected"{{/user_manage_selected}}><a href="{{#url}}user/manage{{/url}}" class="manage-admins">{{#__}}Manage Users{{/__}}</a></li>{{/user_manage}}
<!-- agents -->
                <li><a href="{{#url}}agent/manage{{/url}}" class="manage-admins">{{#__}}Manage Agents{{/__}}</a></li>
                <li><a href="{{#url}}agent/assign{{/url}}" class="manage-admins">{{#__}}Assign Hotel to Agent{{/__}}</a></li>
<!-- agents -->
                {{#hotel_manage}}<li{{#hotel_manage_selected}} class="selected"{{/hotel_manage_selected}}><a href="{{#url}}hotel/manage{{/url}}" class="manage-hotels">{{#__}}Manage Hotels{{/__}}</a></li>{{/hotel_manage}}
                {{#hotel_assign}}<li{{#hotel_assign_selected}} class="selected"{{/hotel_assign_selected}}><a href="{{#url}}hotel/assign{{/url}}" class="assign-hotel">{{#__}}Assign Hotels{{/__}}</a></li>{{/hotel_assign}}
                
                
                
                {{#banner_manage}}<li{{#banner_manage_selected}} class="selected"{{/banner_manage_selected}}><a href="{{#url}}banner/manage{{/url}}" class="manage-banners">{{#__}}Manage Banners{{/__}}</a></li>{{/banner_manage}}
                {{#feature_manage}}<li{{#feature_manage_selected}} class="selected"{{/feature_manage_selected}}><a href="{{#url}}feature/manage{{/url}}" class="manage-features">{{#__}}Manage Featured Hotels{{/__}}</a></li>{{/feature_manage}}
                {{#deal_manage}}<li{{#deal_manage_selected}} class="selected"{{/deal_manage_selected}}><a href="{{#url}}deal/manage{{/url}}" class="manage-deals">{{#__}}Manage Hot Deals{{/__}}</a></li>{{/deal_manage}}
                {{#promotionpage_manage}}<li{{#promotionpage_manage_selected}} class="selected"{{/promotionpage_manage_selected}}><a href="{{#url}}promotionpage/manage{{/url}}" class="manage-promotions">{{#__}}Promotions Page{{/__}}</a></li>{{/promotionpage_manage}}				
                {{#review_manage}}<li{{#review_manage_selected}} class="selected"{{/review_manage_selected}}><a href="{{#url}}review/manage{{/url}}" class="manage-reviews">{{#__}}Manage Reviews{{/__}}</a>{{#new_review}}<a class="tooltip-red" href="#" title="{{#__}}You have {{new_review}} awaiting review(s){{/__}}"> !</a></li>{{/new_review}}</li>{{/review_manage}}
                
                {{#district_manage}}<li{{#district_manage_selected}} class="selected"{{/district_manage_selected}}><a href="{{#url}}district/manage{{/url}}" class="manage-districts">{{#__}}Manage Districts{{/__}}</a></li>{{/district_manage}}
                {{#city_manage}}<li{{#city_manage_selected}} class="selected"{{/city_manage_selected}}><a href="{{#url}}city/manage{{/url}}" class="manage-cities">{{#__}}Manage Cities{{/__}}</a></li>{{/city_manage}}
                {{#country_manage}}<li{{#country_manage_selected}} class="selected"{{/country_manage_selected}}><a href="{{#url}}country/manage{{/url}}" class="manage-countries">{{#__}}Manage Countries{{/__}}</a></li>{{/country_manage}}
                {{#page_manage}}<li{{#page_manage_selected}} class="selected"{{/page_manage_selected}}><a href="{{#url}}page/manage{{/url}}" class="manage-pages">{{#__}}Manage City Pages{{/__}}</a></li>{{/page_manage}}
                {{#benefit_manage}}<li{{#benefit_manage_selected}} class="selected"{{/benefit_manage_selected}}><a href="{{#url}}benefit/manage{{/url}}" class="manage-benefits">{{#__}}Manage Benefits{{/__}}</a></li>{{/benefit_manage}}
                {{#email_send}}<li{{#email_send_selected}} class="selected"{{/email_send_selected}}><a href="{{#url}}email/send{{/url}}" class="send-email">{{#__}}Send Email{{/__}}</a></li>{{/email_send}}
                {{#item_export}}<li{{#item_export_selected}} class="selected"{{/item_export_selected}}><a href="{{#url}}item/export{{/url}}" class="export-items">{{#__}}Export Stocks{{/__}}</a></li>{{/item_export}}
                {{#api_manage}}<li{{#api_manage_selected}} class="selected"{{/api_manage_selected}}><a href="{{#url}}api/manage{{/url}}" class="manage-pages">{{#__}}Manage API{{/__}}</a></li>{{/api_manage}}

                {{#apihotellist_manage}}<li{{#apihotellist_manage_selected}} class="selected"{{/apihotellist_manage_selected}}><a href="{{#url}}apihotellist/manage{{/url}}" class="manage-pages">{{#__}}Manage List Hotels API{{/__}}</a></li>{{/apihotellist_manage}}

                {{#setting_edit}}<li{{#setting_edit_selected}} class="selected"{{/setting_edit_selected}}><a href="{{#url}}setting/edit{{/url}}" class="edit-settings">{{#__}}Edit Settings{{/__}}</a></li>{{/setting_edit}}
            </ul>
        </div>
        {{/system_menu}}
    </div>
</div>
