<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}Manage Surcharges{{/__}}</h1>
<p class="description">{{#__}}Add surcharge charges such as New year Eve Gala Dinner, etc. Price must be entered using {{currency.code}}. Price are tax and service inclusive.{{/__}}</p>
{{&notice}}
<form action="" method="post">
<div class="toolbar">
	<ul>
		<li>{{#__}}From{{/__}} <input type="text" name="start_date" size="10" class="date" value="{{start_date}}"/> {{#__}}To{{/__}} <input type="text" name="end_date" size="10" class="date" value="{{end_date}}"/></li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>
<form action="" method="post">
<input type="hidden" name="hotel_id" value="{{selected_hotel.id}}" />
<input type="hidden" name="start_date" value="{{start_date}}" />
<input type="hidden" name="end_date" value="{{end_date}}" />
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Day{{/__}}</th>
			<th>{{#__}}Date{{/__}}</th>
			<th>{{#__}}Adult Price{{/__}}</th>
			<th>{{#__}}Child Price{{/__}}</th>
      <th>{{#__}}Description{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#surcharges}}
		<tr>
      <td>{{day}}</td>
			<td><input type="hidden" name="dates[{{date}}]" value="{{date}}" />{{display_date}}</td>
			<td><input type="text" size="6" name="adult_prices[{{date}}]" value="{{adult_price}}" /></td>
			<td><input type="text" size="6" name="child_prices[{{date}}]" value="{{child_price}}" /></td>
      <td>
        <select name="surcharge_description_ids[{{date}}]">
          <option value="0">-</option>
          {{#surcharge_descriptions}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{description}}</option>
          {{/surcharge_descriptions}}
        </select>
      </td>
		</tr>
		{{/surcharges}}
	</tbody>
</table>
<hr class="separator" />
<input type="submit" name="submit" value="{{#__}}Submit{{/__}}" />
</form>