<h1 class="title">{{#__}}Manage Users{{/__}}</h1>
<p class="description">{{#__}}You can edit or delete users here.{{/__}}</p>
{{&notice}}
<form method="get" action="">
<div class="toolbar">
	<ul>
    <li>
      <select name="field">
        {{#fields}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/fields}}
      </select>
      <input type="text" name="keyword" value="{{filters.keyword}}" />
    </li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>  
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Email{{/__}}</th>
      <th>{{#__}}First Name{{/__}}</th>
      <th>{{#__}}Last Name{{/__}}</th>
      <th>{{#__}}Mobile Phone{{/__}}</th>
      <th>{{#__}}Home Phone{{/__}}</th>
			<th>{{#__}}Point{{/__}}</th>
			<th>{{#__}}Language{{/__}}</th>
      <th>{{#__}}Subscriber{{/__}}</th>
      <th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
		<tr>
			<td>{{email}}</td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{mobile_phone}}</td>
      <td>{{home_phone}}</td>
			<td>{{point}}</td>
			<td>{{language_name}}</td>
			<td>{{#is_subscribe_newsletter}}{{#__}}Yes{{/__}}{{/is_subscribe_newsletter}}{{^is_subscribe_newsletter}}{{#__}}No{{/__}}{{/is_subscribe_newsletter}}</td>
      <td>
        {{#is_subscribe_newsletter}}
      		<a href="{{#url}}user/unsubscribe/{{id}}{{/url}}">{{#__}}Unsubscribe{{/__}}</a>
      	{{/is_subscribe_newsletter}}
      	{{^is_subscribe_newsletter}}
      		<a href="{{#url}}user/subscribe/{{id}}{{/url}}">{{#__}}Subscribe{{/__}}</a>
      	{{/is_subscribe_newsletter}}

      	<a href="{{#url}}user/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a>
      </td>
		</tr>
		{{/users}}
	</tbody>
</table>
{{&pagination}}
