<h1 class="title">{{#__}}Add Deal Hotel{{/__}}</h1>
<p class="description">{{#__}}Add new deal.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
      <td>{{#__}}Deal{{/__}}</td>
			<td>{{deal.name}}</td>
    </tr>
    <tr>
			<td>{{#__}}Hotel{{/__}} <span class="red">*</span></td>
			<td>
        <select name="hotel_id">
          {{#hotels}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}} - {{city_name}}, {{country_name}}</option>
          {{/hotels}}
        </select>
        <p class="description">{{#__}}Select hotel for this deal. You can search quickly by typing the name of the hotel when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Currency{{/__}} <span class="red">*</span></td>
			<td>
        <select name="currency_id">
          {{#currencies}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
          {{/currencies}}
        </select>
        <p class="description">{{#__}}Select currencies.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Price{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="price" value="{{values.price}}" />
        <p class="description">{{#__}}Enter deal price for this hotel.{{/__}}</p>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>