<script type="text/javascript">
$(document).ready( function () {

  $("#dialog-page-promotions").click(function (e)
  {
		$(this).colorbox({
		width:"30%",
		height:"80%",
		opacity:"0.9",
		onComplete: function(){
		  $('.list-table').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false
		  });
		}
		});
	});

  $("#dialog-page-area").click(function (e)
  {
		$("a#dialog-page-area").colorbox({
		width:"30%",
		height:"80%",
		opacity:"0.9",
		onComplete: function(){
		  $('.list-table').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false
		  });
		}
		});
	});

  $("[class|='promotion']").live('click', function (e)
  {
  	var promotionChecked = 0;
		var promotionChecked = $('input:checkbox:checked').length;
		var promotionName = $(this).attr("data-name");
		var promotionID = $(this).attr("data-id");

    if (promotionChecked > 3){
      alert('{{#__}}Can not be more than 3 checked{{/__}}');
      return false;
    }

   	$(".special-promotion-hotel").append('<p class="promotion-text-'+promotionID+'">'+promotionName+'</p>');
   	$(".special-promotion-hotel").append('<input type="hidden" class="special-promotion-input-'+promotionID+'" name="promotion_ids['+promotionID+']" value="'+promotionID+'">');

   	//Remove uncheked element
    if (!$(".promotion-"+promotionID).is(":checked"))
    {
  		$(".promotion-text-"+promotionID).remove();
  		$(".special-promotion-input-"+promotionID).remove();
  	}

  	var promotionInput =$("[class|='special-promotion-input']").map(function(){return $(this).val();}).get();

		// Load distric input
		$("#dialog-page-promotions").attr('href', '{{#url}}page/edit/{{city_page_id}}?city_id={{city_id}}&type=special-promotion&data='+promotionInput+'{{/url}}');
	});

  $("[class|='district']").live('click', function (e)
  {
  	var areaChecked = 0;
		var areaChecked = $('input:checkbox:checked').length;
		var areaName = $(this).attr("data-name");
		var areaID = $(this).attr("data-id");

    if (areaChecked > 3){
      alert('{{#__}}Can not be more than 3 checked{{/__}}');
      return false;
    }

    // Append Element
   	$(".area-district-hotel").append('<p class="area-hotel-text-'+areaID+'">'+areaName+'</p>');
   	$(".area-district-hotel").append('<input type="hidden" class="area-hotel-input-'+areaID+'" name="area_ids['+areaID+']" value="'+areaID+'">');

   	//Remove uncheked element
    if (!$(".district-"+areaID).is(":checked"))
    {
  		$(".area-hotel-text-"+areaID).remove();
  		$(".area-hotel-input-"+areaID).remove();
  	}

		var areaInput =$("[class|='area-hotel-input']").map(function(){return $(this).val();}).get();

		// Load area input
		$("#dialog-page-area").attr('href', '{{#url}}page/edit/{{city_page_id}}?city_id={{city_id}}&type=area-hotel&data='+areaInput+'{{/url}}');
	});
});
</script>

<h1 class="title">{{#__}}Manage City Page{{/__}}</h1>
<p class="description">{{#__}}Manage City Page.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
		<input type="hidden" name="city_page_id" value="{{city_page_id}}"/>
		<table class="form-table">
	    <tr>
				<td>{{#__}}Country{{/__}}</td>
				<td>
						{{country_name}}
						<input type="hidden" name="country_id" value="{{country_id}}"/>
				</td>
			</tr>
	    <tr>
				<td>{{#__}}City{{/__}}</td>
				<td>
					{{city_name}}
					<input type="hidden" name="city_id" value="{{city_id}}"/>
	      </td>
			</tr>
			{{#description_texts}}
			<tr>
				<td>{{#__}}Descriptions{{/__}} <span class="red">*</span></td>
				<td>
					<textarea rows="4" cols="50" name="names[{{language.id}}]" >{{name}}</textarea> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
	        <p class="description">{{#__}}Enter Description Texts.{{/__}}</p>
					<input type="hidden" name="description_id" value="{{description_id}}"/>
	      </td>
			</tr>
			{{/description_texts}}

			<tr>
				<td>{{#__}}Special Promotions{{/__}}</td>
				<td><a id = "dialog-page-promotions" href="{{#url}}page/edit/{{city_page_id}}?city_id={{city_id}}&type=special-promotion{{/url}}">{{#__}}Choose Hotel{{/__}}</a></td>
			</tr>

			<tr>
				<td>{{#__}}Special Promotions Hotels{{/__}}</td>
				<td class="special-promotion-hotel">
					{{#location_hotels.special_promotions}}
						<p class="promotion-text-{{id}}">{{name}}</p>
						<input type="hidden" class="special-promotion-input-{{id}}" name="promotion_ids[{{id}}]" value="{{id}}">
					{{/location_hotels.special_promotions}}
				</td>
			</tr>

			<tr>
				<td>{{#__}}Area Hotels{{/__}}</td>
				<td><a id ="dialog-page-area" href="{{#url}}page/edit/{{city_page_id}}?city_id={{city_id}}&type=area-hotel{{/url}}">{{#__}}Choose Hotel{{/__}}</a></td>
			</tr>

	    <tr>
				<td>{{#__}}Area Hotels{{/__}}</td>
				<td class="area-district-hotel">
					{{#location_hotels.area_district_hotel}}
						<p class="area-hotel-text-{{id}}">{{name}}</p>
						<input type="hidden" class="area-hotel-input-{{id}}" name="area_ids[{{id}}]" value="{{id}}">
					{{/location_hotels.area_district_hotel}}
				</td>
			</tr>
		</table>

	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>
