<h1 class="title">{{#__}}Manage City Page{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete city.{{/__}}</p>
{{&notice}}
<form method="get" action="">
<div class="toolbar">
	<ul>
    <li>
      <select name="field">
        {{#fields}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/fields}}
      </select>
      <input type="text" name="keyword" value="{{filters.keyword}}" />
    </li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form> 
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" disabled="disabled"/></th>
			<th>{{#__}}City Name{{/__}}</th>
			<th>{{#__}}Country Name{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#countries}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="" value="" disabled="disabled" /></td>
			<td>{{city_name}}</td>
			<td>{{country_name}}</td>
			<td><a href="{{#url}}page/edit/{{city_page_id}}?country_id={{country_id}}&city_id={{city_id}}{{/url}}">{{#__}}Manage{{/__}}</a></td>
		</tr>
		{{/countries}}
	</tbody>
</table>
{{&pagination}}