<h1 class="title">{{#__}}Add Admin{{/__}}</h1>
<p class="description">{{#__}}Add new admin{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}Username{{/__}}</td>
			<td><input type="text" name="username" value="{{values.username}}" /><p class="description">{{#__}}Enter admin username. Between 4 - 30 characters. No spaces or symbol.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Name{{/__}}</td>
			<td><input type="text" name="name" value="{{values.name}}" /><p class="description">{{#__}}Enter admin name. First name followed by last name.{{/__}}</p></p></td>
		</tr>
		<tr>
			<td>{{#__}}Email{{/__}}</td>
			<td><input type="text" name="email" value="{{values.email}}" /><p class="description">{{#__}}Enter valid email address.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Password{{/__}}</td>
			<td><input type="password" name="password" value="" /><p class="description">{{#__}}Enter Password.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Password Confirmation{{/__}}</td>
			<td><input type="password" name="password_confirm" value="" /><p class="description">{{#__}}Re-enter Password.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Receive Email{{/__}}</td>
			<td><input type="checkbox" name="is_receive_email" value="1" {{#values.is_receive_email}}checked="checked"{{/values.is_receive_email}} /><p class="description">{{#__}}Check to receive email notification.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Role{{/__}}</td>
			<td>
        <select name="role">
          {{#roles}}
          <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/roles}}
        </select>
        <p class="description">{{#__}}Select admin role.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Time Zone{{/__}}</td>
			<td>
        <select name="timezone">
          {{#timezones}}
          <option value="{{identifier}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/timezones}}
        </select>
        <p class="description">{{#__}}Select admin time zone.{{/__}}</p>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>