<h1 class="title">{{#__}}Manage Admins{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hotel admins.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}admin/add{{/url}}">{{#__}}Add New Admin{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Username{{/__}}</th>
			<th>{{#__}}Email{{/__}}</th>
			<th>{{#__}}Name{{/__}}</th>
			<th>{{#__}}Role{{/__}}</th>
      <th>{{#__}}Receive Email{{/__}}</th>
      <th>{{#__}}Number of Managed Hotels{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#admins}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{username}}</td>
			<td>{{email}}</td>
			<td>{{name}}</td>
			<td>{{role}}</td>
      <td>{{#is_receive_email}}{{#__}}Yes{{/__}}{{/is_receive_email}}{{^is_receive_email}}{{#__}}No{{/__}}{{/is_receive_email}}</td>
      <td>{{total_hotels}}</td>
			<td><a href="{{#url}}admin/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}admin/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/admins}}
	</tbody>
</table>
</form>