
<script type="text/javascript">
	$(document).ready(function() {
    
            $('.recommend').each(function(){
                if($(this).prop('checked') == true){
                    $(this).parent().find($('.order')).prop('disabled',false);
                }

                $(this).bind('change',function(){
                    if(this.checked == true){
                        $(this).attr('value','1');
                        $(this).parent().find($('.order')).prop('disabled',false);
                    }else{
                        $(this).attr('value','0');
                        $(this).parent().find($('.order')).prop('disabled',true);
                    }
                });

            });
            
            $('.persen').each(function(){
                $(this).bind('click',function(){
                    if(this.checked == true){
                        $(this).parent().find($('.markup')).attr('maxlength','3');
                        nilai = $(this).parent().find($('.markup')).val();
                        if((nilai.length) > 3){
                            jml = nilai.substring(0, 3);
                            if(jml > 100){
                                jml = 100;
                            }
                            $(this).parent().find($('.markup')).val(jml);
                        }
                    }else{
                        $(this).parent().find($('.markup')).removeAttr('maxlength');
                    }
                });
            });

            $('.mark').each(function(){
                $(this).bind('click',function(e){
                    e.preventDefault();
                    no = $(this).attr('no');
                    $('#box_'+no).show();
                    $('#fix_'+no).hide();
                });
            });
            $('.close_m').each(function(){
                $(this).bind('click',function(e){
                    e.preventDefault();
                    no = $(this).attr('no');
                    $('#box_'+no).hide();
                    $('#fix_'+no).show();
                });
            });
            $('#srt_table').DataTable({
                bFilter: false, bLengthChange: false,
                "order": [[ 3, "desc" ]]
            });
            //$('#srt_table').tablesorter();
	});
</script>
<h1 class="title">{{#__}}Assign Hotel{{/__}}</h1>
<p class="description">{{#__}}Assign hotel to agent so agent can select and manage the hotel.{{/__}}</p>
{{&notice}}
<form method="post" action="">
    <table class="form-table">
        <tr>
            <td>{{#__}}Agents{{/__}}</td>
            <td>
                <select name="agent_id">
                    {{#agents}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{display_name}} - {{first_name}} {{last_name}}</option>
                    {{/agents}}
                </select>
                <input type="submit" name="view" value="{{#__}}View assigned hotels{{/__}}" />
                <p class="description">{{#__}}Select Agents to be assigned.{{/__}}</p>
            </td>
        </tr>
        <tr>
            <td>{{#__}}Hotel Name{{/__}}</td>
            <td>
                <select name="hotel_id">
                    <option value="0">{{#__}}All{{/__}}</option>
                    {{#hotels}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}} - {{city_name}}</option>
                    {{/hotels}}
                </select>
                <p class="description">{{#__}}Select hotel to assign. You can search quickly by typing the name of the hotel when selecting the dropdown box.{{/__}}</p>
            </td>
        </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="assign" value="{{#__}}Assign{{/__}}" /></td>
        </tr>
    </table>

    <div class="toolbar">
        <ul>
            <li><input type="submit" name="unassign" value="{{#__}}Unassign{{/__}}" /></li>
            <li><input type="submit" name="update" value="{{#__}}Update{{/__}}" /></li>
        </ul>
        <div class="clear"></div>
    </div>
    <table class="list-table" id="srt_table">
        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
                <th>{{#__}}Hotel Name{{/__}}</th>
                <th>{{#__}}Country{{/__}}</th>
                <th>{{#__}}City{{/__}}</th>
                <th>{{#__}}Mark up{{/__}}</th>
                <th>{{#__}}Recommend{{/__}}</th>
            </tr>
        </thead>
        <tbody>
            {{#assign_hotel}}
            <tr>
                <td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
                <td>{{name}}</td>
                <td>{{country_name}}</td>
                <td>{{city_name}}</td>
                <td style="width:170px;text-align:center;">
                    <div id="box_{{id}}" style="display:none;">
                            <span class="float-left"> % </span>
                            <input type="checkbox" class="persen float-left" name="persen[{{id}}]" value="1" {{#persen}}checked="checked"{{/persen}} style="margin:5px 3px 0 0px"/>
                            <input type="text" class="markup float-left" name="markup[{{id}}]" value="{{markup}}" {{#maxLength}}maxlength="3"{{/maxLength}}  style="width:100px;margin:0 5px 0 2px;"/>
                            <input type="submit" name="update" value="{{#__}}Update{{/__}}" /> | <a href="#" class="close_m" no="{{id}}">Close</a>
                    </div>
                    <div id="fix_{{id}}">
                        <span>{{markup_text}} {{#idr}}{{currency}}{{/idr}}{{#persen}} %{{/persen}} | </span>
                        <a href="#" class="mark" no="{{id}}">Edit</a>
                    </div>
                </td>
                <td class="checkbox"><input type="checkbox" class="recommend float-left" name="recommend[{{id}}]" value="1" {{#recommend}}checked="checked"{{/recommend}} style="margin:0 3px 0 5px "/><input type="text" class="order float-left" name="order[{{id}}]" value="{{order}}" disabled="disabled" style="width:25px;margin:0 5px 0 2px;text-align:center;"/></td>
            </tr>
            {{/assign_hotel}}
        </tbody>
    </table>
</form>