<script type="text/javascript">
    $(document).ready(function() {
        $.fn.digits = function(){ 
            return this.each(function(){ 
                $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
            })
          }
        $('#ubah_deposit').click(function(){
            if($(this).is(':checked')){
                $('#text_deposit').hide();
                $('#form_deposit').show();
                $('input[name="addition_deposit"]').val('');
                $('input[name="addition_deposit"]').attr('disabled','disabled');
            }else{
                $('#text_deposit').show();
                $('#form_deposit').hide();
                $('input[name="addition_deposit"]').val('');
                $('input[name="addition_deposit"]').removeAttr('disabled','disabled');
            }
        });
    });
</script>
<h1 class="title">{{#__}}Edit Agent{{/__}}</h1>
<p class="description">{{#__}}Edit agent{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}Username{{/__}}</td>
			<td><input type="text" name="username" value="{{agent.display_name}}" /><p class="description"></td>
		</tr>
		<tr>
			<td>{{#__}}Agent Name{{/__}}</td>
			<td><input type="text" name="name" value="{{agent.first_name}} {{agent.last_name}}" /></td>
		</tr>
		<tr>
			<td>{{#__}}Email{{/__}}</td>
			<td><input type="text" name="email" value="{{agent.email}}" /></td>
		</tr>
		<tr>
			<td>{{#__}}Telephone{{/__}}</td>
			<td><input type="text" name="home_phone" value="{{agent.home_phone}}" /></td>
		</tr>
		<tr>
			<td>{{#__}}Password{{/__}}</td>
			<td><input type="password" name="password" value="" /></td>
		</tr>
		<tr>
			<td>{{#__}}Password Confirmation{{/__}}</td>
			<td><input type="password" name="password_confirm" value="" /></td>
		</tr>
                <tr>
                    <td>{{#__}}Latest Additional Deposit {{/__}}</td>
                    <td><span id="text_deposit">{{text_deposit.Ldeposit}}</span><span id="form_deposit" style="display:none;"><input type="text" name="revisi_deposit" /></span> <input type="checkbox" name="ubah_deposit" id="ubah_deposit" value="1" /> {{#__}}Revisi Deposit{{/__}}</td>
                </tr>
                <tr>
			<td>{{#__}}Floating Deposit{{/__}}</td>
			<td>{{text_deposit.Fdeposit}}<input type="hidden" name="floating_deposit" value="{{agent.floating_deposit}}" readonly="readonly"/></td>
		</tr>
                <tr>
			<td>{{#__}}Balance Deposit{{/__}}</td>
			<td>{{text_deposit.Bdeposit}}<input type="hidden" name="balance_deposit" value="{{agent.balance_deposit}}" readonly="readonly" /></td>
		</tr>
                <tr>
			<td>{{#__}}Additional Deposit {{/__}}</td>
			<td><input type="hidden" name="now_deposit" value="{{agent.addition_deposit}}" /><input type="text" name="addition_deposit" value="0" /></td>
		</tr>
                <tr>
			<td>{{#__}}Subscriber{{/__}}</td>
			<td><input type="checkbox" name="is_receive_email" value="1" {{#agent.is_subscribe_newsletter}}checked="checked"{{/agent.is_subscribe_newsletter}} /></td>
		</tr>
                <tr>
			<td>{{#__}}Time Zone{{/__}}</td>
			<td>
        <select name="timezone">
          {{#timezones}}
          <option value="{{identifier}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/timezones}}
        </select>
        <p class="description">{{#__}}Select agent time zone.{{/__}}</p>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>