<h1 class="title">{{#__}}Manage Agent{{/__}}</h1>
<p class="description">{{#__}}You can edit or delete users here.{{/__}}</p>
{{&notice}}
<form method="get" action="">
    <div class="toolbar">
        <ul>
            <li>
                <select name="field">
                    {{#fields}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                    {{/fields}}
                </select>
                <input type="text" name="keyword" value="{{filters.keyword}}" />
            </li>
            <li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
        </ul>
        <div class="clear"></div>
    </div>
</form>
<table class="list-table">
    <thead>
        <tr>
            <th>{{#__}}Username{{/__}}</th>
            <th>{{#__}}Email{{/__}}</th>
            <th>{{#__}}Agent Name{{/__}}</th>
            <th>{{#__}}Phone Number{{/__}}</th>
            <th>{{#__}}Language{{/__}}</th>
            <th>{{#__}}Subscriber{{/__}}</th>
            <th>{{#__}}Number of Assign Hotel{{/__}}</th>
            <th>{{#__}}Action{{/__}}</th>
        </tr>
    </thead>
    <tbody>
        {{#agents}}
        <tr>
            <td>{{display_name}}</td>
            <td>{{email}}</td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{home_phone}}</td>
            <td>{{language_name}}</td>
            <td>{{#is_subscribe_newsletter}}{{#__}}Yes{{/__}}{{/is_subscribe_newsletter}}{{^is_subscribe_newsletter}}{{#__}}No{{/__}}{{/is_subscribe_newsletter}}</td>
            <td>{{hotel_assigned}}</td>
            <td>
                <a href="{{#url}}agent/edit/{{id}}{{/url}}" class="edit">{{#__}}Edit{{/__}}</a>
                <a href="{{#url}}agent/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a>
            </td>
        </tr>
        {{/agents}}
    </tbody>
</table>