<script type="text/javascript">
	$(document).ready(function() {
    $('select[name="hotel_photo_id"]').bind('change keyup', function() {
      var id = $(this).val();
      
      $('#hotel-photos').children().hide();
      $('#hotel-photo-' + id).show();
    });
    
    $('select[name="hotel_photo_id"]').trigger('change');
	});
</script>
<h1 class="title">{{#__}}Edit Room{{/__}}</h1>
<p class="description">{{#__}}Enter room information, facility and capacity.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    {{#hoterip}}
    <tr>
      <td>{{#__}}Hoterip Campaign{{/__}} <span class="red">*</span></td>
      <td>
        <label><input type="checkbox" name="hoterip_campaign" value="1" {{#room.hoterip_campaign}}checked="checked"{{/room.hoterip_campaign}} /> {{#__}}Yes{{/__}}
        <p class="description">{{#__}}Check if this room is Hoterip Campaign.{{/__}}</p>
      </td>
    </tr>
    {{/hoterip}}
		{{#room_texts}}
		<tr>
			<td>{{#__}}Room Name{{/__}} <span class="red">*</span></td>
      <td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter room name in capital letters on each first letter in the word. For example: Beach View Suite. If you can not write in this language, please write in English.{{/__}}</p>
      </td>
		</tr>
		{{/room_texts}}
    <tr>
			<td>{{#__}}Room Size{{/__}}</td>
			<td><input type="text" name="size" size="4" value="{{room.size}}" /> m<sup>2</sup><p class="description">{{#__}}Enter room size in meter square.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Number of Beds{{/__}}</td>
			<td><input type="text" name="number_of_beds" size="4" value="{{room.number_of_beds}}" /><p class="description">{{#__}}Enter number of beds in this room.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Publish Price{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="publish_price" size="6" value="{{room.publish_price}}" /> {{currency.code}}<p class="description">{{#__}}Enter room publish price. Price are tax and service inclusive.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Adult Breakfast Price{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="adult_breakfast_price" size="6" value="{{room.adult_breakfast_price}}" /> {{currency.code}}<p class="description">{{#__}}Enter breakfast price for adult. Price are tax and service inclusive. This price is provided to the guest as information if he want to add additional breakfast.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Child Breakfast Price{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="child_breakfast_price" size="6" value="{{room.child_breakfast_price}}" /> {{currency.code}}<p class="description">{{#__}}Enter breakfast price for child. Price are tax and service inclusive. This price is provided to the guest as information if he want to add additional breakfast.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Breakfast Included{{/__}} <span class="red">*</span></td>
      <td><label><input type="checkbox" name="is_breakfast_included" value="1" {{#room.is_breakfast_included}}checked="checked"{{/room.is_breakfast_included}} /> {{#__}}Included for{{/__}}</label> <input type="text" name="number_of_persons_breakfast_included" size="2" value="{{room.number_of_persons_breakfast_included}}" /> {{#__}}Persons{{/__}}<p class="description">{{#__}}Check if breakfast is included when guest staying in this room, and enter number of persons receiving the breakfast.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Extra Bed Price{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="extrabed_price" size="6" value="{{room.extrabed_price}}" /> {{currency.code}}<p class="description">{{#__}}Enter extra bed price. Price are tax and service inclusive.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Maximum Number of Extra Beds{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="maximum_number_of_extrabeds" size="4" value="{{room.maximum_number_of_extrabeds}}" /><p class="description">{{#__}}Maximum number of extra beds that can be entered into this room.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}Extra Bed Get Breakfast{{/__}} <span class="red">*</span></td>
      <td><label><input type="checkbox" name="is_extrabed_get_breakfast" value="1" {{#room.is_extrabed_get_breakfast}}checked="checked"{{/room.is_extrabed_get_breakfast}} /> {{#__}}Yes{{/__}}</label><p class="description">{{#__}}Check if guest will receive breakfast when using extra bed.{{/__}}</p></td>
		</tr>
	</table>
  <h3 class="title">{{#__}}Photo{{/__}}</h3>
  <p class="description">{{#__}}Select photo for this room. If you don't have any photo to select, you have to add photo first in manage photos.{{/__}}</p>
  <div class="">
    <select name="hotel_photo_id">
      <option value="0">{{#__}}Select{{/__}}</option>
      {{#hotel_photos}}
      <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
      {{/hotel_photos}}
    </select>
    <ul id="hotel-photos" class="photos" style="margin-top: 10px;">
      <li id="hotel-photo-0">
        <img src="{{base}}media/images/no-image.png" />
        <p>{{#__}}No Photo{{/__}}</p>
      </li>
      {{#hotel_photos}}
      <li id="hotel-photo-{{id}}" style="display: none;">
        <img src="{{url}}" />
        <p>{{name}}</p>
      </li>
      {{/hotel_photos}}
    </ul>
    <div class="clear"></div>
  </div>
	<h3 class="title">{{#__}}Facility{{/__}}</h3>
	<div class="checkbox-columns">
		<ul>
      <li><label><input type="checkbox" name="is_air_conditioner_available" value="1" {{#room_facility.is_air_conditioner_available}}checked="checked"{{/room_facility.is_air_conditioner_available}} /> {{#__}}Air Conditioner{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_alarm_clock_available" value="1" {{#room_facility.is_alarm_clock_available}}checked="checked"{{/room_facility.is_alarm_clock_available}} /> {{#__}}Alarm Clock{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_balcony_available" value="1" {{#room_facility.is_balcony_available}}checked="checked"{{/room_facility.is_balcony_available}} /> {{#__}}Balcony{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_bathrobe_available" value="1" {{#room_facility.is_bathrobe_available}}checked="checked"{{/room_facility.is_bathrobe_available}} /> {{#__}}Bath Robe{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_bathtub_available" value="1" {{#room_facility.is_bathtub_available}}checked="checked"{{/room_facility.is_bathtub_available}} /> {{#__}}Bathtub{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_body_lotion_available" value="1" {{#room_facility.is_body_lotion_available}}checked="checked"{{/room_facility.is_body_lotion_available}} /> {{#__}}Body Lotion{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_cable_tv_available" value="1" {{#room_facility.is_cable_tv_available}}checked="checked"{{/room_facility.is_cable_tv_available}} /> {{#__}}Cable TV{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_coffee_maker_available" value="1" {{#room_facility.is_coffee_maker_available}}checked="checked"{{/room_facility.is_coffee_maker_available}} /> {{#__}}Coffee Maker{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_cotton_bud_available" value="1" {{#room_facility.is_cotton_bud_available}}checked="checked"{{/room_facility.is_cotton_bud_available}} /> {{#__}}Cotton Bud{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_dvd_player_available" value="1" {{#room_facility.is_dvd_player_available}}checked="checked"{{/room_facility.is_dvd_player_available}} /> {{#__}}DVD Player{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_hair_dryer_available" value="1" {{#room_facility.is_hair_dryer_available}}checked="checked"{{/room_facility.is_hair_dryer_available}} /> {{#__}}Hair Dryer{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_idd_telephone_available" value="1" {{#room_facility.is_idd_telephone_available}}checked="checked"{{/room_facility.is_idd_telephone_available}} /> {{#__}}IDD Telephone{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_independent_shower_room_available" value="1" {{#room_facility.is_independent_shower_room_available}}checked="checked"{{/room_facility.is_independent_shower_room_available}} /> {{#__}}Independent Shower Room{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_safety_box_available" value="1" {{#room_facility.is_safety_box_available}}checked="checked"{{/room_facility.is_safety_box_available}} /> {{#__}}Safety Box{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_internet_jack_available" value="1" {{#room_facility.is_internet_jack_available}}checked="checked"{{/room_facility.is_internet_jack_available}} /> {{#__}}Internet Jack{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_iron_available" value="1" {{#room_facility.is_iron_available}}checked="checked"{{/room_facility.is_iron_available}} /> {{#__}}Iron{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_mini_bar_available" value="1" {{#room_facility.is_mini_bar_available}}checked="checked"{{/room_facility.is_mini_bar_available}} /> {{#__}}Mini Bar{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_mosquito_equipment_available" value="1" {{#room_facility.is_mosquito_equipment_available}}checked="checked"{{/room_facility.is_mosquito_equipment_available}} /> {{#__}}Mosquito Equipment{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_moveable_shower_head_available" value="1" {{#room_facility.is_moveable_shower_head_available}}checked="checked"{{/room_facility.is_moveable_shower_head_available}} /> {{#__}}Moveable Shower Head{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_radio_available" value="1" {{#room_facility.is_radio_available}}checked="checked"{{/room_facility.is_radio_available}} /> {{#__}}Radio{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_room_wear_available" value="1" {{#room_facility.is_room_wear_available}}checked="checked"{{/room_facility.is_room_wear_available}} /> {{#__}}Room Wear{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_shampoo_available" value="1" {{#room_facility.is_shampoo_available}}checked="checked"{{/room_facility.is_shampoo_available}} /> {{#__}}Shampoo{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_shaver_available" value="1" {{#room_facility.is_shaver_available}}checked="checked"{{/room_facility.is_shaver_available}} /> {{#__}}Shaver{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_soap_available" value="1" {{#room_facility.is_soap_available}}checked="checked"{{/room_facility.is_soap_available}} /> {{#__}}Soap{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_toothbrush_available" value="1" {{#room_facility.is_toothbrush_available}}checked="checked"{{/room_facility.is_toothbrush_available}} /> {{#__}}Toothbrush{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_towel_available" value="1" {{#room_facility.is_towel_available}}checked="checked"{{/room_facility.is_towel_available}} /> {{#__}}Towel{{/__}}</label></li>
      <li><label><input type="checkbox" name="is_tv_available" value="1" {{#room_facility.is_tv_available}}checked="checked"{{/room_facility.is_tv_available}} /> {{#__}}TV{{/__}}</label></li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<h3 class="title">{{#__}}Capacity{{/__}}</h3>
	<p class="description">{{#__}}Select the number of persons who can stay in one room. Check the checkbox on the left to allow the number of adults and children stay in the room. If additional beds are needed for this number of persons, select the number of beds needed.{{/__}}</p>
	<table class="list-table">
		<tr>
			<th class="checkbox">&nbsp;</th>
			<th>{{#__}}Number of Persons{{/__}}</th>
		</tr>
		{{#room_capacities}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="indexs[{{index}}]" value="1" {{#checked}}checked="checked"{{/checked}} /></td>
			<td>
        <input type="hidden" name="number_of_adults[{{index}}]" value="{{number_of_adults}}" />
        <input type="hidden" name="number_of_children[{{index}}]" value="{{number_of_children}}" />
        {{number_of_adults}} Adult with {{number_of_children}} Child can stay in this room using 
        <select name="number_of_extrabeds[{{index}}]">
          {{#extrabeds}}
          <option value="{{number}}" {{#selected}}selected="selected"{{/selected}}>{{number}}</option>
          {{/extrabeds}}
        </select> 
        Extra bed
      </td>
		</tr>
		{{/room_capacities}}
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>