<h1 class="title">{{#__}}Manage Rooms{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hotel room.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}room/add{{/url}}">{{#__}}Add New Room{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Publish Price{{/__}}</th>
			<th>{{#__}}Adult Breakfast Price{{/__}}</th>
			<th>{{#__}}Child Breakfast Price{{/__}}</th>
			<th>{{#__}}Breakfast Included{{/__}}</th>
      <th>{{#__}}Extra Bed Price{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#rooms}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{name}}</td>
			<td>{{publish_price}} {{currency.code}}</td>
			<td>{{adult_breakfast_price}} {{currency.code}}</td>
			<td>{{child_breakfast_price}} {{currency.code}}</td>
      <td>{{#is_breakfast_included}}{{#__}}Yes{{/__}}{{/is_breakfast_included}}{{^is_breakfast_included}}{{#__}}No{{/__}}{{/is_breakfast_included}}</td>
			<td>{{extrabed_price}} {{currency.code}}</td>
			<td><a href="{{#url}}room/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}room/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/rooms}}
	</tbody>
</table>
</form>