<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    
    $('#advanced-search-link').click(function (e) {
      e.preventDefault();
      $('#advanced-search').toggle();
    });
	});
</script>
<h1 class="title">{{#__}}Finance Report{{/__}}</h1>
<p class="description">{{#__}}You can see monthly revenue here. Red Bar means the booking is canceled.{{/__}}</p>
{{&notice}}
{{#filters.search}}
<p><a href="#" id="advanced-search-link">{{#__}}New Search{{/__}}</a></p>
{{/filters.search}}
<div id="advanced-search" {{#filters.search}}class="hidden"{{/filters.search}}>
  <form method="get" action="">
    <table class="form-table">
      <tr>
        <td>{{#__}}Booking Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="booking_start_date" value="{{filters.booking_start_date}}" /> - <input type="text" size="12" class="date" name="booking_end_date" value="{{filters.booking_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every booking date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Check-in Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="check_in_start_date" value="{{filters.check_in_start_date}}" /> - <input type="text" size="12" class="date" name="check_in_end_date" value="{{filters.check_in_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every check-in date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Check-out Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="check_out_start_date" value="{{filters.check_out_start_date}}" /> - <input type="text" size="12" class="date" name="check_out_end_date" value="{{filters.check_out_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every check-out date.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
{{#filters.search}}
<div class="section">
  <h3 class="title">{{#__}}Search Result{{/__}}: {{total_bookings}} {{#__}}Bookings{{/__}}</h3>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Booking ID{{/__}}</th>
      <th>{{#__}}Room Name{{/__}}</th>
      <th>{{#__}}Booking Date{{/__}}</th>
      <th>{{#__}}Check-in Date{{/__}}</th>
      <th>{{#__}}Check-out Date{{/__}}</th>
      <th>{{#__}}Number of Rooms{{/__}}</th>
			<th>{{#__}}Hotel Revenue{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#bookings}}
		<tr>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{id}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{room_name}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{booking_date}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_in_date}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_out_date}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{number_of_rooms}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{hotel_revenue}} {{currency.code}}</td>
		</tr>
		{{/bookings}}
    <tr>
      <td colspan="5">&nbsp;</td>
      <td>{{#__}}Total{{/__}}</td>
      <td>{{total_hotel_revenues}} {{currency.code}}</td>
    </tr>
	</tbody>
</table>
{{/filters.search}}