<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.date').datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'M d, yy'
    });

    $('input[type=radio][name=column]').change(function(){
        $('#start-date').attr('name',$(this).data('in'));
        $('#end-date').attr('name',$(this).data('out'));
        $('#date-type').attr('value',$(this).data('type'));
    });
    
    $('#advanced-search-link').click(function (e) {
      e.preventDefault();
      $('#advanced-search').toggle();
    });
  });
    google.load('visualization', '1', {packages: ['table']});
   {{{script}}}
  </script>
<h1 class="title">{{#__}}Summary Report{{/__}}</h1>
{{#filters.search}}<p><a href="#" id="advanced-search-link">{{#__}}New Search{{/__}}</a></p>{{/filters.search}}
<div id="advanced-search" {{#filters.search}}class="hidden"{{/filters.search}}>
  <form method="get" action="">
    <table class="form-table">
      <tr>
        <td>Group By</td>
        <td>
            {{#rows}}
                <input type="radio" name="row" value="{{name}}" {{#selected}}checked{{/selected}}/>&nbsp;{{name}}<br/>
            {{/rows}}
        </td>
      </tr>
      <tr>
        <td>View per month/date</td>
        <td>
            {{#columns}}
                <input type="radio" name="column" value="{{slug}}" data-in="{{start}}" data-out="{{end}}" data-type="{{type}}" {{#selectedcolumn}}checked{{/selectedcolumn}}/>&nbsp;{{name}}<br/>
            {{/columns}}
        </td>
      </tr>
      <tr>
         <td><input id="date-type" type="hidden" name="date_type" value="{{#filters.date_type}}{{filters.date_type}}{{/filters.date_type}}{{^filters.date_type}}booking_{{/filters.date_type}}"></td>
         <td><input id="start-date" type="text" size="12" class="date" name="{{#filters.date_type}}{{filters.date_type}}{{/filters.date_type}}{{^filters.date_type}}booking_{{/filters.date_type}}start_date" value="{{filters.booking_start_date}}{{filters.check_in_start_date}}" placeholder="Start Date/Month"/> - <input id="end-date" type="text" size="12" class="date" name="{{#filters.date_type}}{{filters.date_type}}{{/filters.date_type}}{{^filters.date_type}}booking_{{/filters.date_type}}end_date" value="{{filters.booking_end_date}}{{filters.check_in_end_date}}" placeholder="End Date/Month"/></td>
      </tr>
        <tr>
        <td>Filter By</td>
        <td>
            {{#kinds}}
                <input type="radio" name="kind-data" value="{{slug}}" {{#selectedkind}}checked{{/selectedkind}}/>&nbsp;{{name}}<br/>
            {{/kinds}}
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
{{#filters.search}}

<table class="list-table">
  <thead>
    <tr>
      {{#header}}  
      <th>{{.}}</th>
      {{/header}}
    </tr>
  </thead>
  <tbody>
    {{#bookings}}
    <tr>
      {{#.}}  
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{.}}</td>
      {{/.}}
    </tr>
    {{/bookings}}
  </tbody>
</table>
<div class="section">
  <h3 class="title">Statistics</h3>
  <table class="form-table report">
    <tbody>
    <tr>
      <td>{{#__}}Total Bookings{{/__}}</td>
      <td>{{total_number_of_bookings}}</td>
    </tr>
    <tr>
      <td>{{#__}}Total Number of Rooms{{/__}}</td>
      <td>{{total_number_of_rooms}}</td>
    </tr>
    <!-- /// Booking report statistic -->
    <tr>
      <td>{{#__}}Total Number of Room Nights{{/__}}</td>
      <td>{{total_number_of_room_nights}}</td>
    </tr>
    <tr>
      <td>{{#__}}Total Number of Cancel booking{{/__}}</td>
      <td>{{booking_cancel}}</td>
    </tr>
    <tr>
      <td>{{#__}}Total Room Nights of Cancel{{/__}}</td>
      <td>{{booking_cancel_nights}}</td>
    </tr>
    <tr>
      <td>{{#__}}Total Number of Adults{{/__}}</td>
      <td>{{total_number_of_adults}}</td>
    </tr>
    <tr>
      <td>{{#__}}Total Number of Children{{/__}}</td>
      <td>{{total_number_of_children}}</td>
    </tr>
  </tbody>
  </table>
</div>
{{/filters.search}}