<h1 class="title">{{#__}}API Access{{/__}}</h1>
<p class="description">{{#__}}List of API Access connected to Hoterip.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}api/add{{/url}}">{{#__}}Add New API access{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Name{{/__}}</th>
			<th>{{#__}}Email{{/__}}</th>
      <th>{{#__}}API Key{{/__}}</th>
      <th>{{#__}}IP{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#api_access}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{name}}</td>
			<td>{{email}}</td>
			<td>{{api_key}}</td>
			<td>{{ip}}</td>
			<td>
				<a href="edit/{{id}}" class="edit">{{#__}}Edit{{/__}}</a>
				<a href="delete/{{id}}" class="delete">{{#__}}Delete{{/__}}</a>
			</td>
		</tr>
		{{/api_access}}
	</tbody>
</table>
</form>