<h1 class="title">{{#__}}Add API access{{/__}}</h1>
<p class="description">{{#__}}Add new API access{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}Username{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="username" value="{{values.username}}" /><p class="description">{{#__}}Enter admin username. Between 4 - 30 characters. No spaces or symbol.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Name{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="name" value="{{values.name}}" /><p class="description">{{#__}}Enter API type name. Between 4 - 30 characters. No spaces or symbol.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Email{{/__}} <span class="red">*</span></td>
			<td><input type="text" name="email" value="{{values.email}}" /><p class="description">{{#__}}Enter valid email address.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Password{{/__}} <span class="red">*</span></td>
			<td><input type="password" name="password" value="" /><p class="description">{{#__}}Enter Password.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Password Confirmation{{/__}} <span class="red">*</span></td>
			<td><input type="password" name="password_confirm" value="" /><p class="description">{{#__}}Re-enter Password.{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}IP{{/__}}</td>
			<td><input type="text" name="ip" value="{{values.ip}}" /><p class="description">{{#__}}IP Address(For locked certain IP).{{/__}}</p></td>
		</tr>
		<tr>
			<td>{{#__}}Timezone{{/__}}</td>
			<td>
        <select name="timezone">
          {{#timezones}}
          <option value="{{identifier}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/timezones}}
        </select>
        <p class="description">{{#__}}Select admin time zone.{{/__}}</p>
			</td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>