<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/simplica.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/login.css" />
		<!--[if lt IE 9]> <script src="{{base}}media/js/ie7/IE9.js"></script> <![endif]-->
		<script type="text/javascript" src="{{base}}media/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="{{base}}media/js/login.js"></script>
		<title>{{#__}}Csv Download{{/__}}</title>
	</head>
	<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.date').datepicker({
				dateFormat: 'yy-mm-dd'
			});
		});
	</script>
	<h1 class="title">{{#__}}Csv Report{{/__}}</h1>
	<p class="description">{{#__}}Click file to download.{{/__}}</p>
	{{&notice}}
	<table class="list-table">
		<thead>
			<tr>
				<th>{{#__}}File Name{{/__}}</th>
			</tr>
		</thead>
		<tbody>
			{{#csv_data}}
			<tr>
	      <td class=""><a href="/api/dropbox/download/?name={{name}}">{{name}}</a></td>
			</tr>
			{{/csv_data}}
		</tbody>
	</form>
	</table>
	</body>
</html>