<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<!--[if lt IE 9]> <script src="{{base}}media/js/ie7/IE9.js"></script> <![endif]-->
		
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/simplica.css" />
		
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/style-print.css" media="print" />
		
		<script type="text/javascript" src="{{base}}media/js/jquery-1.6.2.min.js"></script>
		
		<script type="text/javascript" src="{{base}}media/js/jquery-ui-1.8.16.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/jquery-ui-1.8.7.custom.css" />
		
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/slides.css" />
		<script type="text/javascript" src="{{base}}media/js/jquery.slides.min.js"></script>
		
		<script type="text/javascript" src="{{base}}media/js/jquery.flot.min.js"></script>
		<script type="text/javascript" src="{{base}}media/js/jquery.flot.resize.min.js"></script>
		<!-- jQuery plot library compatibility for IE 6-8 -->
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{base}}media/js/excanvas.min.js"></script><![endif]-->
		
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/dexcell.bubble.css" />
		<script type="text/javascript" src="{{base}}media/js/jquery.dexcell.bubble.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/dexcellTip.css" />
		<script type="text/javascript" src="{{base}}media/js/jquery.dexcellTip.js"></script>
		
		<script type="text/javascript" src="{{base}}media/js/jquery.liveFilter.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{base}}media/css/jquery.cleditor.css" />
    <script type="text/javascript" src="{{base}}media/js/jquery.cleditor.min.js"></script>
		
		<script type="text/javascript" src="{{base}}media/js/base.js"></script>
		<script type="text/javascript" src="{{base}}media/js/simplica.js"></script>

		<style type="text/css" title="currentStyle">
		    @import "{{base}}media/css/demo_table_jui.css";
		</style>
                <link rel="stylesheet" type="text/css" href="{{base}}media/css/jquery.dataTables.min.css" />
		<script type="text/javascript" charset="utf-8" src="{{base}}media/js/jquery.dataTables.js"></script>

		<link rel="stylesheet" type="text/css"href="{{base}}media/css/colorbox.css" />
		<script type="text/javascript"  src="{{base}}media/js/jquery.colorbox-min.js"></script>
		
		<title>{{title}}</title>
	</head>
	<body>
		<div id="wrapper">
			<a href="#"><img id="sidebar-control" src="{{base}}media/images/left-arrow.png" /></a>
			<div id="sidebar">
				{{> sidebar}}
			</div>
			<div id="main">
				<div id="header">
					{{> header}}
				</div>
				{{#maintenance}}
				<div class="message-warning">
					{{text_maintenance}}
				</div>
				{{/maintenance}}
				{{&main}}
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
