<h1 class="title">{{#__}}Assign Hotel{{/__}}</h1>
<p class="description">{{#__}}Assign hotel to admin so admin can select and manage the hotel.{{/__}}</p>
{{&notice}}
<form method="post" action="">
    <table class="form-table">
        <tr>
            <td>{{#__}}Admin{{/__}}</td>
            <td>
                <select name="admin_id">
                    {{#admins}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{username}} - {{name}}</option>
                    {{/admins}}
                </select>
                <input type="submit" name="view" value="{{#__}}View assigned hotels{{/__}}" />
                <p class="description">{{#__}}Select admin to be assigned.{{/__}}</p>
            </td>
        </tr>
        <tr>
            <td>{{#__}}Hotel Name{{/__}}</td>
            <td>
                <select name="hotel_id">
                    <option value="0">{{#__}}All{{/__}}</option>
                    {{#hotels}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}} - {{city_name}}</option>
                    {{/hotels}}
                </select>
                <p class="description">{{#__}}Select hotel to assign. You can search quickly by typing the name of the hotel when selecting the dropdown box.{{/__}}</p>
            </td>
        </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="assign" value="{{#__}}Assign{{/__}}" /></td>
        </tr>
    </table>

    <div class="toolbar">
        <ul>
            <li><input type="submit" name="unassign" value="{{#__}}Unassign{{/__}}" /></li>
        </ul>
        <div class="clear"></div>
    </div>
    <table class="list-table">
        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
                <th>{{#__}}Hotel Name{{/__}}</th>
                <th>{{#__}}City{{/__}}</th>
            </tr>
        </thead>
        <tbody>
            {{#admin_hotels}}
            <tr>
                <td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
                <td>{{name}}</td>
                <td>{{city_name}}</td>
            </tr>
            {{/admin_hotels}}
        </tbody>
    </table>
</form>