<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{base}}media/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="{{base}}media/js/jquery.fn.gmap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    var districts_lookup = jQuery.parseJSON('{{&districts_lookup}}');
    
		$('.time').timepicker({});
    
    $('select[name=city_id]').change(function() {
      // Show address helper
      $('#display_city').text($('select[name=city_id] option:selected').text());
      $('#display_district').empty();

      // Get district id select combobox, and it's option
      var district_select = $('select[name=district_id]');
      
      // Clear select district id
      district_select.empty();
      // Add 'select' text
      district_select.append(new Option('{{#__}}Select{{/__}}', 0));
        
      var districts = districts_lookup[$(this).val()];
      
      if (districts != undefined) {
        // Insert data to select box
        $.each(districts, function(index, value) {
          district_select.append(new Option(value.name, value.id));
        });
        // Set selected index
        district_select.val('{{hotel.district_id}}');
      }
    });
    
    $('select[name=district_id]').change(function() {
      if ($(this).val() > 0) {
        // Show address helper
        $('#display_district').text($('select[name=district_id] option:selected').text() + ', ');
      } else {
        $('#display_district').empty();
      }
    });
    
    $('input[name="address"]').keyup(function() {
      $('#display_address').text($(this).val());
    });
    
    $('select[name=city_id]').trigger('change');
    $('select[name=district_id]').trigger('change');
    $('input[name="address"]').trigger('keyup');
    
    $('#map-canvas').gmap({'center': '{{hotel.coordinate}}', 'zoom': 15}).bind('init', function (event, map) {
      $('#map-canvas').gmap('addMarker', {'position': '{{hotel.coordinate}}', 'draggable': true}).dragend( function(event) {
        $('input[name="coordinate"]').val(event.latLng.toUrlValue());
      });
    });
	});
</script>
<h1 class="title">{{#__}}Edit Hotel{{/__}}</h1>
<p class="description">{{#__}}Edit hotel.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
  <input type="hidden" name="id" value="{{hotel.id}}" />
	<h3 class="title">{{#__}}Place{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}City{{/__}} <span class="red">*</span></td>
			<td>
        <select name="city_id">
          {{#cities}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}, {{country_name}}</option>
          {{/cities}}
        </select>
        <p class="description">{{#__}}Select the city where the hotel is located. You can search quickly by typing the name of the city name when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}District or Area{{/__}} <span class="red">*</span></td>
			<td>
        <select name="district_id">
          <option value="0">{{#__}}Select{{/__}}</option>
          {{#districts}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/districts}}
        </select>
        <p class="description">{{#__}}Select the district or area where the hotel is located. You can search quickly by typing the name of the district or area name when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
	</table>
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		{{#hotel_texts}}
		<tr>
			<td>{{#__}}Hotel Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter hotel name in capital letters on each first letter in the word. For example: Beach Laguna Resort. If you can not write in this language, please write in English so Hoterip Staff can translate it.{{/__}}</p>
      </td>
		</tr>
		{{/hotel_texts}}
    {{#hotel_texts}}
    <tr>
      <td>{{#__}}Hotel Description{{/__}} {{#english}}<span class="red">*</span>{{/english}}</td>
      <td>
        <textarea style="resize:none; width:500px; height: 200px;" name="descriptions[{{language.id}}]">{{description}}</textarea> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter hotel description to describe the hotel. Maximum 1000 letters{{/__}}</p>
      </td>
    </tr>
    {{/hotel_texts}}
		<tr>
			<td>{{#__}}Star{{/__}} <span class="red">*</span></td>
			<td>
        <select name="star">
          {{#stars}}
          <option value="{{number}}" {{#selected}}selected="selected"{{/selected}}>{{number}}</option>
          {{/stars}}
        </select>
        {{#__}}Star Hotel{{/__}}
        <p class="description">{{#__}}Enter hotel grade in star.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Address{{/__}} <span class="red">*</span></td>
			<td>
        <p style="margin-bottom: 4px;"><span id="display_address"></span>, <span id="display_district"></span><span id="display_city"></span></p>
        <input name="address" size="50" value="{{hotel.address}}" />
        <p class="description">{{#__}}Enter hotel address in capital letters on each first letter in the word. For example: Jl. Pratama Raya 168.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Type{{/__}} <span class="red">*</span></td>
			<td>
        <select name="hotel_type_id">
          {{#hotel_types}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/hotel_types}}
        </select>
        <p class="description">{{#__}}Select hotel property type.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Telephone{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="telephone" value="{{hotel.telephone}}" />
        <p class="description">{{#__}}Telephone must be written with country code prefix, followed by area code and phone number. For example: +62 361 112233.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Fax{{/__}}</td>
			<td>
        <input type="text" name="fax" value="{{hotel.fax}}" />
        <p class="description">{{#__}}Fax must be written with country code prefix, followed by area code and phone number. For example: +62 361 112233.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Opening Year{{/__}}</td>
			<td>
        <input type="text" name="opening_year" value="{{hotel.opening_year}}" size="4" maxlength="4" />
        <p class="description">{{#__}}Enter hotel opening year. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Renovation Year{{/__}}</td>
			<td>
        <input type="text" name="renovation_year" value="{{hotel.renovation_year}}" size="4" maxlength="4" />
        <p class="description">{{#__}}Enter hotel renovation year. Leave blank if you do not know or hotel never been renovated yet.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Number of Rooms{{/__}}</td>
			<td>
        <input type="text" name="number_of_rooms" value="{{hotel.number_of_rooms}}" size="4" />
        <p class="description">{{#__}}Enter number of rooms at the hotel.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Number of Floors{{/__}}</td>
			<td>
        <input type="text" name="number_of_floors" value="{{hotel.number_of_floors}}" size="4" />
        <p class="description">{{#__}}Enter number of floors at the hotel.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Distance from Airport{{/__}}</td>
			<td>
        <input type="text" name="distance_from_airport" value="{{hotel.distance_from_airport}}" size="4" /> Km
        <p class="description">{{#__}}Enter distance from the airport to the hotel in km. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Time from Airport{{/__}}</td>
			<td>
        <input type="text" name="time_from_airport" value="{{hotel.time_from_airport}}" size="4" /> Minutes
        <p class="description">{{#__}}Enter how long it takes to travel from airport to hotel in minutes. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Distance from City Center{{/__}}</td>
			<td>
        <input type="text" name="distance_from_city_center" value="{{hotel.distance_from_city_center}}" size="4" /> Km
        <p class="description">{{#__}}Enter distance from the city center to the hotel in km. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Distance from Station{{/__}}</td>
			<td>
        <input type="text" name="distance_from_station" value="{{hotel.distance_from_station}}" size="4" /> Km
        <p class="description">{{#__}}Enter distance from the nearest station to the hotel in km. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Room Voltage{{/__}}</td>
			<td>
        <input type="text" name="room_voltage" value="{{hotel.room_voltage}}" size="4" /> Volt
        <p class="description">{{#__}}Enter room voltage. For example: 220. Leave blank if you do not know.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Children Age{{/__}} <span class="red">*</span></td>
			<td>
        <select name="child_age_from">
          {{#child_ages}}
          <option value="{{number}}" {{#selected_from}}selected="selected"{{/selected_from}}>{{number}}</option>
          {{/child_ages}}
        </select> - 
        <select name="child_age_until">
          {{#child_ages}}
          <option value="{{number}}" {{#selected_until}}selected="selected"{{/selected_until}}>{{number}}</option>
          {{/child_ages}}
        </select>
        {{#__}}Years Old{{/__}}
        <p class="description">{{#__}}Enter age that considered as children.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Check-in Time{{/__}}</td>
			<td>
        <input type="text" name="check_in_time" value="{{hotel.check_in_time}}" size="5" class="time" />
        <p class="description">{{#__}}Enter hotel check in time in 24 hours format. For example: 14:00.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Check-out Time{{/__}}</td>
			<td>
        <input type="text" name="check_out_time" value="{{hotel.check_out_time}}" size="5" class="time" />
        <p class="description">{{#__}}Enter hotel check out time in 24 hours format. For example: 14:00.{{/__}}</p>
      <td>
		</tr>
    <tr>
			<td>{{#__}}Pets Allowed{{/__}}</td>
			<td>
        <label><input type="checkbox" name="is_pet_allowed" value="1" {{#hotel.is_pet_allowed}}checked="checked"{{/hotel.is_pet_allowed}}/> {{#__}}Yes{{/__}}</label>
        <p class="description">{{#__}}Check if pets allowed in this hotel.{{/__}}</p>
      <td>
		</tr>
    <tr>
			<td>{{#__}}Time Zone{{/__}}</td>
			<td>
        <select name="timezone">
          {{#timezones}}
          <option value="{{identifier}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/timezones}}
        </select>
        <p class="description">{{#__}}Select hotel time zone.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Coordinate{{/__}}</td>
			<td>
        <input type="text" name="coordinate" value="{{hotel.coordinate}}" />
        <p class="description">{{#__}}Enter hotel coordinate in 'latitude, langitude' format. To find hotel coordinate, use map below or open <a href="http://maps.google.com" target="_blank">http://maps.google.com</a>, search hotel location, right click and select 'What's here?'{{/__}}</p>
        <div id="map-canvas" style="width: 500px; height: 300px;"></div>
      </td>
		</tr>
	</table>
  {{#hoterip}}
  <h3 class="title">{{#__}}Currency{{/__}}</h3>
  <table class="form-table">
    <tr>
      <td>{{#__}}Currency{{/__}} <span class="red">*</span></td>
      <td>
        <select name="currency_id">
          {{#currencies}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{code}} - {{name}}</option>
          {{/currencies}}
        </select>
        <p class="description">{{#__}}Enter hotel currency. This could not be changed later.{{/__}}</p>
      </td>
    </tr>
  </table>
  <h3 class="title">{{#__}}Rate{{/__}}</h3>
  <table class="form-table">
    <tr>
      <td>{{#__}}Sales Tax{{/__}} <span class="red">*</span></td>
      <td>
        <input type="text" name="tax_rate" size="4" value="{{hotel.tax_rate}}" /> %
        <p class="description">{{#__}}Enter country sales tax{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Service Charge (Tax applied){{/__}} <span class="red">*</span></td>
      <td>
        <input type="text" name="service_charge_rate" size="4" value="{{hotel.service_charge_rate}}" /> %
        <p class="description">{{#__}}Enter service charge{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Commission{{/__}} <span class="red">*</span></td>
      <td>
        <input type="text" name="commission_rate" size="4" value="{{hotel.commission_rate}}" /> %
        <p class="description">{{#__}}Enter hotel commission rate{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Reward Point{{/__}} <span class="red">*</span></td>
      <td>
        <input type="text" name="point_rate" size="4" value="{{hotel.point_rate}}" /> %
        <p class="description">{{#__}}Enter reward earned by guest when guest make a reservation at this hotel.{{/__}}</p>
      </td>
    </tr>
  </table>
  {{/hoterip}}
	<h3 class="title">{{#__}}Facility{{/__}}</h3>
	<div class="checkbox-columns">
		<ul class="none">
      <li><label><input type="checkbox" value="1" name="is_banquet_room_available" {{#hotel_facility.is_banquet_room_available}}checked="checked"{{/hotel_facility.is_banquet_room_available}}/> {{#__}}Banquet Room{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_bars_available" {{#hotel_facility.is_bars_available}}checked="checked"{{/hotel_facility.is_bars_available}}/> {{#__}}Bars{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_business_center_available" {{#hotel_facility.is_business_center_available}}checked="checked"{{/hotel_facility.is_business_center_available}}/> {{#__}}Business Center{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_car_parking_available" {{#hotel_facility.is_car_parking_available}}checked="checked"{{/hotel_facility.is_car_parking_available}}/> {{#__}}Car Parking{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_casino_available" {{#hotel_facility.is_casino_available}}checked="checked"{{/hotel_facility.is_casino_available}}/> {{#__}}Casino{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_clinic_available" {{#hotel_facility.is_clinic_available}}checked="checked"{{/hotel_facility.is_clinic_available}}/> {{#__}}Clinic{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_club_lounge_available" {{#hotel_facility.is_club_lounge_available}}checked="checked"{{/hotel_facility.is_club_lounge_available}}/> {{#__}}Club Lounge{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_coffee_shop_available" {{#hotel_facility.is_coffee_shop_available}}checked="checked"{{/hotel_facility.is_coffee_shop_available}}/> {{#__}}Coffee Shop{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_departure_lounge_available" {{#hotel_facility.is_departure_lounge_available}}checked="checked"{{/hotel_facility.is_departure_lounge_available}}/> {{#__}}Departure Lounge{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_disabled_facilities_available" {{#hotel_facility.is_disabled_facilities_available}}checked="checked"{{/hotel_facility.is_disabled_facilities_available}}/> {{#__}}Disabled Facilities{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_elevator_available" {{#hotel_facility.is_elevator_available}}checked="checked"{{/hotel_facility.is_elevator_available}}/> {{#__}}Elevator{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_gift_shop_available" {{#hotel_facility.is_gift_shop_available}}checked="checked"{{/hotel_facility.is_gift_shop_available}}/> {{#__}}Gift Shop{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_golf_course_available" {{#hotel_facility.is_golf_course_available}}checked="checked"{{/hotel_facility.is_golf_course_available}}/> {{#__}}Golf Course{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_gym_available" {{#hotel_facility.is_gym_available}}checked="checked"{{/hotel_facility.is_gym_available}}/> {{#__}}Gym{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_hair_salon_available" {{#hotel_facility.is_hair_salon_available}}checked="checked"{{/hotel_facility.is_hair_salon_available}}/> {{#__}}Hair Salon{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_jacuzzi_available" {{#hotel_facility.is_jacuzzi_available}}checked="checked"{{/hotel_facility.is_jacuzzi_available}}/> {{#__}}Jacuzzi{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_karaoke_room_available" {{#hotel_facility.is_karaoke_room_available}}checked="checked"{{/hotel_facility.is_karaoke_room_available}}/> {{#__}}Karaoke Room{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_kids_club_available" {{#hotel_facility.is_kids_club_available}}checked="checked"{{/hotel_facility.is_kids_club_available}}/> {{#__}}Kids Club{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_kids_pool_available" {{#hotel_facility.is_kids_pool_available}}checked="checked"{{/hotel_facility.is_kids_pool_available}}/> {{#__}}Kids Pool{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_library_available" {{#hotel_facility.is_library_available}}checked="checked"{{/hotel_facility.is_library_available}}/> {{#__}}Library{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_luggage_room_available" {{#hotel_facility.is_luggage_room_available}}checked="checked"{{/hotel_facility.is_luggage_room_available}}/> {{#__}}Luggage Room{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_meeting_room_available" {{#hotel_facility.is_meeting_room_available}}checked="checked"{{/hotel_facility.is_meeting_room_available}}/> {{#__}}Meeting Room{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_night_club_available" {{#hotel_facility.is_night_club_available}}checked="checked"{{/hotel_facility.is_night_club_available}}/> {{#__}}Night Club{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_private_beach_available" {{#hotel_facility.is_private_beach_available}}checked="checked"{{/hotel_facility.is_private_beach_available}}/> {{#__}}Private Beach{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_poolside_bar_available" {{#hotel_facility.is_poolside_bar_available}}checked="checked"{{/hotel_facility.is_poolside_bar_available}}/> {{#__}}Poolside Bar{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_restaurant_available" {{#hotel_facility.is_restaurant_available}}checked="checked"{{/hotel_facility.is_restaurant_available}}/> {{#__}}Restaurant{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_safety_box_available" {{#hotel_facility.is_safety_box_available}}checked="checked"{{/hotel_facility.is_safety_box_available}}/> {{#__}}Safety Box{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_sauna_available" {{#hotel_facility.is_sauna_available}}checked="checked"{{/hotel_facility.is_sauna_available}}/> {{#__}}Sauna{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_spa_available" {{#hotel_facility.is_spa_available}}checked="checked"{{/hotel_facility.is_spa_available}}/> {{#__}}Spa{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_squash_court_available" {{#hotel_facility.is_squash_court_available}}checked="checked"{{/hotel_facility.is_squash_court_available}}/> {{#__}}Squash Court{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_steam_room_available" {{#hotel_facility.is_steam_room_available}}checked="checked"{{/hotel_facility.is_steam_room_available}}/> {{#__}}Steam Room{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_swimming_pool_available" {{#hotel_facility.is_swimming_pool_available}}checked="checked"{{/hotel_facility.is_swimming_pool_available}}/> {{#__}}Swimming Pool{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_tennis_court_available" {{#hotel_facility.is_tennis_court_available}}checked="checked"{{/hotel_facility.is_tennis_court_available}}/> {{#__}}Tennis Court{{/__}}</label></li>
		</ul>
		<div class="clear"></div>
	</div>
	<h3 class="title">{{#__}}Service{{/__}}</h3>
	<div class="checkbox-columns">
		<ul class="none">
      <li><label><input type="checkbox" value="1" name="is_room_service_24hour_available" {{#hotel_service.is_room_service_24hour_available}}checked="checked"{{/hotel_service.is_room_service_24hour_available}}/> {{#__}}24 Hour Room Service{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_reception_24hour_available" {{#hotel_service.is_reception_24hour_available}}checked="checked"{{/hotel_service.is_reception_24hour_available}}/> {{#__}}24 Hour Reception{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_airport_transfer_available" {{#hotel_service.is_airport_transfer_available}}checked="checked"{{/hotel_service.is_airport_transfer_available}}/> {{#__}}Airport Transfer{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_baby_sitter_available" {{#hotel_service.is_baby_sitter_available}}checked="checked"{{/hotel_service.is_baby_sitter_available}}/> {{#__}}Baby Sitter{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_butler_available" {{#hotel_service.is_butler_available}}checked="checked"{{/hotel_service.is_butler_available}}/> {{#__}}Butler{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_concierge_available" {{#hotel_service.is_concierge_available}}checked="checked"{{/hotel_service.is_concierge_available}}/> {{#__}}Concierge{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_laundry_available" {{#hotel_service.is_laundry_available}}checked="checked"{{/hotel_service.is_laundry_available}}/> {{#__}}Laundry{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_massage_available" {{#hotel_service.is_massage_available}}checked="checked"{{/hotel_service.is_massage_available}}/> {{#__}}Massage{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_money_changer_available" {{#hotel_service.is_money_changer_available}}checked="checked"{{/hotel_service.is_money_changer_available}}/> {{#__}}Money Changer{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_rental_baby_car_available" {{#hotel_service.is_rental_baby_car_available}}checked="checked"{{/hotel_service.is_rental_baby_car_available}}/> {{#__}}Rental Baby Car{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_rental_bicycle_available" {{#hotel_service.is_rental_bicycle_available}}checked="checked"{{/hotel_service.is_rental_bicycle_available}}/> {{#__}}Rental Bicycle{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_rental_multi_plug_available" {{#hotel_service.is_rental_multi_plug_available}}checked="checked"{{/hotel_service.is_rental_multi_plug_available}}/> {{#__}}Rental Muti Plug{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_rental_wheel_chair_available" {{#hotel_service.is_rental_wheel_chair_available}}checked="checked"{{/hotel_service.is_rental_wheel_chair_available}}/> {{#__}}Rental Wheel Chair{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_room_service_available" {{#hotel_service.is_room_service_available}}checked="checked"{{/hotel_service.is_room_service_available}}/> {{#__}}Room Service{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_shuttle_available" {{#hotel_service.is_shuttle_available}}checked="checked"{{/hotel_service.is_shuttle_available}}/> {{#__}}Shuttle{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_valet_parking_available" {{#hotel_service.is_valet_parking_available}}checked="checked"{{/hotel_service.is_valet_parking_available}}/> {{#__}}Valet Parking{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_free_wifi_available" {{#hotel_service.is_free_wifi_available}}checked="checked"{{/hotel_service.is_free_wifi_available}}/> {{#__}}Free Wi-fi{{/__}}</label></li>
      <li><label><input type="checkbox" value="1" name="is_paid_wifi_available" {{#hotel_service.is_paid_wifi_available}}checked="checked"{{/hotel_service.is_paid_wifi_available}}/> {{#__}}Paid Wi-fi{{/__}}</label></li>
		</ul>
		<div class="clear"></div>
	</div>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>