<h1 class="title">{{#__}}Manage Hotels{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hotel{{/__}}</p>
{{&notice}}
<form action="{{#url}}hotel/manage{{/url}}" method="post">
    <div class="toolbar">
        <ul>
            <li><a href="{{#url}}hotel/add{{/url}}">{{#__}}Add new hotel{{/__}}</a></li>
            <li><input type="text" name="keyword" value="{{values.keyword}}" /></li>
            <li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
            <li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
        </ul>
        <div class="clear"></div>
    </div>
    <table class="list-table">
        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
                <th>{{#__}}Hotel ID{{/__}}</th>
                <th>{{#__}}Hotel Name{{/__}}</th>
                <th>{{#__}}City Name{{/__}}</th>
                <th>{{#__}}Country Name{{/__}}</th>
                <th>{{#__}}Action{{/__}}</th>
            </tr>
        </thead>
        <tbody>
            {{#hotels}}
            <tr>
                <td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{city_name}}</td>
                <td>{{country_name}}</td>
                <td><a href="{{#url}}hotel/change_edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}hotel/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
            </tr>
            {{/hotels}}
        </tbody>
    </table>
</form>
{{&pagination}}