<h1 class="title">{{#__}}Export Stocks{{/__}}</h1>
<p class="description">{{#__}}Export Stocks for H.I.S Vacation as CSV.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}Hotel{{/__}}</td>
      <td>
        <select name="hotel_id">
          {{#hotels}}
          <option value="{{id}}">{{name}} - {{city_name}}</option>
          {{/hotels}}
        </select>
        <p class="description">{{#__}}Select hotel to export.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Year{{/__}}</td>
      <td>
        <select name="year">
          {{#years}}
          <option value="{{value}}" {{#selected}}selected{{/selected}}>{{value}}</option>
          {{/years}}
        </select>
        <p class="description">{{#__}}Select year.{{/__}}</p>
      </td>
		</tr>
  </table>
  <hr class="separator" />
	<table class="form-table">
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>