<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    
    $('input[name=check_all_rooms]').change(function () {
      var flag = $(this).is(':checked');
      $('input[name^=room_ids]').attr('checked', flag);
    });
  });
</script>
<h1 class="title">{{#__}}Add Minimum Room Night{{/__}}</h1>
<p class="description">{{#__}}Add minimum room night for specific stay period.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
  <h3 class="title">{{#__}}Information{{/__}}</h3>
  <table class="form-table">
    <tr>
      <td>{{#__}}Room Name{{/__}} <span class="red">*</span></td>
      <td>
        <ul class="none">
          <li><label><input type="checkbox" name="check_all_rooms" /> {{#__}}Select All{{/__}}</label></li>
          {{#rooms}}
          <li><label><input type="checkbox" name="room_ids[{{id}}]" value="{{id}}" {{#checked}}checked="checked"{{/checked}} /> {{name}}</label></li>
          {{/rooms}}
        </ul>
        <p class="description">{{#__}}Select room that will be affected by this promotion.{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Stay Date{{/__}} <span class="red">*</span></td>
      <td><input type="text" size="10" class="date" name="start_date" value="{{values.start_date}}" /> - <input type="text" size="10" class="date" name="end_date" value="{{values.end_date}}" /></td>
    </tr>
    <tr>
      <td>{{#__}}Minimum Number of Nights{{/__}} <span class="red">*</span></td>
      <td><input type="text" size="4" name="minimum_number_of_nights" value="{{values.minimum_number_of_nights}}" /> {{#__}}Nights{{/__}}</td>
    </tr>
  </table>
  <hr class="separator" />
  <table class="form-table">
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
    </tr>
  </table>
</div>
</form>  