<h1 class="title">{{#__}}Manage Minimum Room Nights{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hotel minimum number of nights for specific period.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}night/add{{/url}}">{{#__}}Add New Room Night{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Stay Date{{/__}}</th>
      <th>{{#__}}Minimum Number of Nights{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#nights}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td>{{room_names}}</td>
			<td>{{start_date}} - {{end_date}}</td>
      <td>{{minimum_number_of_nights}}</td>
			<td><a href="{{#url}}night/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}night/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/nights}}
	</tbody>
</table>
</form>