<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}Edit District{{/__}}</h1>
<p class="description">{{#__}}Edit new district.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
			<td>{{#__}}City{{/__}}</td>
			<td>
        <select name="city_id">
          {{#cities}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}, {{country_name}}</option>
          {{/cities}}
        </select>
        <p class="description">{{#__}}Select the city where the district is located. You can search quickly by typing the name of the district name when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
		{{#district_texts}}
		<tr>
			<td>{{#__}}District Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter District Name. Enter district name in capital letters on each first letter in the word. For example: Kuta.{{/__}}</p>
      </td>
		</tr>
		{{/district_texts}}
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>