<script type="text/javascript">
	$(document).ready(function() {
    $('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    
    $('input[name=check_all_rooms]').change(function () {
      var flag = $(this).is(':checked');
      $('input[name^=room_ids]').attr('checked', flag);
    });
	});
</script>
<h1 class="title">{{#__}}Add Cancellation Policy{{/__}}</h1>
<p class="description">{{#__}}Add hotel cancellation policy.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
      <td>{{#__}}Room Name{{/__}} <span class="red">*</span></td>
      <td>
        <ul class="none">
          <li><label><input type="checkbox" name="check_all_rooms" /> {{#__}}Select All{{/__}}</label></li>
          {{#rooms}}
          <li><label><input type="checkbox" name="room_ids[{{id}}]" value="{{id}}" {{#checked}}checked="checked"{{/checked}} /> {{name}}</label></li>
          {{/rooms}}
        </ul>
        <p class="description">{{#__}}Select room that will be affected by this cancellation policy.{{/__}}</p>
      </td>
    </tr>
    <tr>
			<td>{{#__}}Start Date{{/__}}</td>
			<td><input type="text" name="start_date" size="12" value="{{values.start_date}}" class="date" /> <p class="description">{{#__}}Enter cancellation policy start date.{{/__}}</p></td>
		</tr>
    <tr>
			<td>{{#__}}End Date{{/__}}</td>
			<td><input type="text" name="end_date" size="12" value="{{values.end_date}}" class="date" /> <p class="description">{{#__}}Enter cancellation policy end date.{{/__}}</p></td>
		</tr>
    <tr>
      <td>{{#__}}Cancellation Policy{{/__}} <span class="red">*</span></td>
      <td>
        <ul class="none">
          <li>
            <select name="level_1_cancellation_rule_id">
              {{#cancellation_level_1_rules}}
              <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
              {{/cancellation_level_1_rules}}
            </select>
          </li>
          <li>
            <select name="level_2_cancellation_rule_id">
              <option value="0">-</option>
              {{#cancellation_level_2_rules}}
              <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
              {{/cancellation_level_2_rules}}
            </select>
          </li>
          <li>
            <select name="level_3_cancellation_rule_id">
              <option value="0">-</option>
              {{#cancellation_level_3_rules}}
              <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
              {{/cancellation_level_3_rules}}
            </select>
          </li>  
        </ul>
        <p class="description">{{#__}}Select cancellation policy.{{/__}}</p>
      </td>
    </tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>