<h1 class="title">{{#__}}Manage Cancellation Policy{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete cancellation policy. Green bar means cancellation policy is running. Red bar means the cancellation policy is not effective anymore because the end date has passed today.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}cancellation/add{{/url}}">{{#__}}Add New Cancellation Policy{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Date{{/__}}</th>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Cancellation Policy{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#cancellations}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td class="{{#is_effective}}green-bg{{/is_effective}}{{^is_effective}}red-bg{{/is_effective}}">{{start_date}} - {{end_date}}</td>
			<td class="{{#is_effective}}green-bg{{/is_effective}}{{^is_effective}}red-bg{{/is_effective}}">{{room_names}}</td>
			<td class="{{#is_effective}}green-bg{{/is_effective}}{{^is_effective}}red-bg{{/is_effective}}">
        {{#__}}{{rule_1_name}}{{/__}}.
        {{#rule_2_name}}<br/>{{#__}}{{rule_2_name}}{{/__}}.{{/rule_2_name}}
        {{#rule_3_name}}<br/>{{#__}}{{rule_3_name}}{{/__}}.{{/rule_3_name}}
      </td>
			<td class="{{#is_effective}}green-bg{{/is_effective}}{{^is_effective}}red-bg{{/is_effective}}"><a href="{{#url}}cancellation/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}cancellation/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/cancellations}}
	</tbody>
</table>
</form>