<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'M d, yy'
		});
    
    $('#advanced-search-link').click(function (e) {
      e.preventDefault();
      $('#advanced-search').toggle();
    });
    
    $('.confirm').click(function() {
      return window.confirm('Are you sure want to do this action?');
    });
	});
</script>
<h1 class="title">{{#__}}Finance Report{{/__}}</h1>
<p class="description">{{#__}}You can see hotel and OTA revenue here. Red Bar means the booking is canceled.{{/__}}</p>
{{&notice}}
{{#filters.search}}
<p><a href="#" id="advanced-search-link">{{#__}}New Search{{/__}}</a></p>
{{/filters.search}}
<div id="advanced-search" {{#filters.search}}class="hidden"{{/filters.search}}>
		 <form method="get" action="">
    <table class="form-table">
      <tr>
        <td>{{#__}}Hotel{{/__}}</td>
        <td>
          <select name="hotel_id">
            <option value="0">{{#__}}All Hotels{{/__}}</option>
            {{#hotels}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}} - {{city_name}}, {{country_name}}</option>
            {{/hotels}}
          </select>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Order Reference{{/__}}</td>
        <td>
          <input type="text" size="12" class="text" name="invoice_id" value="{{filters.invoice_id}}" />
          {{#tracking_type}}
              <input name="tracking_type" id="{{id}}" type="radio" value="{{value}}" {{checked}}>{{name}}
          {{/tracking_type}}
        </td>
      </tr>
      <tr>
        <td>{{#__}}Booking Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="booking_start_date" value="{{filters.booking_start_date}}" /> - <input type="text" size="12" class="date" name="booking_end_date" value="{{filters.booking_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every booking date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Check-in Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="check_in_start_date" value="{{filters.check_in_start_date}}" /> - <input type="text" size="12" class="date" name="check_in_end_date" value="{{filters.check_in_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every check-in date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Check-out Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="check_out_start_date" value="{{filters.check_out_start_date}}" /> - <input type="text" size="12" class="date" name="check_out_end_date" value="{{filters.check_out_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every check-out date.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
{{#filters.search}}
<div class="section">
  <h3 class="title">{{#__}}Search Result{{/__}}: {{total_bookings}} {{#__}}Bookings{{/__}}</h3>
	<form action="" method="post">
		<div id="booking-detail-toolbar">
			<ul>
				<li><input type="submit" name="download_csv" value="Download as CSV"></li>
			</ul>
			<div class="clear"></div>
		</div>
	</form>	
</div>
{{#filtered_hotels}}
<div class="section">
  <h3 class="title">{{name}}</h3>
  <table class="list-table">
    <thead>
      <tr>
        <th>{{#__}}Booking ID{{/__}}</th>
        <th>{{#__}}Room Name{{/__}}</th>
        <th>{{#__}}Booking Date{{/__}}</th>
        <th>{{#__}}Check-in Date{{/__}}</th>
        <th>{{#__}}Check-out Date{{/__}}</th>
        <th>{{#__}}Number of Rooms{{/__}}</th>
        <th>{{#__}}Hotel Revenue{{/__}}</th>
        <th>{{#__}}Benefit Cost{{/__}} ({{#__}}Hotel Currency{{/__}})</th>
        <th>{{#__}}OTA Revenue{{/__}}</th>
        <th>{{#__}}Paid{{/__}} ({{#__}}Hotel Currency{{/__}})</th>
        <th>{{#__}}Paid{{/__}} ({{#__}}Guest Currency{{/__}})</th>
        <th>{{#__}}Paid{{/__}} ({{#__}}Transaction Currency{{/__}})</th>
        <th>{{#__}}Number of Points Used{{/__}}</th>
        <th>{{#__}}Money Refunded{{/__}}</th>
        <th>{{#__}}Point Refunded{{/__}}</th>
        <th>{{#__}}Action{{/__}}</th>
      </tr>
    </thead>
    <tbody>
      {{#bookings}}
      <tr>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{id}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{room_name}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{booking_date}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_in_date}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{check_out_date}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{number_of_rooms}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{hotel_revenue}} {{hotel_currency_code}}</td>

        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">
          {{#benefit_check}}
            {{benefit_cost}}
            {{hotel_currency_code}}
          {{/benefit_check}}
          {{^benefit_check}}
            -
          {{/benefit_check}}
        </td>

        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{ota_revenue}} {{hotel_currency_code}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{amount_paid_by_guest}} {{hotel_currency_code}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{amount_paid_by_guest_guest}} {{guest_currency_code}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{amount_paid_by_guest_transaction}} {{transaction_currency_code}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{number_of_points_used}} {{#__}}Points{{/__}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{amount_money_refunded_to_guest}} {{hotel_currency_code}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">{{amount_point_refunded_to_guest}} {{#__}}Points{{/__}}</td>
        <td class="{{#is_canceled}}red-bg{{/is_canceled}}">
          <form method="post" action="">
            <input type="hidden" name="booking_id" value="{{id}}">
            <input type="submit" class="confirm" name="send_refund" value="Refund" {{^can_refund}}disabled{{/can_refund}}/>
          </form>
        </td>
      </tr>
      {{/bookings}}
      <tr>
        <td colspan="5">&nbsp;</td>
        <td>{{#__}}Total{{/__}}</td>
        <td>{{total_hotel_revenues}} {{currency_code}}</td>
        <td>{{total_benefit_cost}} {{currency_code}}</td>
        <td>{{total_ota_revenues}} {{currency_code}}</td>
        <td>{{total_amount_paid_by_guest}} {{currency_code}}</td>
        <td>-</td>
        <td>-</td>
        <td>{{total_number_of_points_used}} {{#__}}Points{{/__}}</td>
        <td>{{total_amount_money_refunded_to_guest}} {{currency_code}}</td>
        <td>{{total_amount_point_refunded_to_guest}} {{#__}}Points{{/__}}</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>  
{{/filtered_hotels}}
{{/filters.search}}
