<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    
    $('input[name=check_all_rooms]').change(function () {
      var flag = $(this).is(':checked');
      $('input[name^=room_ids]').attr('checked', flag);
    });
    
    $('select[name=type]').change(function () {
      if ($(this).val() == 1) {
        $('#days-in-advance').hide();
        $('#within-days-of-arrival').hide();
        $('#cancellation-policy').show();
        
        $('input[name=discount_rate]').removeAttr('disabled');
        $('select[name=benefit]').removeAttr('disabled').trigger('change');
      } else if ($(this).val() == 2) {
        $('#days-in-advance').show();
        $('#within-days-of-arrival').hide();
        $('#cancellation-policy').show();
        
        $('input[name=discount_rate]').removeAttr('disabled');
        $('select[name=benefit]').removeAttr('disabled').trigger('change');
      } else if ($(this).val() == 3) {
        $('#days-in-advance').hide();
        $('#within-days-of-arrival').show();
        $('#cancellation-policy').show();
        
        $('input[name=discount_rate]').removeAttr('disabled');
        $('select[name=benefit]').removeAttr('disabled').trigger('change');
      } else if ($(this).val() == 4) {
        $('#days-in-advance').hide();
        $('#within-days-of-arrival').hide();
        $('#cancellation-policy').hide();
         
        $('input[name=discount_rate]').removeAttr('disabled');
        $('select[name=benefit]').removeAttr('disabled').trigger('change');
      } else if ($(this).val() == 5) {
        $('#days-in-advance').hide();
        $('#within-days-of-arrival').hide();
        $('#cancellation-policy').show();
        
        $('input[name=discount_rate]').val(50).attr('disabled', 'disabled');
        $('select[name=benefit]').val(0).attr('disabled', 'disabled').trigger('change');
      } 
    });
    
    $('select[name=benefit]').change(function () {
      if ($(this).val() == 0) {
        $('input[name=discount_rate]').show();
        $('#discount-amount').hide();
        $('input[name=number_of_free_nights]').hide();
      } else if($(this).val() == 1) {
        $('input[name=discount_rate]').hide();
        $('#discount-amount').show();
        $('input[name=number_of_free_nights]').hide();
      } else {
        $('input[name=discount_rate]').hide();
        $('#discount-amount').hide();
        $('input[name=number_of_free_nights]').show();
      }
    });
  
    $('select[name=is_default_cancellation]').change(function () {
      if ($(this).val() == 0) {
        $('select[name=level_1_cancellation_rule_id]').parent().hide();
        $('select[name=level_2_cancellation_rule_id]').parent().hide();
        $('select[name=level_3_cancellation_rule_id]').parent().hide();
      } else {
        $('select[name=level_1_cancellation_rule_id]').parent().show();
        $('select[name=level_2_cancellation_rule_id]').parent().show();
        $('select[name=level_3_cancellation_rule_id]').parent().show();
      }
    });
    
    $('input[name=check_all_languages]').change(function () {
      var flag = $(this).is(':checked');
      $('input[name^=language_ids]').attr('checked', flag);
    });
    
    $('select[name=type]').trigger('change');
    $('select[name=benefit]').trigger('change');
    $('select[name=is_default_cancellation]').trigger('change');

    var add = 0;
    $('#add-other-benefit').click(function () {
      add++;
      $('#other-benefit-add').after('<tr id="other-benefit-'+add+'"><td></td><td><input type="text" name="number_of_free_nights" size="2" value="{{values.number_of_free_nights}}" style="display:none;" /><select name="other_benefit[]">{{#other_benefits_live}}<option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>{{/other_benefits_live}}</select>{{#__}} For {{/__}} <input type="text" name="other_benefit_value[]" size="2" value="0" /><a href="#" id="remove-other-benefit">Remove</a></td><tr>');
      return false;
    });
    $('#remove-other-benefit').live('click',function () {
      $(this).parent().parent().find('td').remove();
      return false;
    });
	});
</script>
<h1 class="title">{{#__}}Add B2B Promotion{{/__}}</h1>
<p class="description">{{#__}}Add b2b promotion for your hotels. For example staying at least 3 days and book 1 or more rooms get 20% discount.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
    <input type="hidden" name="is_show" value="1" />
    <h3 class="title">{{#__}}Information{{/__}}</h3>
    <table class="form-table">
      <tr>
        <td>{{#__}}Room Name{{/__}} <span class="red">*</span></td>
        <td>
          <ul class="none">
            <li><label><input type="checkbox" name="check_all_rooms" /> {{#__}}Select All{{/__}}</label></li>
            {{#rooms}}
            <li><label><input type="checkbox" name="room_ids[{{id}}]" value="{{id}}" {{#checked}}checked="checked"{{/checked}} /> {{name}}</label></li>
            {{/rooms}}
          </ul>
          <p class="description">{{#__}}Select room that will be affected by this promotion.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Type{{/__}} <span class="red">*</span></td>
        <td>
          <select name="type">
            {{#types}}
            <option value="{{number}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/types}}
          </select>
          <p class="description">{{#__}}Select promotion type.{{/__}}</p>
        </td>
      </tr>
      <tr id="days-in-advance" style="display:none;">
        <td>{{#__}}Days in Advance{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="days_in_advance" size="2" value="{{values.days_in_advance}}" /> {{#__}}Days{{/__}}
          <p class="description">{{#__}}Enter number of days that guests have to book in advance to get this promotion.{{/__}}</p>
        </td>
      </tr>
      <tr id="within-days-of-arrival" style="display:none;">
        <td>{{#__}}Within Days of Arrival{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="within_days_of_arrival" size="2" value="{{values.within_days_of_arrival}}" /> {{#__}}Days{{/__}}
          <p class="description">{{#__}}Enter number of days that guests have to book within days of arrival to get this promotion.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Booking Date{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="booking_start_date" size="10" value="{{values.booking_start_date}}" class="date" /> - <input type="text" name="booking_end_date" size="10" value="{{values.booking_end_date}}" class="date" />
          <p class="description">{{#__}}Guests can see this promotion between these dates.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Stay Date{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="stay_start_date" size="10" value="{{values.stay_start_date}}" class="date" /> - <input type="text" name="stay_end_date" size="10" value="{{values.stay_end_date}}" class="date" />
          <p class="description">{{#__}}Guests can stay between these dates.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Set Days{{/__}} <span class="red">*</span></td>
        <td>
          <ul class="none">
            <li><label><input type="checkbox" name="is_stay_sunday_active" value="1" {{#values.is_stay_sunday_active}}checked="checked"{{/values.is_stay_sunday_active}} /> {{#__}}Sunday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_monday_active" value="1" {{#values.is_stay_monday_active}}checked="checked"{{/values.is_stay_monday_active}} /> {{#__}}Monday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_tuesday_active" value="1" {{#values.is_stay_tuesday_active}}checked="checked"{{/values.is_stay_tuesday_active}} /> {{#__}}Tuesday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_wednesday_active" value="1" {{#values.is_stay_wednesday_active}}checked="checked"{{/values.is_stay_wednesday_active}} /> {{#__}}Wednesday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_thursday_active" value="1" {{#values.is_stay_thursday_active}}checked="checked"{{/values.is_stay_thursday_active}} /> {{#__}}Thursday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_friday_active" value="1" {{#values.is_stay_friday_active}}checked="checked"{{/values.is_stay_friday_active}} /> {{#__}}Friday{{/__}}</label></li>
            <li><label><input type="checkbox" name="is_stay_saturday_active" value="1" {{#values.is_stay_saturday_active}}checked="checked"{{/values.is_stay_saturday_active}} /> {{#__}}Saturday{{/__}}</label></li>
          </ul>
          <p class="description">{{#__}}Select days that promotion applicable.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Stay at least{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="minimum_number_of_nights" size="2" value="{{values.minimum_number_of_nights}}" /> {{#__}}Nights{{/__}}
          <p class="description">{{#__}}Minimum number of stay to get this promotion.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Book at least{{/__}} <span class="red">*</span></td>
        <td>
          <input type="text" name="minimum_number_of_rooms" size="2" value="{{values.minimum_number_of_rooms}}" /> {{#__}}Rooms{{/__}}
          <p class="description">{{#__}}Minimum number of rooms to get this promotion. Maximum value is 8.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Benefit{{/__}} <span class="red">*</span></td>
        <td>
          {{#__}}Get{{/__}} 
          <input type="text" name="discount_rate" size="2" value="{{values.discount_rate}}" />
          <span id="discount-amount" style="display:none;"><input type="text" name="discount_amount" size="4" value="{{values.discount_amount}}" /> {{currency.code}}</span>
          <input type="text" name="number_of_free_nights" size="2" value="{{values.number_of_free_nights}}" style="display:none;" />
          <select name="benefit">
            {{#benefits}}
            <option value="{{number}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/benefits}}
          </select>
          <p class="description">{{#__}}Enter benefit for this promotion.{{/__}}</p>
        </td>
      </tr>
      <tr id="other-benefit-add">
        <td>{{#__}}Other Benefit{{/__}} <span class="red">*</span></td>
        <td><a href="#" id="add-other-benefit">Add</a></td>
      </tr>
      {{#other_benefits}}
      <tr id="other-benefit">
        <td></td>
        <td>
          <input type="text" name="number_of_free_nights" size="2" value="{{values.number_of_free_nights}}" style="display:none;" />
          <select name="other_benefit[]">
          {{#other_benefits_single}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/other_benefits_single}}
          </select>
          {{#__}}For{{/__}} 
          <input type="text" name="other_benefit_value[]" size="2" value="0" />
          <a href="#" id="remove-other-benefit">Remove</a>
        </td>
      </tr>
      {{/other_benefits}}
      <tr id="cancellation-policy">
        <td>{{#__}}Cancellation Policy{{/__}} <span class="red">*</span></td>
        <td>
          <ul class="none">
            <li>
              <select name="is_default_cancellation">
                {{#cancellation_types}}
                <option value="{{number}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/cancellation_types}}
              </select>
            </li>
            <li style="display: none;">
              <select name="level_1_cancellation_rule_id">
                {{#cancellation_level_1_rules}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/cancellation_level_1_rules}}
              </select>
            </li>
            <li style="display: none;">
              <select name="level_2_cancellation_rule_id">
                <option value="0">-</option>
                {{#cancellation_level_2_rules}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/cancellation_level_2_rules}}
              </select>
            </li>
            <li style="display: none;">
              <select name="level_3_cancellation_rule_id">
                <option value="0">-</option>
                {{#cancellation_level_3_rules}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/cancellation_level_3_rules}}
              </select>
            </li>
          </ul>
          <p class="description">{{#__}}Select cancellation policy.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Store Front{{/__}} <span class="red">*</span></td>
        <td>
          <ul class="none">
            <li><label><input type="checkbox" name="check_all_languages" /> {{#__}}Select All{{/__}}</label></li>
            {{#languages}}
            <li><label><input type="checkbox" name="language_ids[{{id}}]" value="{{id}}" {{#checked}}checked="checked"{{/checked}} /> {{name}}</label></li>
            {{/languages}}
          </ul>
          <p class="description">{{#__}}Select which language this promotion appeared.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td><span class="red">*</span> {{#__}}Required{{/__}}</td>
        <td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
