<html>
	<link rel="stylesheet" href="{{base_url_load}}media/css/pdf.css" type="text/css">
	<body>

		<div class="wrapper">

			<div class="header">
				<p class="hoterip_logo"><img src="{{base_url_load}}media/images/logo_voucher.png" /></p>
				<h1 class="title">HOTEL VOUCHER</h1>
				<p class="sub_title">{{#__}}Please print this voucher and present it to hotel staff on your arrival{{/__}}</p>
				<p class="info">{{#__}}DATE: {{booking_pending.created}} BOOKING ID: #{{booking_id}}{{/__}}</p>
			</div>

			<dl class="booking_info">
				<dt>
				<p>{{#__}}Hotel Name{{/__}}:</p>
				<small>{{^english}}Hotel Name:{{/english}}</small>
				</dt>
				<dd>
					<p>{{hotel.name}}</p>
					<small>{{^english}}{{hotel_en.name}}{{/english}}</small>
				</dd>
				<dt>
				<p>{{#__}}Address{{/__}}:</p>
				<small>{{^english}}Address:{{/english}}</small>
				</dt>
				<dd>
					{{booking_data.hotel_address}}
					{{#hotel_en.district_name}}, {{hotel_en.district_name}}{{/hotel_en.district_name}}
					, {{hotel_en.city_name}}, {{hotel_en.country_name}}.
				</dd>

				<dt>
				<p>{{#__}}Telephone{{/__}}:</p>
				<small>{{^english}}Telephone:{{/english}}</small>
				</dt>
				<dd>{{booking_data.hotel_telephone}}</dd>

				<dt>
				<p>{{#__}}First Name{{/__}}:</p>
				<small>{{^english}}First Name:{{/english}}</small>
				</dt>
				<dd>{{booking_pending.first_name}}</dd>

				<dt>
				<p>{{#__}}Last Name{{/__}}:</p>
				<small>{{^english}}Last Name:{{/english}}</small>
				</dt>
				<dd>{{booking_pending.last_name}}</dd>

				<dt>
				<p>{{#__}}Nationality{{/__}}:</p>
				<small>{{^english}}Nationality:{{/english}}</small>
				</dt>
				<dd>{{booking_pending.nationality}}</dd>

				<dt>
				<p>{{#__}}Check-in Date{{/__}}:</p>
				<small>{{^english}}Check-in Date:{{/english}}</small></dt>
				<dd>{{booking_data.check_in}}</dd>

				<dt>
				<p>{{#__}}Check-out Date{{/__}}:</p>
				<small>{{^english}}Check-out Date:{{/english}}</small>
				</dt>
				<dd>{{booking_data.check_out}}</dd>

				<dt>
				<p>{{#__}}Room Name{{/__}}:</p>
				<small>{{^english}}Room Name:{{/english}}</small>
				</dt>
				<dd>{{booking_data.room_name}}</dd>
			</dl>

			<dl class="booking_detail">
				<dt>
				<p>{{#__}}Number of Nights{{/__}}:</p>
				<small>{{^english}}Number of Nights:{{/english}}</small>
				</dt>
				<dd>{{booking_data.nights}}</dd>

				<dt>
				<p>{{#__}}Number of Rooms{{/__}}:</p>
				<small>{{^english}}Number of Rooms:{{/english}}</small>
				</dt>
				<dd>{{booking_data.number_of_rooms}}</dd>

				<dt>
				<p>{{#__}}Number of Adults{{/__}}:</p>
				<small>{{^english}}Number of Adults:{{/english}}</small>
				</dt>
				<dd>{{booking_data.number_of_adult}}</dd>

				<dt>
				<p>{{#__}}Number of Children{{/__}}:</p>
				<small>{{^english}}Number of Children:{{/english}}</small>
				</dt>
				<dd>{{booking_data.number_of_child}}</dd>

				<dt>
				<p>{{#__}}Number of Extra Beds{{/__}}:</p>
				<small>{{^english}}Number of Extra Beds:{{/english}}</small>
				</dt>
				<dd>{{booking_data.number_of_extrabed}}</dd>

				<dt>
				<p>{{#__}}Breakfast{{/__}}:</p>
				<small>{{^english}}Breakfast:{{/english}}</small>
				</dt>
				<dd>
					{{#booking_data.is_breakfast_included}}{{#__}}Included{{/__}}{{/booking_data.is_breakfast_included}}
					{{^booking_data.is_breakfast_included}}{{#__}}Not Included{{/__}}{{/booking_data.is_breakfast_included}}
				</dd>
			</dl>

			{{#booking_data.additional_benefit_exist}}

			<dl class="booking_info">
				<dt>
				<p>{{#__}}Additional Benefits{{/__}}:</p>
				<small>{{^english}}Additional Benefits:{{/english}}</small>
				</dt> 
				<dd>
					{{#additional_benefit}}
						{{#benefit_for}}
							<p>
							{{#__}}{{name}} for {{value}}{{/__}}
							</p>
						{{/benefit_for}}
						{{^benefit_for}}
							<p>
								{{name}}
							</p>
							{{/benefit_for}}
					{{/additional_benefit}}
				</dd>
			</dl>

			{{/booking_data.additional_benefit_exist}}

			<dl class="cancellation">
				<dt>
				<p>{{#__}}Cancellation Policy{{/__}}:</p>
				<small>{{^english}}Cancellation Policy:{{/english}}</small>
				</dt>
				<dd>
					<p>
						{{booking_data.cancellation.rule_1_name}}
						{{#booking_data.cancellation.rule_2_name}}<br>{{booking_data.cancellation.rule_2_name}}{{/booking_data.cancellation.rule_2_name}}
						{{#booking_data.cancellation.rule_3_name}}<br>{{booking_data.cancellation.rule_3_name}}{{/booking_data.cancellation.rule_3_name}}
					</p>
				</dd>
			</dl>

			<dl class="payment">
				{{#booking_data.invoice_transaction}}
				<dt>{{#__}}Total Payment{{/__}}</dt><dd>{{symbol}}{{amount}}</dd>
				{{/booking_data.invoice_transaction}}
			</dl>
			{{#credit_card}}
			<dl class="payment">
				<dt>{{#__}}Payment method{{/__}}</dt>
				<dd>Credit Card - {{#payment_values.auth_id}}Approved{{/payment_values.auth_id}}</dd>
			</dl>
			<dl class="payment">
				<dt>Card Number</dt>
				<dd>{{payment_values.card_type}} {{payment_values.card_bin}}xx-xxxx-{{payment_values.card_last4}}</dd>
			</dl>
			<dl class="payment">
				<dt>{{#__}}Card Holder{{/__}}</dt>
				<dd>{{payment_values.card_holder_name}}</dd>
			</dl>
			{{/credit_card}}

			<div class="hoterip_info">
				<dl class="payable">
					<dt>{{#__}}Booked and payable by{{/__}}:</dt>
					<dd>{{#__}}PT. HARUM INDAH SARI TOURS AND TRAVEL<br /> Jl. Bypass,Ngurah rai No.732 Pesanggaran<br />Denpasar-80222, Indonesia{{/__}}</dd>
				</dl>

				<div class="signature">
					<img src="{{base_url_load}}media/images/signature.jpg" />
					<p>{{#__}}Authorized Stamp & Signature{{/__}}</p>
				</div>
			</div>

			<div class="footer">
				<p class="text">Enjoy your trip!</p>

				<div class="address">
					<p>Hoterip by H.I.S.</p>
					<p>
						PT. HARUM INDAH SARI TOURS AND TRAVEL<br/>
						Jl. Bypass Ngurah rai No.732 Pesanggaran, Denpasar-80222, Indonesia<br/>
						TEL : +62 361-721064 / FAX : +62 361-728179<br/>
						Email : support@hoterip.com
					</p>
				</div>

				<p class="his_logo"><img src="{{base_url_load}}media/images/his_logo.png" /></p>
			</div>

		</div>

	</body>
</html>