<h1 class="title">{{#__}}Add Hotel Photo{{/__}}</h1>
<p class="description">{{#__}}Add new hotel photo. Photo will be resized automatically.{{/__}}</p>
{{&notice}}
<div class="section">
  <form action="" method="post" enctype="multipart/form-data">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		{{#hotel_photo_texts}}
		<tr>
			<td>{{#__}}Photo Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter photo name in capital letters on each first letter in the word. For example: Pool Bar.{{/__}}</p>
      </td>
		</tr>
		{{/hotel_photo_texts}}
		<tr>
			<td>{{#__}}File{{/__}} <span class="red">*</span></td>
			<td><input type="file" name="photo" /><p class="description">{{#__}}Select photo to upload. Only .jpg allowed. Maximum size is 1 MB. If your photo is very big, please resize it first before uploading.{{/__}}</p></td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>
