<script type="text/javascript">
	$(document).ready(function() {
    $('select[name="hotel_photo_id"]').bind('change keyup', function() {
      var id = $(this).val();
      
      $('#hotel-photos').children().hide();
      $('#hotel-photo-' + id).show();
    });
    
    $('select[name="hotel_photo_id"]').trigger('change');
	});
</script>
<h1 class="title">{{#__}}Edit Main Photo{{/__}}</h1>
<p class="description">{{#__}}Add new hotel photo. Photo will be resized automatically.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="" enctype="multipart/form-data">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
		<tr>
			<td>{{#__}}Photo{{/__}}</td>
			<td>
        <select name="hotel_photo_id">
					<option value="0">{{#__}}Select{{/__}}</option>
					{{#hotel_photos}}
					<option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
					{{/hotel_photos}}
				</select>
				<ul id="hotel-photos" class="photos" style="margin-top: 10px;">
					<li id="hotel-photo-0">
						<img src="{{base}}media/images/no-image.png" />
						<p>{{#__}}No Photo{{/__}}</p>
					</li>
					{{#hotel_photos}}
					<li id="hotel-photo-{{id}}" style="display: none;">
						<img src="{{url}}" />
						<p>{{name}}</p>
					</li>
					{{/hotel_photos}}
				</ul>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>
