<h1 class="title">{{#__}}Manage Hotel Photos{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hotel photo.{{/__}}</p>
{{&notice}}
<div class="section">
	<h3 class="title">{{#__}}Main Photo{{/__}}</h3>
	<ul class="photos">
		<li>
      {{#main_photo_exist}}
			<img src="{{main_photo_url}}" />
      {{/main_photo_exist}}
      {{^main_photo_exist}}
      <img src="{{base}}media/images/no-image.png" />
      {{/main_photo_exist}}
			<p>
				{{#__}}Main Photo{{/__}}<br />
				<a href="{{main_photo_edit_url}}">{{#__}}Edit{{/__}}</a></a>
			</p>
		</li>
	</ul>
	<div class="clear"></div>
	
	<h3 class="title">{{#__}}Photos{{/__}}</h3>
	<p class="description"><a href="{{photo_add_url}}">{{#__}}Add new photo{{/__}}</a></p>
	<ul class="photos">
	{{#hotel_photos}}
	<li>
		<img src="{{url}}" alt="{{name}}" />
		<p>
			{{name}}<br />
			<a href="{{edit_url}}">{{#__}}Edit{{/__}}</a> <a href="{{delete_url}}" class="delete">{{#__}}Delete{{/__}}</a>
		</p>
	</li>
	{{/hotel_photos}}
	</ul>
	<div class="clear"></div>
</div>
