<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}Add Country{{/__}}</h1>
<p class="description">{{#__}}Add new country.{{/__}}</p>
{{&notice}}
<div class="section">
  <form method="post" action="">
	<h3 class="title">{{#__}}Informaiton{{/__}}</h3>
	<table class="form-table">
		{{#country_texts}}
		<tr>
			<td>{{#__}}Country Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="names[{{language.id}}]" value="{{name}}" size="30" /> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter Country Name. Enter country name in capital letters on each first letter in the word. For example: United States.{{/__}}</p>
      </td>
		</tr>
		{{/country_texts}}
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
  </form>
</div>