<h1 class="title">{{#__}}Add Deal{{/__}}</h1>
<p class="description">{{#__}}Add new deal.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
			<td>{{#__}}Name{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="name" />
        <p class="description">{{#__}}Enter deal name.{{/__}}</p>
      </td>
		</tr>
		<tr>
			<td>{{#__}}Language{{/__}}</td>
			<td>
        <select name="language_id">
          {{#languages}}
          <option value="{{id}}">{{name}}</option>
          {{/languages}}
        </select>
        <p class="description">{{#__}}Select language. This deal will be only visible to selected language.{{/__}}</p>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>