<script type="text/javascript">
	$(document).ready(function() {
		$('.deals').sortable({
      cursor: 'move',
      opacity: 0.6,
      update: function() {
        var order = $(this).sortable("serialize");
        $.post("{{#url}}deal/reorder{{/url}}", order, function (response) {
        });
      }
    });
    
    $('.photos').sortable({
      cursor: 'move',
      opacity: 0.6,
      update: function() {
        var order = $(this).sortable("serialize");
        console.log(order);
        $.post("{{#url}}deal_hotel/reorder{{/url}}", order, function (response) {
        });
      }
    });
	});
</script>
<h1 class="title">{{#__}}Manage Hot Deals{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete hot deals. Drag deals or photos to reorder.{{/__}}</p>
{{&notice}}
<div class="section">
  <p class="description">
    <a href="{{deal_add_url}}">{{#__}}Add Deal{{/__}}</a>
  </p>
  <ul class="deals">
    {{#deals}}
    <li id="deal_ids_{{id}}">
      <h3 class="title">{{name}} <img src="{{base}}media/images/languages/{{language_code}}.png" /></h3>
      <p class="description">
        <a href="{{hotel_add_url}}">{{#__}}Add Hotel{{/__}}</a>
        <a href="{{edit_url}}">{{#__}}Edit Deal{{/__}}</a>
        <a href="{{delete_url}}" class="delete">{{#__}}Delete Deal{{/__}}</a>
      </p>
      <ul class="photos">
      {{#hotels}}
      <li id="deal_hotel_ids_{{deal_id}}|{{id}}">
        <img src="{{image_url}}" alt="{{name}}" />
        <p>
          {{name}}<br />
          {{price}} {{currency_code}}<br />
          <a href="{{delete_url}}" class="delete">{{#__}}Delete{{/__}}</a>
        </p>
      </li>
      {{/hotels}}
      </ul>
      <div class="clear"></div>
    </li>
    {{/deals}}
  </ul>
</div>
