<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}CSV Report{{/__}}</h1>
<p class="description">{{#__}}You can generated new csv file every time.{{/__}}</p>
{{&notice}}
<div>
  <form method="post" action="">
    <table class="form-table">
      <tr>
        <td><input type="submit" name="generate-csv" value="{{#__}}Generate CSV{{/__}}" /></td>
        <td style="width:200px;"><input type="submit" name="generate-csv" value="{{#__}}Vacation Hotel List{{/__}}" /></td>
        <td style="width:200px;"><input type="submit" name="generate-csv" value="{{#__}}Generate CSV Trivago{{/__}}" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>
<p class="description">{{#__}}Click file to download.{{/__}}</p>
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}File Name{{/__}}</th>
			<th>{{#__}}Delete{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#csv_data}}
		<tr>
      <td class=""><a href="/api/dropbox/download/?name={{name}}">{{name}}</td>
      <td class=""><a href="/csv/delete/?name={{name}}">Delete</td>
		</tr>
		{{/csv_data}}
	</tbody>
</table>