<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/simplica.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/login.css" />
		<!--[if lt IE 9]> <script src="{{base}}media/js/ie7/IE9.js"></script> <![endif]-->
		<script type="text/javascript" src="{{base}}media/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="{{base}}media/js/login.js"></script>
		<title>{{#__}}Forgot Password{{/__}}</title>
	</head>
	<body>
		<div id="login-box">
			<h1 class="title">{{#__}}Forgot Password{{/__}}</h1>
			{{&notice}}
			<div class="section">
        <form method="post" action="">
				<div class="float-right">
					<table class="login-table">
						<tr>
							<td>{{#__}}Email{{/__}}</td>
							<td><input type="text" name="email" size="30" value="{{values.email}}" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
        </form>
			</div>
		</div>
	</body>
</html>