<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/simplica.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{base}}media/css/login.css" />
		<!--[if lt IE 9]> <script src="{{base}}media/js/ie7/IE9.js"></script> <![endif]-->
		<script type="text/javascript" src="{{base}}media/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="{{base}}media/js/login.js"></script>
		<title>{{#__}}Login{{/__}}</title>
	</head>
	<body>
		<div id="login-box">
			<h1 class="title">{{#__}}Login{{/__}}</h1>
			{{&notice}}
			<div class="section">
        <form method="post" action="">
				<div class="float-right">
					<table class="login-table">
						<tr>
							<td>{{#__}}Username{{/__}}</td>
							<td><input type="text" name="username" size="30" /></td>
						</tr>
						<tr>
							<td>{{#__}}Password{{/__}}</td>
							<td><input type="password" name="password" size="30" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
              <td><label><input type="checkbox" name="remember_me" {{#values.remember_me}}checked{{/values.remember_me}} /> {{#__}}Remember me{{/__}}</label></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><input type="submit" name="submit" value="{{#__}}Login{{/__}}" /> or <a href="{{forgot_url}}">{{#__}}Forgot Password{{/__}}</a></td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
        </form>
			</div>
		</div>
	</body>
</html>