<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
  });
</script>
<h1 class="title">{{#__}}Hotel Logs{{/__}}</h1>
<p class="description">{{#__}}See hotel logs here. You can change the log dates.{{/__}}</p>
{{&notice}}
<form method="get" action="">
<div class="toolbar">
	<ul>
		<li>{{#__}}From{{/__}} <input type="text" name="start_date" size="10" class="date" value="{{start_date}}" /> {{#__}}To{{/__}} <input type="text" name="end_date" size="10" class="date" value="{{end_date}}" /></li>
		 <!-- <li>{{#__}}Limit Log{{/__}} <input type="text" name="limit_log" value="" /></li> -->
    <li><input type="submit" name="submit" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>  
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Username{{/__}}</th>
      <th>{{#__}}Action{{/__}}</th>
      <th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Description{{/__}}</th>
      <th>{{#__}}Time{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#logs}}
		<tr>
			<td>{{admin_username}}</td>
      <td>{{action}}</td>
      <td>{{room_name}}</td>
			<td>{{text}}</td>
      <td>{{time}}</td>
		</tr>
		{{/logs}}
	</tbody>
</table>
{{&pagination}}