{{text_1}}

{{text_2}}
{{text_3}}
----------------------------------------------------------------
{{text_booking_id}}: #{{booking.id}}
{{text_hotel_name}}: {{hotel.name}}
{{text_room_name}}: {{room.name}}
{{text_check_in_date}}: {{booking.check_in_date}}
{{text_check_out_date}}: {{booking.check_out_date}}
{{text_cancellation_policy}}: {{cancellation_rules}}
----------------------------------------------------------------


Hoterip.com by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com