{{text_1}}
{{text_2}}

{{text_3}}
----------------------------------------------------------------
{{&message}}
----------------------------------------------------------------

{{text_4}}
http://www.hoterip.com/my/bookings?booking_id={{booking_id}}
{{text_5}}

{{text_6}}

Hoterip.com by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com
