{{#__}}You are receiving this email because you have forgot your password and requested to change your password.{{/__}}

{{#__}}Click link below to change your password{{/__}}

{{&reset_url}}

{{#__}}If you do not requested this, please ignore this email.{{/__}}

{{#__}}This email is an automated notification email. Do not reply to this email.{{/__}}