Dear {{hotel_en.name}},

Room (s) category below are available less then six months. Please extend the room inventory up to six months or more on Hoterip https://my.hoterip.com/item/manage/

	{{#rooms}}
	- {{name}}{{eol}}
	{{/rooms}}
	
----------------------------------------------------------------
Hoterip.com by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com
----------------------------------------------------------------