{{#__}}Dear{{/__}} {{hotel_en.name}},

Your room stock for {{room_en.name}} has depleted to 0.
Please top up your stock in Hoterip https://my.hoterip.com/item/manage/

----------------------------------------------------------------
Hoterip.com by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com
----------------------------------------------------------------