{{text_1}}

{{text_2}}
----------------------------------------------------------------
{{text_booking_id}}: {{booking.id}}
{{text_hotel_name}}: {{hotel.name}}
{{text_cancellation_policy}}: {{cancellation_rules}}
{{text_check_in_date}}: {{booking.check_in_date}}
{{text_check_out_date}}: {{booking.check_out_date}}
{{text_paid}}: {{amount_guest_paid_guest_currency}} {{guest_currency}} {{^guest_currency_same_with_transaction_currency}}({{amount_guest_paid_transaction_currency}} {{transaction_currency}}){{/guest_currency_same_with_transaction_currency}}
{{text_used_point}}: {{booking.number_of_points_used}} {{text_point}}
{{text_refunded}}: {{amount_money_refunded_transaction_currency}} {{transaction_currency}}
{{text_refunded_point}}: {{amount_point_refunded}} {{text_point}}
----------------------------------------------------------------
{{text_3}}
{{text_4}}
----------------------------------------------------------------
Hoterip.com by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com