<script language="javascript">
$(document).ready(function()	{

$("#email-status-list").click(function (e)
  {
    $(this).colorbox({
    width:"30%",
    height:"80%",
    opacity:"0.9",
    onComplete: function(){
      $('.list-table').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false
      });
    }
    });
  });

  $('select[name=to]').change(function(e) {
    if ($(this).val() == 3) {
      $('select[name=language_id]').hide();
      $('input[name=email]').show();
    } else if ($(this).val() == 2) {
      $('select[name=language_id]').hide();
      $('input[name=email]').hide();
    } else {
      $('select[name=language_id]').show();
      $('input[name=email]').hide();
    }
  });
   
  $('input[name=submit]').click(function(e) {
   $ok = confirm ('{{#__}}Are you sure to send this email?{{/__}}');
    if ( ! $ok) {
      e.preventDefault();
    } 
  });
  
  $.cleditor.buttons.image.uploadUrl = '{{base}}media/upload';
   
  $("#message").cleditor({
    width: 670, 
    height: 480
  }); 
  $('select[name=to]').trigger('change');
});
</script>
<h1 class="title">{{#__}}Send Email{{/__}}</h1>
<p class="description">
  {{#__}}Use form below to send mass email to users. You can use variables below to customize the text in subject or message.{{/__}}<br/>
  {first_name} = {{#__}}User First Name{{/__}}<br/>
  {last_name} = {{#__}}User Last Name{{/__}}<br/>
  {point} = {{#__}}User Point{{/__}}<br/>
</p>
<p>
  <button id ="email-status-list" href="{{#url}}email/send/{{/url}}">{{#__}}Emails Status List{{/__}}</button>
</p>
{{&notice}}
<form method="post" action="">
  <table class="form-table">
    <tr>
      <td>{{#__}}To{{/__}}</td>
      <td>
        <select name="to">
          {{#tos}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/tos}}
        </select>
        <select name="language_id">
          <option value="0">{{#__}}All{{/__}}</option>
          {{#languages}}
          <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
          {{/languages}}
        </select>
        <input type="text" name="email" size="20" value="{{values.email}}" />
        <p class="description">{{#__}}If you choose to send to custom email, then the email must be one of the user.{{/__}}</p>
      </td>
    </tr>
    <tr>
      <td>{{#__}}Subject{{/__}}</td>
      <td><input type="text" name="subject" size="80" value="{{values.subject}}" /></td>
    </tr>
    <tr>
      <td>{{#__}}Message{{/__}}</td>
      <td><textarea id="message" name="message" cols="80" rows="20">{{values.message}}</textarea></td>
    </tr>
  </table>
  <hr class="separator" />
  <table class="form-table">
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" value="{{#__}}Send Email{{/__}}" /></td>
    </tr>
  </table>
</form>