<h1><strong>404 Error:</strong> Page not found</h1>
<p>{{message}}</p>
<p>It is either not existing, moved or deleted. Make sure the URL is correct. </p>
<p>To go back to the previous page, click the Back button.</p>
<p><a href="{{base}}">If you wanted to go to the main page instead, click here</a></p>