<h1><strong>500 Error:</strong> Internal server error</h1>
<p>{{message}}</p>
<p>Something went wrong while we are processing your request. You can try the following:</p>
<ul>
  <li>Reload / refresh the page.</li>
  <li>Go back to the previous page.</li>
</ul>
<p>This incident is logged and we are already notified about this problem. We will trace the cause of this problem.</p>
<p>For the mean time, you may want to go to the main page.</p>
<p><a href="{{base}}">If you wanted to go to the main page, click here</a></p>