<script type="text/javascript" src="{{base}}media/js/jquery.PrintArea.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    {{#hoterip}}
    $('input[name=cancel]').click(function (e) {
      var ok = confirm('{{#__}}Are you sure want to cancel this booking? (You can not undo this action){{/__}}');
      if ( ! ok) {
        e.preventDefault();
      }
    });
    {{/hoterip}}
    $('input[name=no_show]').click(function (e) {
      var ok = confirm('{{#__}}Are you sure want to cancel this booking because guest failed to show up at the hotel? (You can not undo this action){{/__}}');
      if ( ! ok) {
        e.preventDefault();
      }
    });

    $('input[name=print]').click(function(e) {
			e.preventDefault();
			$("#print-area").printArea({
				mode: "popup"
			});
		});
	});
</script>
<h1 class="title">{{#__}}Booking Detail{{/__}}</h1>
<p class="description">{{#__}}Guest booking detail.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<input type="hidden" name="booking_id" value="{{booking.id}}" />
<div id="booking-detail-toolbar">
  <div class="float-left">
		{{#booking.is_canceled}}
		<span class="message-error" style="display: inline-block;">{{#__}}Booking Canceled{{/__}}</span>
		{{/booking.is_canceled}}
	</div>
	<ul>
    {{#hoterip}}
    {{^booking.is_canceled}}
    <li><input type="submit" name="cancel" value="{{#__}}Cancel This Booking{{/__}}" /></li>
    {{/booking.is_canceled}}
    {{/hoterip}}
    {{^booking.is_canceled}}
    {{#show_cancel_no_show_button}}
    <li><input type="submit" name="no_show" value="{{#__}}Cancel This Booking - No Show{{/__}}" /></li>
    {{/show_cancel_no_show_button}}
    {{/booking.is_canceled}}
		<li><input type="button" name="print" value="{{#__}}Print this page{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<div id="print-area">
<div class="section">
	<h3 class="title">{{#__}}Booking Information{{/__}}</h3>
	<table class="form-table" id="transaction_information">
		<tr>
			<td>{{#__}}Booking ID{{/__}}</td>
			<td>{{booking.id}}</td>
		</tr>
		<tr>
			<td>{{#__}}Hotel Name{{/__}}</td>
			<td>{{booking.hotel_name}}</td>
		</tr>
		<tr>
			<td>{{#__}}Room Name{{/__}}</td>
			<td>
        {{booking.room_name}} - 
        {{#booking.room.is_breakfast_included}}
        {{#__}}Breakfast Included for {{booking.room.number_of_persons_breakfast_included}} Person{{/__}}
        {{/booking.room.is_breakfast_included}}
        {{^booking.room.is_breakfast_included}}
        {{#__}}Breakfast Not Included{{/__}}
        {{/booking.room.is_breakfast_included}}
      </td>
		</tr>
    {{^booking.campaign.is_default}}
		<tr>
			<td>{{#__}}Promotion{{/__}}</td>
			<td>{{booking.promotion_name}}</td>
		</tr>
    {{/booking.campaign.is_default}}
		{{#booking.is_additional_benefit}}
    <tr>
      <td>{{#__}}Additional Benefit{{/__}}</td>
      <td>{{booking.additional_benefit}}</td>
		</tr>
    {{/booking.is_additional_benefit}}
		<tr>
			<td>{{#__}}Number of Rooms{{/__}}</td>
			<td>{{booking.number_of_rooms}}</td>
		</tr>
    <tr>
			<td>{{#__}}Booking Date{{/__}}</td>
			<td>{{booking.booking_date}}</td>
		</tr>
    {{#booking.is_canceled}}
    <tr>
      <td><span class="red">{{#__}}Canceled Time{{/__}}</span></td>
      <td><span class="red">{{booking.canceled_time}} ({{#__}}Hotel Time{{/__}})</span></td>
		</tr>
    {{/booking.is_canceled}}
		<tr>
			<td>{{#__}}Check-in Date{{/__}}</td>
			<td>{{booking.check_in_date}}</td>
		</tr>
		<tr>
			<td>{{#__}}Check-out Date{{/__}}</td>
			<td>{{booking.check_out_date}}</td>
		</tr>
    <tr>
			<td>{{#__}}Store Front Language{{/__}}</td>
			<td><img src="{{base}}media/images/languages/{{booking.language_code}}.png" /> {{booking.language_name}}</td>
		</tr>
    <tr>
			<td>{{#__}}Cancellation Policy{{/__}}</td>
			<td>
        <ul class="none">
          <li>{{booking.level_1_cancellation_rule_name}}</li>
          {{#booking.level_2_cancellation_rule_name}}
          <li>{{booking.level_2_cancellation_rule_name}}</li>
          {{/booking.level_2_cancellation_rule_name}}
          {{#booking.level_3_cancellation_rule_name}}
          <li>{{booking.level_3_cancellation_rule_name}}</li>
          {{/booking.level_3_cancellation_rule_name}}
        </ul>
      </td>
		</tr>
	</table>
</div>
{{#hoterip}}
<div class="section">
	<h3 class="title">{{#__}}Account Information{{/__}}</h3>
	<table class="form-table" id="transaction_information">
		<tr>
			<td>{{#__}}Email{{/__}}</td>
			<td>{{booking.user_email}}</td>
		</tr>
    <tr>
			<td>{{#__}}Mobile Phone{{/__}}</td>
			<td>{{booking.user_mobile_phone}}</td>
		</tr>
    <tr>
			<td>{{#__}}Home Phone{{/__}}</td>
			<td>{{booking.user_home_phone}}</td>
		</tr>
	</table>
</div>	
{{/hoterip}}
<div class="section">
	<h3 class="title">{{#__}}Guest Information{{/__}}</h3>
	<table class="form-table" id="transaction_information">
		<tr>
			<td>{{#__}}First Name{{/__}}</td>
			<td>{{booking.first_name}}</td>
		</tr>
		<tr>
      <td>{{#__}}Last Name{{/__}}</td>
			<td>{{booking.last_name}}</td>
		</tr>
		<tr>
			<td>{{#__}}Nationality{{/__}}</td>
			<td>{{booking.nationality_name}}</td>
		</tr>
    {{#hoterip}}
    <tr>
			<td>{{#__}}Email{{/__}}</td>
			<td>{{booking.email}}</td>
		</tr>
    {{/hoterip}}
		<tr>
			<td>{{#__}}Special Request{{/__}}</td>
			<td>
        {{#booking.has_special_request}}
        <ul class="none">
          <li>
            {{#booking.is_non_smoking_room_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_non_smoking_room_request}}
            {{^booking.is_non_smoking_room_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_non_smoking_room_request}}
            {{#__}}Non-smoking Room{{/__}}
          </li>
          <li>
            {{#booking.is_late_check_in_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_late_check_in_request}}
            {{^booking.is_late_check_in_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_late_check_in_request}}
            {{#__}}Late Check-in{{/__}}
          </li>
          <li>
            {{#booking.is_early_check_in_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_early_check_in_request}}
            {{^booking.is_early_check_in_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_early_check_in_request}}
            {{#__}}Early Check-in{{/__}}
          </li>
          <li>
            {{#booking.is_high_floor_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_high_floor_request}}
            {{^booking.is_high_floor_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_high_floor_request}}
            {{#__}}High Floor{{/__}}
          </li>
          <li>
            {{#booking.is_large_bed_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_large_bed_request}}
            {{^booking.is_large_bed_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_large_bed_request}}
            {{#__}}Large Bed{{/__}}
          </li>
          <li>
            {{#booking.is_twin_beds_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_twin_beds_request}}
            {{^booking.is_twin_beds_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_twin_beds_request}}
            {{#__}}Twin Bed{{/__}}
          </li>
          <li>
            {{#booking.is_airport_transfer_request}}
            <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
            {{/booking.is_airport_transfer_request}}
            {{^booking.is_airport_transfer_request}}
            <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
            {{/booking.is_airport_transfer_request}}
            {{#__}}Airport Transfer{{/__}}
          </li>
        </ul>
        <div class="section">
          <h4>{{#__}}Additional Note{{/__}}</h4>
          {{#auto_p}}{{booking.request_note}}{{/auto_p}}
        </div>
        {{/booking.has_special_request}}
        {{^booking.has_special_request}}
        -
        {{/booking.has_special_request}}
      </td>
		</tr>
	</table>
</div>	
<div class="section">
	<h3 class="title">
		{{#__}}Room Information{{/__}}
	</h3>
  {{#booking.is_canceled}}
  <p class="description"><span class="red">{{#__}}Prices below are the prices after the cancellation policy applied.{{/__}}</span></p>
  <table class="form-table" id="transaction_information">
    <tr>
			<td>{{#__}}Applied Cancellation Policy{{/__}}</td>
			<td>{{booking.applied_cancellation_policy}}</td>
		</tr>
  </table>
  {{/booking.is_canceled}}
	{{#booking.rooms}}
	<div class="section">
		<table class="form-table" id="transaction_information">
			<tr>
        <td><strong>Room #{{number}}</strong></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>{{#__}}Adults{{/__}}</td>
				<td>{{number_of_adults}} {{#__}}Person{{/__}}</td>
			</tr>
			<tr>
				<td>{{#__}}Children{{/__}}</td>
				<td>{{number_of_children}} {{#__}}Person{{/__}}</td>
			</tr>
      {{#number_of_extrabeds}}
      <tr>
				<td>{{#__}}Extra Beds{{/__}}</td>
				<td>{{number_of_extrabeds}} Bed</td>
			</tr>
      {{/number_of_extrabeds}}
		</table>
		<table class="list-table">
			<thead>
				<tr>
					<th>{{#__}}Date{{/__}}</th>
          <th>{{#__}}Room Revenue{{/__}}</th>
					<th>{{#__}}Extra Bed{{/__}}</th>
					<th>{{#__}}Surcharge{{/__}}</th>
					<th>{{#__}}Subtotal{{/__}}</th>
				</tr>
			</thead>
			<tbody>
				{{#items}}
				<tr>
					<td>{{date}}</td>
          <td>{{hotel_revenue}} {{booking.hotel_currency.code}}</td>
					<td>
            {{#number_of_extrabeds}}
            {{extrabed_price}} {{booking.hotel_currency.code}}
            {{/number_of_extrabeds}}
            {{^number_of_extrabeds}}
            -
            {{/number_of_extrabeds}}
          </td>
					<td>
            {{#surcharge_price}}
            {{surcharge_price}} {{booking.hotel_currency.code}}
            {{/surcharge_price}}
            {{^surcharge_price}}
            -
            {{/surcharge_price}}
          </td>
					<td>{{subtotal_hotel_revenues}} {{booking.hotel_currency.code}}</td>
				</tr>
				{{/items}}
			</tbody>
		</table>
	</div>
  <hr class="separator" />
	{{/booking.rooms}}
</div>
<div class="section">
	<h3 class="title">{{#__}}Revenue Information{{/__}}</h3>
	<table class="form-table" id="transaction_information">
		<tr>
			<td>{{#__}}Hotel Revenue{{/__}}</td>
			<td>{{booking.hotel_revenue}} {{booking.hotel_currency.code}}</td>
		</tr>
    {{#hoterip}}
		<tr>
			<td>{{#__}}OTA Revenue{{/__}}</td>
			<td>{{booking.ota_revenue}} {{booking.hotel_currency.code}}</td>
		</tr>
    {{/hoterip}}
	</table>
</div>
{{#hoterip}}
<div class="section">
	<h3 class="title">{{#__}}Transaction Information{{/__}}</h3>
	<table class="form-table" id="transaction_information">
		{{^booking.admin_b2b}}
                <tr>
			<td>{{#__}}Net Selling Price{{/__}}<br>
			({{#__}}Hotel Currency{{/__}})</td>
			<td>{{booking.netselling}} {{booking.hotel_currency.code}}</td>
		</tr>
                {{/booking.admin_b2b}}
		<!-- /// bni discount -->
		{{#booking.bni_discount}}
		<tr>
			<td>{{#__}}BNI Discount{{/__}}<br>
			({{#__}}Hotel Currency{{/__}})</td>
			<td>{{booking.bni_discount}} {{booking.hotel_currency.code}}  ({{booking.bni_discount_percentage}}%)</td>
		</tr>
		{{/booking.bni_discount}}
                {{^booking.b2b}}
		<tr>
			<td>{{#__}}Used Point by Guest{{/__}}</td>
			<td>{{booking.number_of_points_used}} {{#__}}Point{{/__}}</td>
		</tr>
                {{/booking.b2b}}
                {{^booking.admin_b2b}}
    <tr>
			<td>{{#__}}Amount Paid by Guest{{/__}}<br>
			({{#__}}Hotel Currency{{/__}})</td>
			<td>{{booking.amount_paid_by_guest}} {{booking.hotel_currency.code}} </td>
		</tr>
                {{/booking.admin_b2b}}
		{{#booking.exchange_rate_exist}}
		<tr>
			<td>{{#__}}Exchange rate{{/__}}</td>
			<td>1 {{booking.hotel_currency.code}} = {{booking.exchange_rate}} {{booking.guest_currency.code}}</td>
		</tr>
		{{/booking.exchange_rate_exist}}
    {{^booking.b2b}}
    <tr>
			<td>{{#__}}Actual Amount Paid by Guest{{/__}} ({{#__}}Transaction Currency{{/__}})</td>
			<td>{{booking.amount_paid_by_guest_transaction}} {{booking.transaction_currency.code}} </td>
		</tr>
    {{/booking.b2b}}            
    {{#booking.is_canceled}}
    <tr>
			<td>{{#__}}Refund Money to Guest{{/__}}</td>
			<td>{{booking.amount_money_refunded_to_guest}} {{booking.hotel_currency.code}}</td>
		</tr>
    {{^booking.b2b}}
    <tr>
			<td>{{#__}}Refund Point to Guest{{/__}}</td>
			<td>{{booking.amount_point_refunded_to_guest}} {{#__}}Point{{/__}}</td>
		</tr>
	{{/booking.b2b}}	
    {{/booking.is_canceled}}
    {{^booking.b2b}}
    <tr>
			<td>{{#__}}Reward Point to Guest{{/__}}</td>
			<td>{{booking.reward_point}} {{#__}}Point{{/__}}</td>
		</tr>
    {{/booking.b2b}}
	</table>
</div>
{{/hoterip}}
</form>
