<script type="text/javascript">
	$(document).ready(function() {
    $('.date').datepicker({
      changeMonth: true,
      changeYear: true,
			dateFormat: 'yy-mm-dd'
		});
    
    $('#advanced-search-link').click(function (e) {
      e.preventDefault();
      $('#advanced-search').toggle();
    });
		
		$('.lock').click(function(e) {
			var locker_username = $(this).attr('rel');
      var locker_name = $(this).attr('rel2');
			
			if (locker_username != '{{logged_in_admin.username}}') {
				var confirmString = '{{#__}}This booking is locked by :name. Are you sure want to unlock this booking?{{/__}}';
				confirmString = confirmString.replace(':name', locker_name);

				var ok = confirm(confirmString);
				if ( ! ok) {
					e.preventDefault();
				}
			}

      if ( $(this).hasClass('clicked') ) {
        return false;
      } else {
        $(this).addClass('clicked');
      }
      
		});

    $('.guest-name-link').each(function (index) {
			$(this).dexcellTip({
				content: $(this).next().html()
			});
		});
    
    $('.number-of-rooms-link').each(function (index) {
			$(this).dexcellTip({
				content: $(this).next().html()
			});
		});
    
    $('.special-request-link').each(function (index) {
      var conversationLink = $(this);
      
			$(this).dexcellTip({
				content: $(this).next().next().html(),
        onShow: function() {
          if (conversationLink.next().children().size() > 0) {
            $.get(conversationLink.attr('href'));
            conversationLink.next().empty();
          }
				}
			});
		});
    
    $('input[name=submit_conversation]').live('click', function(e) {
      $ok = confirm('{{#__}}Are you sure want to submit this message to guest?{{/__}}');
			if ( ! $ok) {
				e.preventDefault();
			}
    });
		
		$('.comment-link').each(function (index) {
			var commentLink = $(this);
			
			$(this).dexcellTip({
				content: $(this).next().next().html(),
				onShow: function() {
          if (commentLink.next().children().size() > 0) {
            $.get(commentLink.attr('href'));
            commentLink.next().empty();
          }
				}
			});
		});
    
    $('#admin-notes-help').dexcellTip({
      content: $('#admin-notes-help').next().html()
		});
    
    $('#lock-help').dexcellTip({
      content: $('#lock-help').next().html()
		});
    
    $('#done-help').dexcellTip({
      content: $('#done-help').next().html()
		});
	});
</script>

<h1 class="title">{{#__}}Manage Bookings{{/__}}</h1>
<p class="description">{{#__}}Manage your hotel bookings. Red bar means booking is canceled. You can filter bookings using advance search.{{/__}}</p>
{{&notice}}
<p><a href="#" id="advanced-search-link">{{#__}}Advanced Search{{/__}}</a></p>
<div id="advanced-search" {{^filters.is_search}}class="hidden"{{/filters.is_search}}>
  <form method="get" action="">
    <input type="hidden" name="is_search" value="1" />
    <table class="form-table">
      <tr>
        <td>{{#__}}ID{{/__}}</td>
        <td><input type="text" size="6" name="id" value="{{filters.id}}" /></td>
      </tr>
      <tr>
        <td>{{#__}}Guest Name{{/__}}</td>
        <td><input type="text" name="guest_name" value="{{filters.guest_name}}" /></td>
      </tr>
      <tr>
        <td>{{#__}}Booking Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="booking_start_date" value="{{filters.booking_start_date}}" /> - <input type="text" size="12" class="date" name="booking_end_date" value="{{filters.booking_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every booking date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Check-in Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="check_in_start_date" value="{{filters.check_in_start_date}}" /> - <input type="text" size="12" class="date" name="check_in_end_date" value="{{filters.check_in_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every check-in date.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
<form action="" method="get">
<div class="toolbar">
	<ul>
    <li>{{#__}}ID{{/__}} <input type="text" size="6" name="id" value="{{filters.id}}" /></li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>
<table class="list-table">
	<thead>
		<tr>
			<th class="align-center">
        <a href="#" id="lock-help">?</a>
        <div class="hidden">
          <div style="width: 200px;">
            {{#__}}Before you process this booking into your hotel system, you should lock this booking first by clicking the lock icon below. This is to avoid another administrator to process same booking with you.{{/__}}
          </div>
        </div>
      </th>
			<th class="align-center">
        <a href="#" id="done-help">?</a>
        <div class="hidden">
          <div style="width: 200px;">
            {{#__}}After you process this booking into your hotel system and complete the special requests from guests, then you can mark this booking as processed by clicking the check icon below.{{/__}}
          </div>
        </div>
      </th>
			<th>{{#__}}ID{{/__}}</th>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Guest Name{{/__}}</th>
      <th>{{#__}}Booking Date{{/__}}</th>
			<th>{{#__}}Check-in Date{{/__}}</th>
      <th>{{#__}}Check-out Date{{/__}}</th>
      <th>{{#__}}Number of Rooms{{/__}}</th>
      <th>{{#__}}Special Request{{/__}}</th>
      <th>
        {{#__}}Notes{{/__}}
        <a href="#" id="admin-notes-help">?</a>
        <div class="hidden">
          <div style="width: 200px;">{{#__}}You can write the notes for this booking here. This notes can be seen only by you or other administrators who have the right to manage this hotel.{{/__}}</div>
        </div>
      </th>
			<th>{{#__}}Detail{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#bookings}}
		<tr>
			<td class="align-center {{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
				<a href="{{#url}}booking/toggle/{{id}}{{/url}}?field=lock&value={{#locked}}0{{/locked}}{{^locked}}1{{/locked}}" title="{{#locked}}Locked by {{locker_name}}{{/locked}}{{^locked}}Unlocked{{/locked}}" class="{{#locked}}lock{{/locked}}{{^locked}}unlock{{/locked}}" rel="{{locker_username}}" rel2="{{locker_name}}">
					{{#locked}}
					<img src="{{base}}media/images/lock.png" alt="{{#__}}Locked{{/__}}" />
					{{/locked}}
					{{^locked}}
					<img src="{{base}}media/images/lock-unlock.png" alt="{{#__}}Unlocked{{/__}}" />
					{{/locked}}
				</a>
			</td>
			<td class="align-center {{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
				<a href="{{#url}}booking/toggle/{{id}}{{/url}}?field=done&value={{#is_done}}0{{/is_done}}{{^is_done}}1{{/is_done}}" class="done">
					{{#is_done}}
					<img src="{{base}}media/images/tick-button.png" alt="{{#__}}Yes{{/__}}" />
					{{/is_done}}
					{{^is_done}}
					<img src="{{base}}media/images/minus-button.png" alt="{{#__}}No{{/__}}" />
					{{/is_done}}
				</a>
			</td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">{{id}}</td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">{{room_name}}</td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
        <a href="#" class="guest-name-link">{{title}}. {{first_name}} {{last_name}}</a>
        <div class="hidden">
          <table class="detail-table">
						<tr>
							<td>{{#__}}First Name{{/__}}</td>
							<td>{{first_name}}</td>
						</tr>
						<tr>
							<td>{{#__}}Last Name{{/__}}</td>
							<td>{{last_name}}</td>
						</tr>
            <tr>
							<td>{{#__}}Nationality{{/__}}</td>
							<td>{{nationality_name}}</td>
						</tr>
          </table>
        </div>
      </td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">{{booking_date}}</td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">{{check_in_date}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">{{check_out_date}}</td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
        <a href="#" class="number-of-rooms-link">{{number_of_rooms}} {{#__}}Rooms{{/__}}</a>
        <div class="hidden">
          {{#rooms}}
          <div class="comment">
            <div class="comment-name">{{#__}}Room{{/__}} {{number}}</div>
            <div class="comment-content">
              {{number_of_adults}} {{#__}}Adults{{/__}}{{#number_of_children}}, {{number_of_children}} {{#__}}Children{{/__}}{{/number_of_children}}
              {{#number_of_extrabeds}}<br/>{{number_of_extrabeds}} Extra Beds{{/number_of_extrabeds}}
            </div>
          </div>
          {{/rooms}}
        </div>
      </td>
      <td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
        <a href="{{#url}}booking/toggle/{{id}}{{/url}}?field=read_conversation" class="special-request-link">{{#has_special_request}}{{#__}}Yes{{/__}}{{/has_special_request}}{{^has_special_request}}No{{/has_special_request}}</a><span>{{#conversation_unread}}<img src="{{base}}media/images/new.png" />{{/conversation_unread}}</span>
        <div class="hidden">
          <ul class="none">
            <li>
              {{#is_non_smoking_room_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_non_smoking_room_request}}
              {{^is_non_smoking_room_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_non_smoking_room_request}}
              {{#__}}Non-smoking Room{{/__}}
            </li>
            <li>
              {{#is_late_check_in_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_late_check_in_request}}
              {{^is_late_check_in_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_late_check_in_request}}
              {{#__}}Late Check-in{{/__}}
            </li>
            <li>
              {{#is_early_check_in_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_early_check_in_request}}
              {{^is_early_check_in_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_early_check_in_request}}
              {{#__}}Early Check-in{{/__}}
            </li>
            <li>
              {{#is_high_floor_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_high_floor_request}}
              {{^is_high_floor_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_high_floor_request}}
              {{#__}}High Floor{{/__}}
            </li>
            <li>
              {{#is_large_bed_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_large_bed_request}}
              {{^is_large_bed_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_large_bed_request}}
              {{#__}}Large Bed{{/__}}
            </li>
            <li>
              {{#is_twin_beds_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_twin_beds_request}}
              {{^is_twin_beds_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_twin_beds_request}}
              {{#__}}Twin Bed{{/__}}
            </li>
            <li>
              {{#is_airport_transfer_request}}
              <img src="{{base}}media/images/status.png" style="vertical-align: middle;"/> 
              {{/is_airport_transfer_request}}
              {{^is_airport_transfer_request}}
              <img src="{{base}}media/images/status-offline.png" style="vertical-align: middle;"/> 
              {{/is_airport_transfer_request}}
              {{#__}}Airport Transfer{{/__}}
            </li>
          </ul>
          <div class="comment" style="width: 400px;">
            <div class="comment-name">{{#__}}Additional Note{{/__}}</div>
            <div class="comment-content">
              {{#request_note}}
              {{&request_note}}
              {{/request_note}}
              {{^request_note}}
              -
              {{/request_note}}
            </div>
          </div>
          {{#conversations}}
          <div class="comment" style="width: 400px;">
            <div class="comment-name">
              {{#admin_name}}
              {{admin_name}}
              {{/admin_name}}
              {{^admin_name}}
              {{#__}}Guest{{/__}}
              {{/admin_name}}
            </div>
            <div class="comment-content">{{&content}}</div>
            <div class="comment-time">{{datetime}}</div>
          </div>
          {{/conversations}}
          {{#user_id}}
          <div class="comment-form">
            <form action="" method="post">
              <div class="comment-form-title">
                {{#__}}Reply to guest{{/__}}:<br />
                <span class="red">{{#__}}Your reply here will be directly received by the guest.{{/__}}<br/>{{#__}}Please use appropriate words.{{/__}}</span>
              </div>
              <div class="comment-form-name">
                <textarea name="conversations[{{id}}]" cols="40" rows="4" style="width: 394px;"></textarea>
              </div>
              <div class="comment-form-submit">
                <input type="submit" name="submit_conversation" value="{{#__}}Submit{{/__}}" />
              </div>
            </form>
          </div>
          {{/user_id}}
        </div>
      </td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}">
				<a href="{{#url}}booking/toggle/{{id}}{{/url}}?field=read_comment" class="comment-link" >{{number_of_comments}} {{#__}}Notes{{/__}}</a><span>{{#comment_unread}}<img src="{{base}}media/images/new.png" />{{/comment_unread}}</span>
				<div class="hidden">
					<div id="comments">
            {{#comments}}
						<div class="comment" style="width: 400px;">
							<div class="comment-name">{{admin_name}}</div>
							<div class="comment-content">{{&content}}</div>
							<div class="comment-time">{{datetime}}</div>
						</div>
						{{/comments}}
						<div class="comment-form">
							<form action="" method="post">
								<div class="comment-form-title">{{#__}}Your Comment{{/__}}:</div>
								<div class="comment-form-name">
									<textarea name="comments[{{id}}]" cols="40" rows="4" style="width: 394px;"></textarea>
								</div>
								<div class="comment-form-submit">
									<input type="submit" name="submit_comment" value="{{#__}}Submit{{/__}}" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</td>
			<td class="{{#is_canceled}}red-bg{{/is_canceled}}{{^is_canceled}}{{#is_done}}green-bg{{/is_done}}{{/is_canceled}}"><a href="{{#url}}booking/detail/{{id}}{{/url}}">{{#__}}Detail{{/__}}</a></td>
		</tr>
		{{/bookings}}
	</tbody>
</table>
{{&pagination}}
