<script type="text/javascript">
  $(function() {
    var availableTags = {{{hotels}}};
    $( "#hotel_name" ).autocomplete({
      source: availableTags,
      select: function( event, ui ) {
        event.preventDefault();
        $('#hotel_name').val(ui.item.label);
        this.value = ui.item.label;
        $('#hotel_code').val(ui.item.value);
        getAjax(ui.item.value);
      }
    });

    function getAjax (hotel_code) {
      var type_campaign = $('#type_campaign').val()
      console.log(hotel_code);
      $.getJSON("{{#url}}promotionpage/manage/{{/url}}",{type_campaign: type_campaign, type_request: 'campaign', id: hotel_code, ajax: 'true'},function(j)
        {
          var options = '<option value="">Campaign Name</option>';
          for (var i = 0; i < j.length; i++) {
            options += '<option value="' + j[i].id + '">' + j[i].name + '</option>';
          }
          $("#campaign_id").html(options);
        });                 
    }

    $("#campaign_id").change(function(){
      var campaign_id = $(this).val();

      $.getJSON("{{#url}}promotionpage/manage/{{/url}}", {type_request: 'room', id: campaign_id, ajax: 'true'},function(j){
          var options = '';
          for (var i = 0; i < j.length; i++) {
            options += '<option value="' + j[i].id + '">' + j[i].name + '</option>';
          }
          $("#room_id").html(options);
        });                 
    });
  });
</script>
<h1 class="title">{{#__}}Add Hotel To Promotion Page{{/__}}</h1>
<!-- <p class="description">{{#__}}Add promotion for your hotels. For example staying at least 3 days and book 1 or more rooms get 20% discount.{{/__}}</p> -->
{{&notice}}
<div class="section">
  <form method="post" action="">
    <input type="hidden" name="is_show" value="1" />
    <h3 class="title">{{#__}}Information{{/__}}</h3>
    <table class="form-table">
      <tr>
        <td>{{#__}}Select Hotel{{/__}} <span class="red">*</span></td>
        <td>
          <div class="ui-widget">
            <input type="text" name="hotel_name" id="hotel_name">
            <input type="hidden" name="hotel_code" id="hotel_code">
          </div>
          <p class="description">{{#__}}Type name of hotels{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Select campaign{{/__}} <span class="red">*</span></td>
        <td>
          <select name="campaign_id" id="campaign_id">
            <option value="">Campaigns Name</option>
          </select>
          <input type="hidden" name="type_campaign" id="type_campaign" value="{{type}}">
          <p class="description">{{#__}}Select Campaign.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Select room{{/__}} <span class="red">*</span></td>
        <td>
          <select name="room_id" id="room_id">
            <option value="">Room Name</option>
          </select>
          <p class="description">{{#__}}Select rooms.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td><span class="red">*</span> {{#__}}Required{{/__}}</td>
        <td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
