<h1 class="title">{{#__}}Manage Promotion Page Early Bird{{/__}}</h1>
<!-- <p class="description">{{#__}}Add, edit or delete promotions. Green bar means promotion is currently running and shown to the guests. Yellow bar means promotion is not running and hidden from the guests. Red bar means the promotion is not effective anymore because the booking date has passed today.{{/__}}</p> -->
{{&notice}}
<section style="margin-bottom:20px;">
<form method="post" action="">
<div class="toolbar">
  <ul>
    <li><a href="{{#url}}promotionpage/add?type=2{{/url}}">{{#__}}Add New Promotion Page Early Bird{{/__}}</a></li>
    <li><button type="submit">{{#__}}Delete Checked{{/__}}</button></li>
</ul>
    <div class="clear"></div>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" id="check_all_earlybird" name="check_all_earlybird" value="1" /></th>
      <th>{{#__}}Hotel Name{{/__}}</th>
      <th>{{#__}}Room Name{{/__}}</th>
      <th>{{#__}}Promotion Name{{/__}}</th>
      <th>{{#__}}Action{{/__}}</th>
    </tr>
  </thead>
  <tbody>
    {{#datas.earlybirds}}
    <tr>
      <td class="checkbox"><input type="checkbox" class="check_earlybird" name="ids[{{promotion.id}}]" value="{{promotion.id}}" /></td>
      <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">
        {{hotel.name}}
      </td>
      <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{room.name}}</td>
      <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{campaign.name}}</td>
      <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}"><a href="{{#url}}promotionpage/edit/{{promotion.id}}?type={{campaign.type}}{{/url}}">{{#__}}Edit{{/__}}</a>
      <a href="{{#url}}promotionpage/delete/{{promotion.id}}?type={{campaign.type}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
    </tr>
    {{/datas.earlybirds}}
  </tbody>
</table>
</form>
</section>
<section style="margin-bottom:20px;">
  <h1 class="title">{{#__}}Manage Promotion Page Last Minutes{{/__}}</h1>
  <form method="post" action="">
    <div class="toolbar">
      <ul>
        <li><a href="{{#url}}promotionpage/add?type=3{{/url}}">{{#__}}Add New Promotion Last Minutes{{/__}}</a></li>
        <li><button type="submit">{{#__}}Delete Checked{{/__}}</button></li>
      </ul>
      <div class="clear"></div>
    </div>
    <table class="list-table">
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" id="check_all_lastminutes" name="check_all_lastminutes" value="2" /></th>
          <th>{{#__}}Hotel Name{{/__}}</th>
          <th>{{#__}}Room Name{{/__}}</th>
          <th>{{#__}}Promotion Name{{/__}}</th>
          <th>{{#__}}Action{{/__}}</th>
        </tr>
      </thead>
      <tbody>
        {{#datas.lastminutes}}
        <tr>
          <td class="checkbox"><input type="checkbox" class="check_lastminutes" name="ids[{{promotion.id}}]" value="{{promotion.id}}" /></td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">
            {{hotel.name}}
          </td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{room.name}}</td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{campaign.name}}</td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}"><a href="{{#url}}promotionpage/edit/{{promotion.id}}?type={{campaign.type}}{{/url}}">{{#__}}Edit{{/__}}</a>
            <a href="{{#url}}promotionpage/delete/{{promotion.id}}?type={{campaign.type}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
          </tr>
          {{/datas.lastminutes}}
        </tbody>
      </table>
    </form>
</section>
<section style="margin-bottom:20px;">
  <h1 class="title">{{#__}}Manage Promotion Page Super Deal{{/__}}</h1>
  <form method="post" action="">
    <div class="toolbar">
      <ul>
        <li><a href="{{#url}}promotionpage/add?type=1{{/url}}">{{#__}}Add New Promotion Super Deal{{/__}}</a></li>
        <li><button type="submit">{{#__}}Delete Checked{{/__}}</button></li>
      </ul>
      <div class="clear"></div>
    </div>
    <table class="list-table">
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" id="check_all_superdeal" name="check_all_lastminutes" value="2" /></th>
          <th>{{#__}}Hotel Name{{/__}}</th>
          <th>{{#__}}Room Name{{/__}}</th>
          <th>{{#__}}Promotion Name{{/__}}</th>
          <th>{{#__}}Action{{/__}}</th>
        </tr>
      </thead>
      <tbody>
        {{#datas.superdeal}}
        <tr>
          <td class="checkbox"><input type="checkbox" class="check_superdeal" name="ids[{{promotion.id}}]" value="{{promotion.id}}" /></td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">
            {{hotel.name}}
          </td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{room.name}}</td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}">{{campaign.name}}</td>
          <td class="{{#campaign.expired}}yellow-bg{{/campaign.expired}}"><a href="{{#url}}promotionpage/edit/{{promotion.id}}?type={{campaign.type}}{{/url}}">{{#__}}Edit{{/__}}</a>
            <a href="{{#url}}promotionpage/delete/{{promotion.id}}?type={{campaign.type}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
          </tr>
          {{/datas.superdeal}}
        </tbody>
      </table>
    </form>
</section>
  <script>
  $('#check_all_earlybird').click(function(event) {   
      if(this.checked) {
        // Iterate each checkbox
        $('.check_earlybird').each(function() {
          this.checked = true;                        
        });
      }
      else if(!this.checked){
        // Iterate each checkbox
        $('.check_earlybird').each(function() {
          this.checked = false;                        
        });        
      }
    });

  $('#check_all_lastminutes').click(function(event) {   
      if(this.checked) {
        // Iterate each checkbox
        $('.check_lastminutes').each(function() {
          this.checked = true;                        
        });
      }
      else if(!this.checked){
        // Iterate each checkbox
        $('.check_lastminutes').each(function() {
          this.checked = false;                        
        });        
      }
    });
  $('#check_all_superdeal').click(function(event) {   
      if(this.checked) {
        // Iterate each checkbox
        $('.check_superdeal').each(function() {
          this.checked = true;                        
        });
      }
      else if(!this.checked){
        // Iterate each checkbox
        $('.check_superdeal').each(function() {
          this.checked = false;                        
        });        
      }
    });  
  </script>