<h1 class="title">{{#__}}Edit Featured Hotel{{/__}}</h1>
<p class="description">{{#__}}Edit featured hotel.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
    <tr>
			<td>{{#__}}Hotel{{/__}} <span class="red">*</span></td>
			<td>
        <select name="hotel_id">
          {{#hotels}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}} - {{city_name}}, {{country_name}}</option>
          {{/hotels}}
        </select>
        <p class="description">{{#__}}Select featured hotel. You can search quickly by typing the name of the hotel when selecting the dropdown box.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Languages{{/__}} <span class="red">*</span></td>
			<td>
        <select name="language_id">
          {{#languages}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
          {{/languages}}
        </select>
        <p class="description">{{#__}}Select language. This featured hotel will be only visible to selected language.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Currency{{/__}} <span class="red">*</span></td>
			<td>
        <select name="currency_id">
          {{#currencies}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
          {{/currencies}}
        </select>
        <p class="description">{{#__}}Select currencies.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Price{{/__}} <span class="red">*</span></td>
			<td>
        <input type="text" name="price" value="{{feature.price}}" />
        <p class="description">{{#__}}Enter price for this hotel.{{/__}}</p>
      </td>
		</tr>
    <tr>
			<td>{{#__}}Description{{/__}} <span class="red">*</span></td>
			<td>
        <textarea name="description" cols="60" rows="4">{{feature.description}}</textarea>
        <p class="description">{{#__}}Enter description for this hotel.{{/__}}</p>
      </td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>