<h1 class="title">{{#__}}Manage Featured Hotels{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete featured hotels.{{/__}}</p>
{{&notice}}
<div class="section">
  <p class="description">
    <a href="{{feature_add_url}}">{{#__}}Add Featured Hotel{{/__}}</a>
  </p>
  <ul class="photos">
  {{#features}}
  <li>
    <img src="{{image_url}}" alt="{{hotel_name}}" />
    <p>
      {{hotel_name}}<br />
      {{price}} {{currency_code}}<br />
      <a href="{{edit_url}}">{{#__}}Edit{{/__}}</a> <a href="{{delete_url}}" class="delete">{{#__}}Delete{{/__}}</a>
    </p>
    <p class="description">
      <img src="{{base}}media/images/languages/{{language_code}}.png" /> {{language_name}}
    </p>
  </li>
  {{/features}}
  </ul>
  <div class="clear"></div>
</div>
