{{#__}}Hello {{booking_pending.first_name}} {{booking_pending.last_name}},{{/__}}{{eol}}{{eol}}
{{#__}}Here is your canceled booking details.{{/__}}{{eol}}
----------------------------------------------------------------{{eol}}
{{#__}}Booking Date{{/__}}: {{booking_pending.created}}{{eol}}
{{#__}}Hotel Name{{/__}}: {{booking_data.hotel_name}}{{eol}}
{{#__}}Address{{/__}}: {{booking_data.hotel_address}}{{eol}}
{{#__}}Telephone{{/__}}: {{booking_data.hotel_telephone}}{{eol}}
{{#__}}First Name{{/__}}: {{booking_pending.first_name}}{{eol}}
{{#__}}Last Name{{/__}}: {{booking_pending.last_name}}{{eol}}
{{#__}}Nationality{{/__}}: {{booking_pending.nationality}}{{eol}}
{{#__}}Check-in Date{{/__}}: {{booking_data.check_in}}{{eol}}
{{#__}}Check-out Date{{/__}}: {{booking_data.check_out}}{{eol}}
{{#__}}Room Name{{/__}}: {{booking_data.room_name}}{{eol}}
{{#__}}Number of Nights{{/__}}: {{booking_data.nights}}{{eol}}
{{#__}}Number of Rooms{{/__}}: {{booking_data.number_of_rooms}}{{eol}}
{{#__}}Number of Adults{{/__}}: {{booking_data.number_of_adult}}{{eol}}
{{#__}}Number of Children{{/__}}: {{booking_data.number_of_child}}{{eol}}
{{#__}}Number of Extra Beds{{/__}}: {{booking_data.number_of_extrabed}}{{eol}}
{{#__}}Breakfast{{/__}}: 
{{#booking_data.is_breakfast_included}}{{#__}}Included{{/__}}{{/booking_data.is_breakfast_included}}
{{^booking_data.is_breakfast_included}}{{#__}}Not Included{{/__}}{{/booking_data.is_breakfast_included}}{{eol}}
{{#__}}Cancellation Policy{{/__}}: 
{{booking_data.cancellation.rule_1_name}}
{{#booking_data.cancellation.rule_2_name}}, {{booking_data.cancellation.rule_2_name}}{{/booking_data.cancellation.rule_2_name}}
{{#booking_data.cancellation.rule_3_name}}, {{booking_data.cancellation.rule_3_name}}{{/booking_data.cancellation.rule_3_name}}
{{eol}}
{{eol}}
----------------------------------------------------------------{{eol}}
Hoterip.com by H.I.S.{{eol}}
Smart Hotel Search{{eol}}
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar{{eol}}
Indonesia{{eol}}
Tel: +62 361 721064{{eol}}
support@hoterip.com{{eol}}
----------------------------------------------------------------{{eol}}