{{text_1}}{{booking_pending.first_name}}

{{text_2}}
{{text_3}}

{{#booking_pending.user_id}}
{{base_url_ssl}}{{url}}{{booking_id}}
{{/booking_pending.user_id}}

{{text_4}}
----------------------------------------------------------------
{{text_booking_date}}: {{booking_pending.created}}
{{text_booking_id}}: #{{booking_id}}
{{text_hotel_name}}: {{booking_data.hotel_name}}
{{text_hotel_address}}: {{booking_data.hotel_address}}
{{text_hotel_telephone}}: {{booking_data.hotel_telephone}}
{{text_hotel_first_name}}: {{booking_pending.first_name}}
{{text_hotel_last_name}}: {{booking_pending.last_name}}
{{text_hotel_nationality}}: {{booking_pending.nationality}}
{{text_check_in_date}}: {{booking_data.check_in}}
{{text_check_out_date}}: {{booking_data.check_out}}
{{text_room_name}}: {{booking_data.room_name}}
{{text_number_of_nights}}: {{booking_data.nights}}
{{text_number_of_rooms}}: {{booking_data.number_of_rooms}}
{{text_number_of_adults}}: {{booking_data.number_of_adult}}
{{text_number_of_child}}: {{booking_data.number_of_child}}
{{text_number_of_extrabed}}: {{booking_data.number_of_extrabed}}
{{text_breakfast}}: {{#booking_data.is_breakfast_included}}{{text_breakfats_included}}{{/booking_data.is_breakfast_included}}{{^booking_data.is_breakfast_included}}{{text_breakfats_not_included}}{{/booking_data.is_breakfast_included}}

{{text_cancellation_policy}}: {{booking_data.cancellation.rule_1_name}}
{{#booking_data.cancellation.rule_2_name}}, {{booking_data.cancellation.rule_2_name}}{{/booking_data.cancellation.rule_2_name}}{{#booking_data.cancellation.rule_3_name}}, {{booking_data.cancellation.rule_3_name}}{{/booking_data.cancellation.rule_3_name}}

----------------------------------------------------------------
{{hoterip_1}}
{{hoterip_2}}
{{hoterip_3}}
{{hoterip_4}}
{{hoterip_5}}
{{hoterip_6}}
----------------------------------------------------------------