{{#str_train}}
<pre>
Payment warning.{{eol}}
{{eol}}
paypal respons.{{eol}}
----------------------------------------------------------------{{eol}}
TIMESTAMP: {{paypal_response.TIMESTAMP}}{{eol}}
CORRELATIONID: {{paypal_response.CORRELATIONID}}{{eol}}
ACK: {{paypal_response.ACK}}{{eol}}
VERSION: {{paypal_response.VERSION}}{{eol}}
BUILD: {{paypal_response.BUILD}}{{eol}}
AMT: {{paypal_response.AMT}}{{eol}}
CURRENCYCODE: {{paypal_response.CURRENCYCODE}}{{eol}}
AVSCODE: {{paypal_response.AVSCODE}}{{eol}}
CVV2MATCH: {{paypal_response.CVV2MATCH}}{{eol}}
TRANSACTIONID: {{paypal_response.TRANSACTIONID}}{{eol}}
{{eol}}
Here is your booking details.{{eol}}
----------------------------------------------------------------{{eol}}
Booking Date: {{created}}{{eol}}
Booking ID: #{{booking_id}}{{eol}}
Hotel Name: {{booking_data.hotel_name}}{{eol}}
Address: {{booking_data.hotel_address}}{{eol}}
Telephone: {{booking_data.hotel_telephone}}{{eol}}
First Name: {{booking_post.first_name}}{{eol}}
Last Name: {{booking_post.last_name}}{{eol}}
Nationality: {{booking_post.nationality}}{{eol}}
Check-in Date: {{booking_data.check_in}}{{eol}}
Check-out Date: {{booking_data.check_out}}{{eol}}
Room Name: {{booking_data.room_name}}{{eol}}
Number of Nights: {{booking_data.nights}}{{eol}}
Number of Rooms: {{booking_data.number_of_rooms}}{{eol}}
Number of Adults: {{booking_data.number_of_adult}}{{eol}}
Number of Children: {{booking_data.number_of_child}}{{eol}}
Number of Extra Beds: {{booking_data.number_of_extrabed}}{{eol}}
Breakfast: 
{{#booking_data.is_breakfast_included}}Included{{/booking_data.is_breakfast_included}}
{{^booking_data.is_breakfast_included}}Not Included{{/booking_data.is_breakfast_included}}{{eol}}
Cancellation Policy: 
{{booking_data.cancellation.rule_1_name}}
{{#booking_data.cancellation.rule_2_name}}, {{booking_data.cancellation.rule_2_name}}{{/booking_data.cancellation.rule_2_name}}
{{#booking_data.cancellation.rule_3_name}}, {{booking_data.cancellation.rule_3_name}}{{/booking_data.cancellation.rule_3_name}}
{{eol}}
{{eol}}
----------------------------------------------------------------{{eol}}
Hoterip.com by H.I.S.{{eol}}
Smart Hotel Search{{eol}}
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar{{eol}}
Indonesia{{eol}}
Tel: +62 361 721064{{eol}}
support@hoterip.com{{eol}}
----------------------------------------------------------------{{eol}}
</pre>
{{/str_train}}