<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
  });
</script>
<h1 class="title">{{#__}}Manage Restrictions{{/__}}</h1>
<p class="description">{{#__}}Manage hotel no arrivals and departures.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
    <li>{{#__}}From{{/__}} <input type="text" name="start_date" size="10" class="date" value="{{start_date}}" /> {{#__}}To{{/__}} <input type="text" name="end_date" size="10" class="date" value="{{end_date}}" /></li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>
<form method="post" action="">
<input type="hidden" name="start_date" value="{{start_date}}" />
<input type="hidden" name="end_date" value="{{end_date}}" />
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Day{{/__}}</th>
			<th>{{#__}}Date{{/__}}</th>
			<th>{{#__}}No Arrival{{/__}}</th>
      <th>{{#__}}No Departure{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#restrictions}}
		<tr>
			<td>{{day}}</td>
			<td><input type="hidden" name="dates[{{date}}]" value="{{date}}" />{{display_date}}</td>
      <td><input type="checkbox" name="is_no_arrivals[{{date}}]" value="1" {{#is_no_arrival}}checked="checked"{{/is_no_arrival}} /></td>
      <td><input type="checkbox" name="is_no_departures[{{date}}]" value="1" {{#is_no_departure}}checked="checked"{{/is_no_departure}} /></td>
		</tr>
		{{/restrictions}}
	</tbody>
</table>
<hr class="separator" />
<input type="submit" name="submit" value="{{#__}}Submit{{/__}}" />
</form>