<h1 class="title">{{#__}}Manage Subscribes{{/__}}</h1>
<p class="description">{{#__}}You can subscribe, unsubscribe or delete subscriber here.{{/__}}</p>
{{&notice}}
<form method="get" action="">
<div class="toolbar">
	<ul>
    <li>
      <select name="field">
        {{#fields}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/fields}}
      </select>
      <input type="text" name="keyword" value="{{filters.keyword}}" />
    </li>
		<li><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
</form>  
<table class="list-table">
	<thead>
		<tr>
			<th>{{#__}}Email{{/__}}</th>
      <th>{{#__}}Subscriber{{/__}}</th>
      <th>{{#__}}Language{{/__}}</th>
      <th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#subscribers}}
		<tr>
			<td>{{email}}</td>
      <td>{{#is_subscribe_newsletter}}{{#__}}Yes{{/__}}{{/is_subscribe_newsletter}}{{^is_subscribe_newsletter}}{{#__}}No{{/__}}{{/is_subscribe_newsletter}}</td>
      <td>{{language_name}}</td>
      <td>
      {{^is_subscribe_newsletter}}<a href="{{#url}}subscribe/subscribe/{{id}}{{/url}}">{{#__}}Subscribe{{/__}}{{/is_subscribe_newsletter}}
      {{#is_subscribe_newsletter}}<a href="{{#url}}subscribe/unsubscribe/{{id}}{{/url}}">{{#__}}Unsubscribe{{/__}}{{/is_subscribe_newsletter}}
      </a> <a href="{{#url}}subscribe/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/subscribers}}
	</tbody>
</table>
{{&pagination}}