<script type="text/javascript">
	$(document).ready(function() {
		$('.detail').each(function (index) {
			$(this).dexcellTip({
				content: $(this).next().html()
			});
		});
	});
</script>
<h1 class="title">{{#__}}Manage Promotions{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete promotions. Green bar means promotion is currently running and shown to the guests. Yellow bar means promotion is not running and hidden from the guests. Red bar means the promotion is not effective anymore because the booking date has passed today.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}promotion/add{{/url}}">{{#__}}Add New Promotion{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
		<li><input type="submit" name="show" value="{{#__}}Show Checked{{/__}}" /></li>
		<li><input type="submit" name="hide" value="{{#__}}Hide Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Promotion{{/__}}</th>
			<th>{{#__}}Room Name{{/__}}</th>
			<th>{{#__}}Booking Date{{/__}}</th>
			<th>{{#__}}Stay Date{{/__}}</th>
			<th>{{#__}}Cancellation Policy{{/__}}</th>
                        <th>{{#__}}Status{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#campaigns}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
      <td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}">{{benefit}}</td>
			<td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}">
        {{room_names}}
      </td>
			<td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}">{{booking_start_date}} - {{booking_end_date}}</td>
			<td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}">{{stay_start_date}} - {{stay_end_date}}</td>
      <td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}">
        {{#show_cancellation}}
        <a href="#" class="detail">{{#__}}Custom{{/__}}</a>
        <div class="hidden">
          <div>
            <ul class="none">
              {{#cancellations}}
              <li>{{rule_1_name}}</li>
              {{#rule_2_name}}<li>{{#__}}{{rule_2_name}}{{/__}}</li>{{/rule_2_name}}
              {{#rule_3_name}}<li>{{#__}}{{rule_3_name}}{{/__}}</li>{{/rule_3_name}}
              {{/cancellations}}
            </ul>
          </div>
        </div>
        {{/show_cancellation}}
        {{^show_cancellation}}
        {{#__}}Default{{/__}}
        {{/show_cancellation}}
      </td>
      <td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}" style="{{#is_status}}color:red;{{/is_status}}{{^is_status}}color:green;{{/is_status}}text-align:center;">{{status}}</td>
			<td class="{{#is_expired}}red-bg{{/is_expired}}{{^is_expired}}{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}{{/is_expired}}"><a href="{{#url}}promotion/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a>

			{{#hoterip_campaign}}
			{{#hoterip}}
			<a href="{{#url}}promotion/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
			{{/hoterip}}
			{{/hoterip_campaign}}

			{{^hoterip_campaign}}
			<a href="{{#url}}promotion/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
			{{/hoterip_campaign}}
			
		</tr>
		{{/campaigns}}
	</tbody>
</table>
</form>
