{{text_1}}
{{text_2}}

{{text_package_booking_information}}
==============================================================
{{text_package_booking_id}}: {{package_booking_id}}
{{text_package_name}}: {{package_name}}
{{text_duration}}: {{package_duration_days}} {{text_days}} {{package_duration_nights}} {{text_nights}}
{{text_adults}}: {{package_booking_adult_count}} {{text_adults}}{{#show_child_count}}
{{text_children}}: {{package_booking_child_count}} {{text_children}}{{/show_child_count}}{{#show_infant_count}}
{{text_infants}}: {{package_booking_infant_count}} {{text_infants}}{{/show_infant_count}}

==============================================================

{{text_my_bookings_explanation}}
{{url_account_bookings}}

--------------------------------------------------------
Hoterip.com powered by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 721064
support@hoterip.com
--------------------------------------------------------