{{text_1}}
{{text_2}}

{{text_3}}
=========================================
{{text_package_name}}: {{package_name}}
{{text_adults}}: {{adult_count}}{{#child_count}}
{{text_children}}: {{child_count}}{{/child_count}}{{#infant_count}}
{{text_infants}}: {{infant_count}}{{/infant_count}}
{{text_total_prices}}: {{currency_symbol}}{{total_prices}}
========================================= 
{{text_4}}
{{url_pakage_booking_confirmation}}

--------------------------------------------------------
Hoterip.com powered by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 728166
support@hoterip.com
--------------------------------------------------------