<script type="text/javascript" src="{{url_base}}media/js/jquery.PrintArea.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $('input[name="send_confirmation_email"]').click(function(e) {
			$ok = confirm ('{{text_send_confirmation_email_confirmation}}');
			if ( ! $ok) {
				e.preventDefault();
			}
		});
    
		$('input[name="send_payment_request_email"]').click(function(e) {
			$ok = confirm ('{{text_send_payment_request_email_confirmation}}');
			if ( ! $ok) {
				e.preventDefault();
			}
		});
		
		$('input[name="cancel"]').click(function(e) {
			$ok = confirm ('{{text_cancel_confirmation}}');
			if ( ! $ok) {
				e.preventDefault();
			}
		});
		
		$('input[name="send_booking_completed_email"]').click(function(e) {
			$ok = confirm ('{{text_send_booking_completed_email_confirmation}}');
			if ( ! $ok) {
				e.preventDefault();
			}
		});
		
		$('#print').click(function(e) {
			e.preventDefault();
			$("#print-area").printArea({
				mode: "popup"
			});
		});
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<form action="" method="post">
<input type="hidden" value="{{package_booking_id}}" />
<div id="booking-detail-toolbar">
	<div class="float-left">
		{{#package_booking_on_request}}
		<span class="message-warning" style="display: inline-block;">{{text_request_mark}}</span>
		{{/package_booking_on_request}}
		{{#package_booking_paid}}
		<span class="message-success" style="display: inline-block;">{{text_paid_mark}}</span>
		{{/package_booking_paid}}
		{{#package_booking_cancelled}}
		<span class="message-error" style="display: inline-block;">{{text_cancelled_mark}}</span>
		{{/package_booking_cancelled}}
	</div>
	<ul>
    {{^package_booking_cancelled}}
		{{#package_booking_on_request}}
		<li><input type="submit" name="send_confirmation_email" value="{{text_send_confirmation_email}}" /></li>
    <li><input type="submit" name="send_payment_request_email" value="{{text_send_payment_request_email}}" /></li>
		{{/package_booking_on_request}}
    {{/package_booking_cancelled}}
		<li>
			{{#package_booking_paid}}
			<input type="submit" name="unpaid" id="paid" value="{{text_mark_as_unpaid}}" />
			{{/package_booking_paid}}
			{{^package_booking_paid}}
			<input type="submit" name="paid" id="paid" value="{{text_mark_as_paid}}" />
			{{/package_booking_paid}}
		</li>
		<li>
			{{^package_booking_cancelled}}
			<input type="submit" name="cancel" id="cancel" value="{{text_cancel_this_booking}}" />
			{{/package_booking_cancelled}}
		</li>
		<li><input type="submit" name="print" id="print" value="{{text_print_this_page}}" /></li>
	</ul>
	<div class="clear"></div>
</div>

<div id="print-area">
  <div class="section">
    <h3 class="title">{{text_booking_information}}</h3>
    <table class="form-table">
      <tr>
        <td>{{text_booking_id}}</td>
        <td>{{package_booking_id}}</td>
      </tr>
      <tr>
        <td>{{text_number_of_people}}</td>
        <td>{{package_booking_number_of_people}}</td>
      </tr>
      <tr>
        <td>{{text_departure_date}}</td>
        <td>{{package_booking_departure_date}}</td>
      </tr>
      <tr>
        <td>{{text_arrival_date}}</td>
        <td>{{package_booking_arrival_date}}</td>
      </tr>
    </table>
  </div>
  <div class="section">
    <h3 class="title">{{text_package_information}}</h3>
    <table class="form-table">
      <tr>
        <td>{{text_name}}</td>
        <td>{{package_name}}</td>
      </tr>
      <tr>
        <td>{{text_package_description}}</td>
        <td>{{&package_description}}</td>
      </tr>
      <tr>
        <td>{{text_language}}</td>
        <td>{{package_language_name}}</td>
      </tr>
      <tr>
        <td>{{text_duration}}</td>
        <td>{{package_duration}}</td>
      </tr>
      <tr>
        <td>{{text_cancellation_policy}}</td>
        <td>{{&package_cancellation_policy}}</td>
      </tr>
    </table>
  </div>
  <div class="section">
    <h3 class="title">{{text_account_information}}</h3>
    <table class="form-table">
      <tr>
        <td>{{text_username}}</td>
        <td>{{user_username}}</td>
      </tr>
      <tr>
        <td>{{text_email}}</td>
        <td>{{user_email}}</td>
      </tr>
      <tr>
        <td>{{text_telephone}}</td>
        <td>{{user_telephone}}</td>
      </tr>
    </table>
  </div>
  <div class="section">
    <h3 class="title">{{text_guest_information}}</h3>
    <table class="form-table">
      <tr>
        <td>{{text_first_name}}</td>
        <td>{{package_booking_contact_first_name}}</td>
      </tr>
      <tr>
        <td>{{text_last_name}}</td>
        <td>{{package_booking_contact_last_name}}</td>
      </tr>
      <tr>
        <td>{{text_telephone}}</td>
        <td>{{package_booking_contact_telephone}}</td>
      </tr>
      <tr>
        <td>{{text_message}}</td>
        <td>{{&package_booking_message}}</td>
      </tr>
    </table>
    <table class="list-table">
      <thead>
        <tr>
          <th>{{text_first_name}}</th>
          <th>{{text_last_name}}</th>
        </tr>
      </thead>
      <tbody>
        {{#package_booking_contacts}}
        <tr>
          <td>{{package_booking_contact_first_name}}</td>
          <td>{{package_booking_contact_last_name}}</td>
        </tr>
        {{/package_booking_contacts}}
      </tbody>
     </table>
  </div>
  <div class="section">
    <h3 class="title">
      {{text_price_information}}
      <span style="float: right; font-weight: normal; font-size: 13px;"><a href="{{url_edit_price}}">{{text_edit_price}}</a></span>
      <div class="clear"></div>
    </h3>
    <table class="list-table">
      <thead>
        <tr>
          <th>{{text_information}}</th>
          <th>{{text_amount}}</th>
          <th>{{text_price}}</th>
          <th>{{text_subtotal}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{text_adults}}</td>
          <td>{{package_booking_adult_count}}</td>
          <td>{{package_booking_adult_price}} {{currency_name}}</td>
          <td>{{package_booking_total_adult_prices}} {{currency_name}}</td>
        </tr>
        {{#package_booking_child_count}}
        <tr>
          <td>{{text_children}}</td>
          <td>{{package_booking_child_count}}</td>
          <td>{{package_booking_child_price}} {{currency_name}}</td>
          <td>{{package_booking_total_child_prices}} {{currency_name}}</td>
        </tr>
        {{/package_booking_child_count}}
        {{#package_booking_infant_count}}
        <tr>
          <td>{{text_infant}}</td>
          <td>{{package_booking_infant_count}}</td>
          <td>{{package_booking_infant_price}} {{currency_name}}</td>
          <td>{{package_booking_total_infant_prices}} {{currency_name}}</td>
        </tr>
        {{/package_booking_infant_count}}
        <tr>
          <td>{{text_additional}}</td>
          <td>-</td>
          <td>{{package_booking_additional_price}} {{currency_name}}</td>
          <td>{{package_booking_additional_price}} {{currency_name}}</td>
        </tr>
        <tr>
          <td>{{text_total}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{package_booking_total_prices}} {{currency_name}}</td>
        </tr>
        <tr>
          <td>{{text_point}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{package_booking_point}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h3 class="title">{{text_payment_information}}</h3>
    <table class="form-table">
      <tr>
        <td>{{text_payment_method}}</td>
        <td>{{payment_type_name}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="section">
	<h3 class="title">{{text_hotel_voucher}}</h3>
	<p class="description">{{text_hotel_voucher_description}}</p>
	<input type="submit" value="{{text_send_booking_completed}}" name="send_booking_completed_email" />
</div>
</form>