<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<form action="" method="post">
<div class="section">
  <h3 class="title">{{text_price}}</h3>
	<table class="form-table">
    <tr>
      <td>{{text_adult_price}}</td>
      <td><input type="text" size="4" name="adult_price" value="{{form_adult_price_value}}" /> {{currency_name}}</td>
    </tr>
    <tr>
      <td>{{text_child_price}}</td>
      <td><input type="text" size="4" name="child_price" value="{{form_child_price_value}}" /> {{currency_name}}</td>
    </tr>
    <tr>
      <td>{{text_infant_price}}</td>
      <td><input type="text" size="4" name="infant_price" value="{{form_infant_price_value}}" /> {{currency_name}}</td>
    </tr>
    <tr>
      <td>{{text_additional_price}}</td>
      <td><input type="text" size="4" name="additional_price" value="{{form_additional_price_value}}" /> {{currency_name}}</td>
    </tr>
	</table>
	<hr class="separator" />
	<input type="submit" name="submit" value="{{text_submit}}" />
</div>
</form>