<script type="text/javascript">
	$(document).ready(function() {
		$('.lock').click(function(e) {
			var locker = $(this).attr('rel');
			
			if (locker != '{{logged_in_admin_username}}') {
				var confirmString = '{{text_unlock_confirmation}}';
				confirmString = confirmString.replace(':username', locker);

				var ok = confirm(confirmString);
				if ( ! ok) {
					e.preventDefault();
				}
			}
		});
		
		$('.comment-link').each(function (index) {
			var commentLink = $(this);
			
			$(this).dexcellTip({
				content: $(this).next().html(),
				onShow: function() {
          if (commentLink.hasClass('bold')) {
            $.get(commentLink.attr('rel'));
            commentLink.removeClass('bold');
          }
				}
			});
		});
	});
</script>

<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<table class="list-table">
	<thead>
		<tr>
			<th>{{text_lock}}</th>
      <th>{{text_done}}</th>
			<th>{{text_id}}</th>
			<th>{{text_name}}</th>
      <th>{{text_duration}}</th>
      <th>{{text_username}}</th>
      <th>{{text_guest_name}}</th>
      <th>{{text_departure_date}}</th>
      <th>{{text_number_of_people}}</th>
      <th>{{text_created}}</th>
			<th>{{text_paid}}</th>
			<th>{{text_comment}}</th>
			<th>{{text_detail}}</th>
		</tr>
	</thead>
	<tbody>
		{{#package_bookings}}
		<tr>
			<td class="{{package_booking_class}} checkbox">
				<a href="{{package_booking_lock_url}}" title="{{package_booking_lock_tooltip}}" class="{{#package_booking_locked}}lock{{/package_booking_locked}}{{^package_booking_locked}}unlock{{/package_booking_locked}}" {{#package_booking_locker_username}}rel="{{package_booking_locker_username}}"{{/package_booking_locker_username}}>
					{{#package_booking_locked}}
					<img src="{{url_base}}media/images/lock.png" alt="Locked" />
					{{/package_booking_locked}}
					{{^package_booking_locked}}
					<img src="{{url_base}}media/images/lock-unlock.png" alt="Unlocked" />
					{{/package_booking_locked}}
				</a>
			</td>
			<td class="{{package_booking_class}} checkbox">
				<a href="{{package_booking_done_url}}" class="done">
					{{#package_booking_done}}
					<img src="{{url_base}}media/images/tick-button.png" alt="Yes" />
					{{/package_booking_done}}
					{{^package_booking_done}}
					<img src="{{url_base}}media/images/minus-button.png" alt="No" />
					{{/package_booking_done}}
				</a>
			</td>
			<td class="{{package_booking_class}}">{{package_booking_id}}</td>
			<td class="{{package_booking_class}}">{{package_booking_name}}</td>
			<td class="{{package_booking_class}}">{{package_booking_duration}}</td>
      <td class="{{package_booking_class}}">{{package_booking_user_username}}</td>
			<td class="{{package_booking_class}}">{{package_booking_contact_name}}</td>
			<td class="{{package_booking_class}}">{{package_booking_departure_date}}</td>
			<td class="{{package_booking_class}}">{{package_booking_number_of_people}}</td>
      <td class="{{package_booking_class}}">{{package_booking_created}}</td>
			<td class="{{package_booking_class}}">{{#package_booking_paid}}<img src="{{url_base}}media/images/tick-circle.png" alt="Yes" />{{/package_booking_paid}}</td>
      <td class="{{package_booking_class}}">
        <a href="{{package_booking_comment_url}}" class="comment-link{{#package_booking_unread_comment}} bold{{/package_booking_unread_comment}}" rel="{{package_booking_comment_url}}">{{package_booking_total_comments}}</a>
				<div class="hidden">
					<div id="comments">
					{{#package_booking_comments}}
						<div class="comment">
							<div class="comment-name">{{booking_comment_admin_name}}:</div>
							<div class="comment-content">{{&booking_comment_content}}</div>
							<div class="comment-time">{{booking_time}}</div>
						</div>
						{{/package_booking_comments}}					
						<div class="comment-form">
							<form action="" method="post">
								<div class="comment-form-title">{{text_your_comment}}:</div>
								<div class="comment-form-name">
									<textarea name="comments[{{package_booking_id}}]" cols="40" rows="4" style="width: 394px;"></textarea>
								</div>
								<div class="comment-form-submit">
									<input type="submit" value="{{text_submit}}" name="submit" />
								</div>
							</form>
						</div>
					</div>
				</div>
      </td>
			<td class="{{package_booking_class}}"><a href="{{package_booking_detail_link}}">{{text_detail}}</a></td>
		</tr>
		{{/package_bookings}}
	</tbody>
</table>
{{&pagination}}