{{text_1}}
{{text_2}}
=========================================
{{text_package_name}}: {{package_name}}
{{text_total_to_be_paid}}: {{currency_symbol}}{{total_prices}}
{{payment_type_description}}
=========================================
{{text_3}}
{{text_4}}
{{url_payment_confirm}}

{{text_thank_you}}
Hoterip
--------------------------------------------------------
Hoterip.com powered by H.I.S.
Smart Hotel Search
Jl. By Pass Ngurah Rai No.732 Pesanggaran, Denpasar
Indonesia
Tel: +62 361 728166
support@hoterip.com
--------------------------------------------------------