<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="section">
	{{&form_open}}
	<table class="form-table">
		<tr>
			<td>{{text_current_password}}</td>
			<td>{{&form_current_password}}<p class="description">{{text_current_password_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_password}}</td>
			<td>{{&form_password}}<p class="description">{{text_password_description}}</p></td>
		</tr>
		<tr>
			<td>{{text_password_confirm}}</td>
			<td>{{&form_password_confirm}}<p class="description">{{text_password_confirm_description}}</p></td>
		</tr>
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td>&nbsp;</td>
			<td>{{&form_submit}}</td>
		</tr>
	</table>
	{{&form_close}}
</div>