<h1 class="title">{{#__}}Update Profile{{/__}}</h1>
<p class="description">{{#__}}Change your name and profile picture here.{{/__}}</p>
{{&notice}}
<div class="section">
  <form action="" method="post" enctype="multipart/form-data">
    <table class="form-table">
      <tr>
        <td>{{#__}}Name{{/__}}</td>
        <td>
          <input type="text" name="name" value="{{admin.name}}" />
          <p class="description">{{#__}}Enter your full name.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Auto Save Items{{/__}}</td>
        <td>
          <label><input type="checkbox" name="is_use_auto_save" value="1" {{#admin.is_use_auto_save}}checked="checked"{{/admin.is_use_auto_save}} /> Yes</label>
          <p class="description">{{#__}}Auto save items after 3 minutes.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Profile Picture{{/__}}</td>
        <td>
          <input type="file" name="picture" />
          <p class="description">{{#__}}Select your profile picture. Your picture will be resized to 50 x 50 pixels.{{/__}}</p>
          <img class="avatar" alt="avatar" src="{{base}}media/images/admins/{{admin.username}}.jpg?{{time}}" />
        </td>
      </tr>
      <tr>
        <td>{{#__}}Timezone{{/__}}</td>
        <td>
          <select name="timezone">
            {{#timezones}}
            <option value="{{identifier}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/timezones}}
          </select>
          <p class="description">{{#__}}Select your timezone.{{/__}}</p>
        </td>
      </tr>  
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>