<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
<h1 class="title">{{#__}}Edit Announcement{{/__}}</h1>
<p class="description">{{#__}}Edit announcement.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="section">
	<h3 class="title">{{#__}}Information{{/__}}</h3>
	<table class="form-table">
	{{#announcement}}
    <tr>
      <td>{{#__}}Announcements{{/__}}</td>
      <td>
        <label><input type="checkbox" name="announcement" value="1" {{#announcement}}checked="checked"{{/announcement}}/> {{#__}}Yes{{/__}}</label>
        <p class="description">{{#__}}Check if announcement in this hotel active.{{/__}}</p>
      <td>
    </tr>
		<tr>
			<td>{{#__}}Announcement Title{{/__}} <span class="red">*</span></td>
			<td>
				<input type="text" name="title" value="{{title}}" size="50" />
        <p class="description">{{#__}}Enter Announcement Title. Enter announcement name in capital letters on each first letter in the word. For example: Hotel Renovation.{{/__}}</p>
      </td>
		</tr>
    <tr>
      <td>{{#__}}Announcements Show Date{{/__}}</td>
      <td>
        <input type="text" name="announcement_start_show" size="10" value="{{announcement_start_show}}" class="date" /> - <input type="text" name="announcement_end_show" size="10" value="{{announcement_end_show}}" class="date" />
        <p class="description">{{#__}}Announcements Show Period.{{/__}}</p>
      </td>
    </tr>
		{{#announcement_texts}}
		<tr>
			<td>{{#__}}Announcement Description{{/__}} <span class="red">*</span></td>
			<td>
        <textarea rows="4" cols="50"name="descriptions[{{language.id}}]">{{description}}</textarea> <img class="flag" alt="flag" src="{{base}}media/images/languages/{{language.code}}.png"> {{language.name}}
        <p class="description">{{#__}}Enter Announcement Description.{{/__}}</p>
      </td>
		</tr>
		{{/announcement_texts}}
    <tr>
      <td>{{#__}}Announcements Due Date{{/__}}</td>
      <td>
        <input type="text" name="announcement_start_date" size="10" value="{{announcement_start_date}}" class="date" /> - <input type="text" name="announcement_end_date" size="10" value="{{announcement_end_date}}" class="date" />
        <p class="description">{{#__}}Announcements Period.{{/__}}</p>
      </td>
    </tr>
    {{/announcement}}
	</table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{#__}}Required{{/__}}</td>
			<td><input type="submit" name="submit" value="{{#__}}Submit{{/__}}" /></td>
		</tr>
	</table>
</div>
</form>