<h1 class="title">{{#__}}Manage Announcement{{/__}}</h1>
<p class="description">{{#__}}Add, edit or delete announcement.{{/__}}</p>
{{&notice}}
<form method="post" action="">
<div class="toolbar">
	<ul>
		<li><a href="{{#url}}announcement/add{{/url}}">{{#__}}Add New Announcement{{/__}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{#__}}Delete Checked{{/__}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{#__}}Announcement Title{{/__}}</th>
			<th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#announcements_data}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{id}}]" value="{{id}}" /></td>
			<td class="{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}">{{title}}</td>
			<td class="{{#is_show}}green-bg{{/is_show}}{{^is_show}}yellow-bg{{/is_show}}"><a href="{{#url}}announcement/edit/{{id}}{{/url}}">{{#__}}Edit{{/__}}</a> <a href="{{#url}}announcement/delete/{{id}}{{/url}}" class="delete">{{#__}}Delete{{/__}}</a></td>
		</tr>
		{{/announcements_data}}
	</tbody>
</table>
</form>