<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    $('#add-flight-place').click(function(e) {
      e.preventDefault();
    });
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="step-breadcrumb">
  <ul>
    <li class="current"><span>1. {{text_information}}</span></li>
    <li><span>2. {{text_schedules}}</span></li>
    <li><span>3. {{text_prices}}</span></li>
    <li><span>4. {{text_photos}}</span></li>
    <li class="last"><span>5. {{text_confirmation}}</span></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="section">
  <form action="" method="post">
	<table class="form-table">
		<tr>
			<td>{{text_package_name}} <span class="red">*</span></td>
			<td><input type="text" name="name" size="40" value="{{form_name_value}}" /><p class="description">{{text_package_name_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_package_description}} <span class="red">*</span></td>
      <td><textarea name="description" cols="50" rows="6">{{form_description}}</textarea><p class="description">{{text_package_description_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_page_availability}} <span class="red">*</span></td>
      <td>
        <select name="language_id">
          {{#languages}}
          <option value="{{language_id}}" {{#form_language_id_selected}}selected="selected"{{/form_language_id_selected}}>{{language_name}}</option>
          {{/languages}}
        </select>
        <p class="description">{{text_page_availability_description}}</p>
      </td>
		</tr>
		<tr>
			<td>{{text_duration}} <span class="red">*</span></td>
      <td><input type="text" name="duration_days" size="4" value="{{form_duration_days_value}}" /> {{text_days}} <input type="text" name="duration_nights" size="4" value="{{form_duration_nights_value}}" /> {{text_nights}}<p class="description">{{text_duration_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_participate}} <span class="red">*</span></td>
      <td>
        <input type="checkbox" name="is_adult_can_participate" value="1" {{#form_is_adult_can_participate_checked}}checked="checked"{{/form_is_adult_can_participate_checked}} /> {{text_adult}}
        <input type="checkbox" name="is_child_can_participate" value="1" {{#form_is_child_can_participate_checked}}checked="checked"{{/form_is_child_can_participate_checked}} /> {{text_child}}
        <input type="checkbox" name="is_infant_can_participate" value="1" {{#form_is_infant_can_participate_checked}}checked="checked"{{/form_is_infant_can_participate_checked}} /> {{text_infant}}
        <p class="description">{{text_participate_description}}</p>
      </td>
		</tr>
    <tr>
			<td>{{text_minimum_adults}} <span class="red">*</span></td>
      <td><input type="text" name="minimum_adults" size="4" value="{{form_minimum_adults_value}}" /><p class="description">{{text_minimum_adults_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_booking_date}} <span class="red">*</span></td>
      <td><input type="text" name="booking_start_date" size="12" class="date" value="{{form_booking_start_date_value}}" /> - <input type="text" name="booking_end_date" size="12" class="date" value="{{form_booking_end_date_value}}" /><p class="description">{{text_booking_date_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_stay_date}} <span class="red">*</span></td>
      <td><input type="text" name="stay_start_date" size="12" class="date" value="{{form_stay_start_date_value}}" /> - <input type="text" name="stay_end_date" size="12" class="date" value="{{form_stay_end_date_value}}" /><p class="description">{{text_stay_date_description}}</p></td>
		</tr>
    <tr>
			<td>{{text_cancellation_policy}} <span class="red">*</span></td>
      <td><textarea cols="50" rows="6" name="cancellation_policy">{{form_cancellation_policy}}</textarea><p class="description">{{text_cancellation_policy_description}}</p></td>
		</tr>
	</table>
  <h3 class="title"><input type="checkbox" name="is_flight" value="1" {{#form_is_flight_checked}}checked="checked"{{/form_is_flight_checked}} /> {{text_flight}}</h3>
  <table class="form-table">
    <tr>
			<td>{{text_places}} <span class="red">*</span></td>
      <td>
        <textarea cols="50" rows="4" name="flight_places">{{form_flight_places}}</textarea>
        <p class="description">{{text_places_description}}</p>
      </td>
		</tr>
    <tr>
			<td>{{text_airline}} <span class="red">*</span></td>
      <td><input type="text" name="flight_airline" size="30" value="{{form_flight_airline_value}}" /><p class="description">{{text_airline_description}}</p></td>
		</tr>
  </table>
  <h3 class="title"><input type="checkbox" name="is_hotel" value="1" {{#form_is_hotel_checked}}checked="checked"{{/form_is_hotel_checked}} /> {{text_hotel}}</h3>
  <table class="form-table">
    <tr>
			<td>{{text_hotel_names}} <span class="red">*</span></td>
      <td><input type="text" name="hotel_names" size="30" value="{{form_hotel_names}}" /><p class="description">{{text_hotel_names_description}}</p></td>
		</tr>
	</table>  
  <h3 class="title"><input type="checkbox" name="is_activity" value="1" {{#form_is_activity_checked}}checked="checked"{{/form_is_activity_checked}} /> {{text_activity}}</h3>
  <p class="description">{{text_activity_description}}</p>
  
	<hr class="separator" />
	
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td><input type="submit" name="submit" value="{{text_next_step}}" /></td>
		</tr>
	</table>
	</form>
</div>