<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="step-breadcrumb">
  <ul>
    <li><span>1. {{text_information}}</span></li>
    <li class="current"><span>2. {{text_schedules}}</span></li>
    <li><span>3. {{text_prices}}</span></li>
    <li><span>4. {{text_photos}}</span></li>
    <li class="last"><span>5. {{text_confirmation}}</span></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="section">
  <form action="" method="post">
  <table class="list-table">
    <thead>
      <tr>
        <th>{{text_day}}</th>
        <th>{{text_schedule_description}}</th>
        <th>{{text_stay_place}}</th>
        <th>{{text_meal}}</th>
      </tr>
    </thead>
    <tbody>
      {{#schedules}}
      <tr>
        <td>{{schedule_day}}<input type="hidden" name="schedule_days[{{schedule_day}}]" value="{{schedule_day}}" /></td>
        <td><textarea cols="50" rows="4" name="schedule_descriptions[{{schedule_day}}]" >{{schedule_form_schedule_descriptions_value}}</textarea></td>
        <td><input type="text" name="schedule_places[{{schedule_day}}]" size="12" value="{{schedule_form_schedule_places_value}}" /></td>
        <td>
          <input type="checkbox" name="schedule_is_breakfasts[{{schedule_day}}]" value="1" {{#schedule_form_schedule_is_breakfasts_checked}}checked="checked"{{/schedule_form_schedule_is_breakfasts_checked}} /> {{text_breakfast}}<br/>
          <input type="checkbox" name="schedule_is_lunchs[{{schedule_day}}]" value="1" {{#schedule_form_schedule_is_lunchs_checked}}checked="checked"{{/schedule_form_schedule_is_lunchs_checked}} /> {{text_lunch}}<br/>
          <input type="checkbox" name="schedule_is_dinners[{{schedule_day}}]" value="1" {{#schedule_form_schedule_is_dinners_checked}}checked="checked"{{/schedule_form_schedule_is_dinners_checked}} /> {{text_dinner}}<br/>
        </td>
      </tr>
      {{/schedules}}
    </tbody>
  </table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td><input type="submit" name="submit" value="{{text_next_step}}" /></td>
		</tr>
	</table>
	</form>
</div>