<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="step-breadcrumb">
  <ul>
    <li><span>1. {{text_information}}</span></li>
    <li><span>2. {{text_schedules}}</span></li>
    <li><span>3. {{text_prices}}</span></li>
    <li class="current"><span>4. {{text_photos}}</span></li>
    <li class="last"><span>5. {{text_confirmation}}</span></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="section">
  <form action="" method="post" enctype="multipart/form-data">
  <table class="form-table">
    {{#photos}}
    <tr>
      <td>{{text_name}} <span class="red">*</span></td>
      <td><input type="text" name="photo_names[]" value="{{photo_form_photo_names_value}}" /><p class="description">{{text_name_description}}</p></td>
    </tr>
    <tr>
      <td>{{text_photo}} <span class="red">*</span></td>
      <td><input type="file" name="photos[]" /><p class="description">{{text_photo_description}}</p></td>
    </tr>
    {{/photos}}
  </table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td><input type="submit" name="submit" value="{{text_next_step}}" /></td>
		</tr>
	</table>
	</form>
</div>