<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="step-breadcrumb">
  <ul>
    <li><span>1. {{text_information}}</span></li>
    <li><span>2. {{text_schedules}}</span></li>
    <li><span>3. {{text_prices}}</span></li>
    <li><span>4. {{text_photos}}</span></li>
    <li class="current last"><span>5. {{text_confirmation}}</span></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="section">
  <form action="" method="post" enctype="multipart/form-data">
  <h3 class="title">{{text_information}}</h3>
  <table class="form-table">
		<tr>
			<td>{{text_package_title}}</td>
			<td>{{title}}</td>
		</tr>
    <tr>
			<td>{{text_package_description}}</td>
      <td>{{&description}}</td>
		</tr>
    <tr>
			<td>{{text_page_availability}}</td>
      <td>{{language_name}}</td>
		</tr>
		<tr>
			<td>{{text_duration}}</td>
      <td>{{duration_days}} {{text_days}} {{duration_nights}} {{text_nights}}</td>
		</tr>
    <tr>
			<td>{{text_participate}}</td>
      <td>{{participate}}</td>
		</tr>
    <tr>
			<td>{{text_minimum_adults}}</td>
      <td>{{minimum_adults}}</td>
		</tr>
    <tr>
			<td>{{text_booking_date}}</td>
      <td>{{booking_start_date}} - {{booking_end_date}}</td>
		</tr>
    <tr>
			<td>{{text_stay_date}}</td>
      <td>{{stay_start_date}} - {{stay_end_date}}</td>
		</tr>
    <tr>
			<td>{{text_cancellation_policy}}</td>
      <td>{{&cancellation_policy}}</td>
		</tr>
	</table>
  {{#is_flight}}
  <h3 class="title">{{text_flight}}</h3>
  <table class="form-table">
    <tr>
			<td>{{text_places}}</td>
      <td>{{flight_places}}</td>
		</tr>
    <tr>
			<td>{{text_airline}}</td>
      <td>{{flight_airline}}</td>
		</tr>
  </table>
  {{/is_flight}}
  {{#is_hotel}}
  <h3 class="title">{{text_hotel}}</h3>
  <table class="form-table">
    <tr>
			<td>{{text_hotel_names}}</td>
      <td>{{hotel_names}}</td>
		</tr>
	</table>
  {{/is_hotel}}
  {{#is_activity}}
  <h3 class="title">{{text_activity}}</h3>
  {{/is_activity}}
  <h3 class="title">{{text_schedules}}</h3>
  <table class="list-table">
    <thead>
      <tr>
        <th>{{text_day}}</th>
        <th>{{text_schedule_description}}</th>
        <th>{{text_stay_place}}</th>
        <th>{{text_meal}}</th>
      </tr>
    </thead>
    <tbody>
      {{#schedules}}
      <tr>
        <td>{{schedule_day}}<input type="hidden" name="schedule_days[]" value="{{schedule_day}}" /></td>
        <td>{{&schedule_description}}</td>
        <td>{{schedule_place}}</td>
        <td>{{schedule_meal}}</td>
      </tr>
      {{/schedules}}
    </tbody>
  </table>
  <h3 class="title">{{text_prices}}</h3>
  <table class="form-table">
		<tr>
			<td>{{text_price_from}}</td>
			<td>{{price_from}} {{currency_name}}</td>
		</tr>
  </table>
  <table class="list-table">
    <thead>
      <tr>
        <th>{{text_date}}</th>
        <th>{{text_adult_price}}</th>
        <th>{{text_child_price}}</th>
        <th>{{text_infant_price}}</th>
      </tr>
    </thead>
    <tbody>
      {{#items}}
      <tr>
        <td>{{item_date}}</td>
        <td>{{item_adult_price}} {{currency_name}}</td>
        <td>{{item_child_price}} {{currency_name}}</td>
        <td>{{item_infant_price}} {{currency_name}}</td>
      </tr>
      {{/items}}
    </tbody>
  </table>
  <h3 class="title">{{text_photos}}</h3>
  <ul class="photos">
	{{#photos}}
	<li>
		<img src="{{photo_url}}" alt="{{photo_name}}" width="220" />
		<p>{{photo_name}}</p>
	</li>
	{{/photos}}
	</ul>
  <div class="clear"></div>
  <h3 class="title">{{text_package}}</h3>
  <table class="form-table">
  <tr>
    <td>{{text_show}}</td>
    <td><input type="checkbox" name="is_show" value="1" {{#form_is_show_checked}}checked="checked"{{/form_is_show_checked}} /><p class="description">{{text_show_description}}</p></td>
  </tr>
  <tr>
    <td>{{text_order}}</td>
    <td><input type="text" size="4" name="order" value="{{form_order_value}}" /><p class="description">{{text_order_description}}</p></td>
  </tr>
  </table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td><input type="submit" name="submit" value="{{text_submit}}" /></td>
		</tr>
	</table>
	</form>
</div>