<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
    
    $('#fill-adult-price').click(function(e) {
      e.preventDefault();
      $('input[name^=item_adult_price]').val($('input[name=auto_adult_price]').val());
    });
    
    $('#fill-child-price').click(function(e) {
      e.preventDefault();
      $('input[name^=item_child_price]').val($('input[name=auto_child_price]').val());
    });
    
    $('#fill-infant-price').click(function(e) {
      e.preventDefault();
      $('input[name^=item_infant_price]').val($('input[name=auto_infant_price]').val());
    });
		
		$('input[name^=fill_all]').click(function(e) {
			e.preventDefault();
			$('#fill-adult-price').trigger('click');
			$('#fill-child-price').trigger('click');
			$('#fill-infant-price').trigger('click');
		});
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<div class="step-breadcrumb">
  <ul>
    <li><span>1. {{text_information}}</span></li>
    <li><span>2. {{text_schedules}}</span></li>
    <li class="current"><span>3. {{text_prices}}</span></li>
    <li><span>4. {{text_photos}}</span></li>
    <li class="last"><span>5. {{text_confirmation}}</span></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="section">
  <form action="" method="post">
  <table class="list-table">
    <thead>
      <tr>
        <th>{{text_date}}</th>
        <th>{{text_adult_price}}</th>
        <th>{{text_child_price}}</th>
        <th>{{text_infant_price}}</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th><input type="text" size="6" name="auto_adult_price" value="" /></th>
        <th><input type="text" size="6" name="auto_child_price" value="" /></th>
        <th><input type="text" size="6" name="auto_infant_price" value="" /></th>
      </tr>
      <tr>
        <th><input type="button" name="fill_all" class="fill" value="{{text_fill_all}}" /></th>
        <th><a href="#" id="fill-adult-price"><img src="{{url_base}}media/images/arrow-270.png" class="fill" /></a></th>
        <th><a href="#" id="fill-child-price"><img src="{{url_base}}media/images/arrow-270.png" class="fill" /></a></th>
        <th><a href="#" id="fill-infant-price"><img src="{{url_base}}media/images/arrow-270.png" class="fill" /></a></th>
      </tr>
    </thead>
    <tbody>
      {{#items}}
      <tr>
        <td>{{item_date}}<input type="hidden" name="item_dates[{{item_form_item_dates_value}}]" value="{{item_form_item_dates_value}}" /></td>
        <td><input type="text" size="6" name="item_adult_prices[{{item_form_item_dates_value}}]" value="{{item_form_item_adult_prices_value}}" /> {{currency_name}}</td>
        <td><input type="text" size="6" name="item_child_prices[{{item_form_item_dates_value}}]" value="{{item_form_item_child_prices_value}}" /> {{currency_name}}</td>
        <td><input type="text" size="6" name="item_infant_prices[{{item_form_item_dates_value}}]" value="{{item_form_item_infant_prices_value}}" /> {{currency_name}}</td>
      </tr>
      {{/items}}
    </tbody>
  </table>
	<hr class="separator" />
	<table class="form-table">
		<tr>
			<td><span class="red">*</span> {{text_required}}</td>
			<td><input type="submit" name="submit" value="{{text_next_step}}" /></td>
		</tr>
	</table>
	</form>
</div>