<script type="text/javascript">
	$(document).ready(function() {
		$('.detail').each(function (index) {
			$(this).dexcellTip({
				content: $(this).next().html()
			});
		});
	});
</script>
<h1 class="title">{{text_title}}</h1>
<p class="description">{{text_description}}</p>
{{&notice}}
<form action="" method="post">
<div class="toolbar">
	<ul>
		<li><a href="{{url_package_add}}">{{text_add}}</a></li>
		<li><input type="submit" name="delete_checked" value="{{text_delete_checked}}" /></li>
		<li><input type="submit" name="show" value="{{text_show}}" /></li>
		<li><input type="submit" name="hide" value="{{text_hide}}" /></li>
	</ul>
	<div class="clear"></div>
</div>
<table class="list-table">
	<thead>
		<tr>
			<th class="checkbox"><input type="checkbox" name="check_all" value="1" /></th>
			<th>{{text_name}}</th>
      <th>{{text_language}}</th>
			<th>{{text_duration}}</th>
			<th>{{text_booking_date}}</th>
			<th>{{text_stay_date}}</th>
			<th>{{text_detail}}</th>
			<th>{{text_action}}</th>
		</tr>
	</thead>
	<tbody>
		{{#packages}}
		<tr>
			<td class="checkbox"><input type="checkbox" name="ids[{{package_id}}]" value="{{package_id}}" /></td>
			<td class="{{package_class}}">
        {{package_name}}
        {{#package_is_flight}}<img src="{{url_base}}media/images/paper-plane.png" title="{{text_flight_included}}" />{{/package_is_flight}}
        {{#package_is_hotel}}<img src="{{url_base}}media/images/building.png" title="{{text_hotel_included}}" />{{/package_is_hotel}}
        {{#package_is_activity}}<img src="{{url_base}}media/images/camera-black.png" title="{{text_activity_included}}" />{{/package_is_activity}}
        {{#package_is_transport}}<img src="{{url_base}}media/images/car.png" title="{{text_transportation_included}}" />{{/package_is_transport}}
      </td>
      <td class="{{package_class}}">{{package_language_name}}</td>
			<td class="{{package_class}}">{{package_duration}}</td>
			<td class="{{package_class}}">{{package_booking_start_date}} - {{package_booking_end_date}}</td>
			<td class="{{package_class}}">{{package_stay_start_date}} - {{package_stay_end_date}}</td>
			<td class="{{package_class}}">
				<a href="#" class="detail">{{text_detail}}</a>
				<div class="hidden">
					<div>
						<table class="detail-table">
              <tr>
								<td>{{text_order}}</td>
								<td>{{package_order}}</td>
							</tr>
              <tr>
								<td>{{text_type}}</td>
								<td>{{package_type}}</td>
							</tr>
							<tr>
								<td>{{text_name}}</td>
								<td>{{package_name}}</td>
							</tr>
							<tr>
								<td>{{text_package_description}}</td>
								<td>{{&package_description}}</td>
							</tr>
              <tr>
								<td>{{text_language}}</td>
								<td>{{package_language_name}}</td>
							</tr>
              <tr>
								<td>{{text_duration}}</td>
								<td>{{package_duration}}</td>
							</tr>
              <tr>
								<td>{{text_participants}}</td>
								<td>{{package_participants}}</td>
							</tr>
              <tr>
								<td>{{text_minimum_adults}}</td>
								<td>{{package_minimum_adults}}</td>
							</tr>
              <tr>
								<td>{{text_booking_date}}</td>
								<td>{{package_booking_start_date}} - {{package_booking_end_date}}</td>
							</tr>
              <tr>
								<td>{{text_stay_date}}</td>
								<td>{{package_stay_start_date}} - {{package_stay_end_date}}</td>
							</tr>
              <tr>
                <td>{{text_cancellation_policy}}</td>
                <td>{{&package_cancellation_policy}}</td>
              </tr>
						</table>
					</div>
				</div>
			</td>
			<td class="{{package_class}}"><a href="{{package_edit_url}}">{{text_edit}}</a> <a href="{{package_delete_url}}" class="delete">{{text_delete}}</a></td>
		</tr>
		{{/packages}}
	</tbody>
</table>
</form>