Action: Changed Item <br/>
By: {{admin_username}} ({{admin_name}}) <br/>
Room Name: {{room_name}} <br/>
<table border="1">
	<tr>
		<th>Day</th>
		<th>Date</th>
		<th>Stock</th>
		<th>Price</th>
		<th>Min. Night</th>
		<th>Stop Sell</th>
		<th>Stop Promotion</th>
	</tr>
	{{#items}}
	<tr>
		<td>{{day}}</td>
		<td>{{display_date}}</td>
		<td>{{prev_stock}} -> {{stock}}</td>
		<td>{{prev_price}} -> {{price}}</td>
		<td>{{prev_minimum_night}} -> {{minimum_night}}</td>
		<td>{{prev_is_blackout}} -> {{is_blackout}}</td>
		<td>{{prev_is_campaign_blackout}} -> {{is_campaign_blackout}}</td>
	</tr>
	{{/items}}
</table>