<script type="text/javascript">
	$(document).ready(function() {
    $('.date').datepicker({
      changeMonth: true,
      changeYear: true,
			dateFormat: 'M d, yy'
		});
    
    $('#advanced-search-link').click(function (e) {
      e.preventDefault();
      $('#advanced-search').toggle();
    });

   $("#city").change(function(){
        $("img#imgLoad").show();
        var idcity = $(this).val();

        $.ajax({
           type: "POST",
           dataType: "html",
           url: "{{#url}}search/promotion{{/url}}",
           data: "idcity="+idcity,
           success: function(msg){
               if(msg == ''){
                $("select#district").html('<option value="0">{{#__}}All District{{/__}}</option>');
               }else{
                $("select#district").html(msg);
               }
               $("img#imgLoad").hide();
           }
        });                    
   });
	});
</script>

<h1 class="title">{{#__}}Search Promotions{{/__}}</h1>
<p class="description">{{#__}}Use search form below to see promotions.{{/__}}</p>
{{&notice}}
{{#filters.search}}
<p><a href="#" id="advanced-search-link">{{#__}}New Search{{/__}}</a></p>
{{/filters.search}}
<div id="advanced-search" {{#filters.search}}class="hidden"{{/filters.search}}>
  <form method="get" action="">
    <table class="form-table">
      <tr>
        <td>{{#__}}Cities{{/__}}</td>
        <td>
          <select name="city" id="city">
            <option value="0">{{#__}}All Cities{{/__}}</option>
            {{#cities}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/cities}}
          </select>
        </td>
      </tr>
      <tr>
      <tr>
        <td>{{#__}}District{{/__}}</td>
        <td>
          <select name="district" id="district">
            <option value="0">{{#__}}All Districts{{/__}}</option>
            {{#district_texts}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/district_texts}}
          </select>
        </td>
      </tr>
        <td>{{#__}}Promotions Type{{/__}}</td>
        <td>
          <select name="type">
            <option value="0">{{#__}}All Promotions Type{{/__}}</option>
            {{#types}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/types}}
          </select>
         </td>
      </tr>
      <tr>
        <td>{{#__}}Benefit of price{{/__}}</td>
        <td><input type="text" size="2" width="3" name="benefits" value="{{filters.benefit}}" /> % {{#__}}Discount{{/__}}</td>
      </tr>
      <tr>
        <td>{{#__}}Additional benefits{{/__}}</td>
        <td>
          <select name="other_benefit">
            <option value="0">{{#__}}-{{/__}}</option>
            {{#benefit_texts}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/benefit_texts}}
          </select>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Booking Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="booking_start_date" value="{{filters.booking_start_date}}" /> - <input type="text" size="12" class="date" name="booking_end_date" value="{{filters.booking_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every booking date.{{/__}}</p>
        </td>
      </tr>
      <tr>
        <td>{{#__}}Stay Period Date{{/__}}</td>
        <td>
          <input type="text" size="12" class="date" name="stay_start_date" value="{{filters.stay_start_date}}" /> - <input type="text" size="12" class="date" name="stay_end_date" value="{{filters.stay_end_date}}" />
          <p class="description">{{#__}}You can leave this value blank to search every stay period date.{{/__}}</p>
        </td>
      </tr>
    </table>
    <hr class="separator" />
    <table class="form-table">
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="search" value="{{#__}}Search{{/__}}" /></td>
      </tr>
    </table>
  </form>
</div>
{{#filters.search}}
<table class="list-table">
	<thead>
		<tr>
      <th>{{#__}}Hotel Name{{/__}}</th>
      <th>{{#__}}Promotions Name{{/__}}</th>
			<th>{{#__}}Room Name{{/__}}</th>
      <th>{{#__}}Booking Periode{{/__}}</th>
			<th>{{#__}}Stay Periode{{/__}}</th>
      <th>{{#__}}Additional Benefits{{/__}}</th>
      <th>{{#__}}Action{{/__}}</th>
		</tr>
	</thead>
	<tbody>
		{{#promotions}}
		<tr>			
			<td class="">{{hotel_name}}</td>
      <td class="">{{promotion_name}}</td>
			<td class="">{{room_name}}</td>
      <td class="">{{booking_period}}</td>
			<td class="">{{stay_period}}</td>
      <td class="">{{additional_benefit}}</td>
      <td class=""><a href="{{#url}}promotion/edit/{{campaign_id}}{{/url}}">{{#__}}Detail{{/__}}</a></td>
		</tr>
		{{/promotions}}
	</tbody>
</table>
{{&pagination}}
{{/filters.search}}
